<div class="search-area">
    <form>
        <input type="text" name="searchText" value="{{ searchText }}" placeholder="회사명 또는 종목코드">
        <input type="hidden" name="skip" value="{{skip}}">
        <input type="hidden" name="limit" value="{{limit}}">
        <button type="button" id="btnCorpCodeSubmit">검색</button>
    </form>
</div>
<div class="result-area"></div>
{% raw %}
<script id="corp-template" type="text/x-handlebars-template">
{{#if list.length}}
<div class="flex flex-col">
    {{#each list as |corp index|}}
        <div class="flex flex-row border-b border-gray-200">
            <div class="flex-1 p-2">{{incFromStart index ../skip }}</div>
            <div class="flex-1 p-2">{{corp.corp_code}}</div>
            <div class="flex-1 p-2">{{corp.corp_name}}</div>
            <div class="flex-1 p-2">{{corp.stock_code}}</div>
            <div class="flex-1 p-2">{{corp.modify_date}}</div>
        </div>
    {{/each}}
</div>
{{else}}
<div class="flex flex-row border-b border-gray-200">
    <div class="flex-1 p-2 text-center" colspan="4">No result</div>
</div>
{{/if}}


</script>
{% endraw %}

{% block script %}{% raw %}
<script>
    
    jQuery(document).ready(function () {
        //메뉴클릭 이벤트
        $('form').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) { 
                $('#btnCorpCodeSubmit').click();
                return false;
            }
        });

        $('.result-area').on('click','#nextButton', function(){
            var searchText = $('input[name=searchText]').val();
            var skip = $(this).data('skip');
            var limit = $('input[name=limit]').val() || 10;            
            getAndFill(searchText, skip, limit)
        });
        //검색 버튼
        $('.search-area').on('click','#btnCorpCodeSubmit', function(){

            var searchText = $('input[name=searchText]').val();
            var skip = $('input[name=skip]').val() || 0;
            var limit = $('input[name=limit]').val() || 10;
            //debugger;
            $(".result-area").empty();
            getAndFill(searchText, skip, limit)
            
        });
        function getAndFill(searchText, skip, limit){
            fetch('/openapi/dart/corp_code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    searchText: searchText,
                    skip: Number(skip),
                    limit: Number(limit)
                })
            })
            .then(response => response.json())
            .then(data => {
                var source = $('#corp-template').html();
                var template = Handlebars.compile(source);
                var context = {
                    searchText: searchText,
                    list: data.corp_list,
                    skip : data.skip,
                    limit : data.limit,
                    next : data.next
                };
                var html = template(context);
                $(".result-area").append(html);
                $('.result-area').find('#nextButton').remove();
                if(data.next){
                  var skip = data.skip+data.limit;
                  var nextHtml =  `<a href="#" data-skip="${skip}" id="nextButton" class="next">Next</a>`;
                  $(".result-area").append(nextHtml);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });            
        }
        $('#btnGetAndFillDb').click(function () {
            alert("DART corp code 가져와서 테이블 dart_corp_code에 저장하기-schedule로");
            return;
            fetch('/openapi/dart/batch/corp_code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                location.href = '/openapi/dart/menu';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
</script>
{% endraw %}{% endblock %}