{% extends 'common/base.html' %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="ipo-list" class="container">
    <div id="button-area">
        <a href="/scheduler/add" class="btn btn-primary">스케줄러 추가</a>
    </div>
    <div id="table-area"></div>
</section>

{% raw %} 
<script id="scheduler-table" type="text/x-handlebars-template">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Next Run Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>    
    {{#each list}}
    <tr>
        <td>{{@index}}</td>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{next_run_time}}</td>
        <td>삭제</td>
    </tr>
    {{/each}}
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}



{% block script %}
{% raw %}
<script>
    $( document ).ready(function() {
        console.log('scheduler list.... ');
        async function initialize() {
            await fetchData('/api/v1/scheduler').then(data => {
                console.log(data);
                var source = $('#scheduler-table').html();
                var template = Handlebars.compile(source);

                var html = template({list: data});

                $('#table-area').html(html);
            });
        }
        initialize();
    });
    </script>	
    
{% endraw %}
{% endblock %}