#
# export LUCY_MODE=local 
# 이 경우 .env.local을 읽어서 처리한다.
#
#----------------------------------------------------
# DATABASE
#----------------------------------------------------
DB_URL=mongodb://root:root@test.kfs.co.kr:27017/
DB_NAME=stockdb

# LOG
LOG_LEVEL=DEBUG
LOG_FILE=c:\\tmp\\logs\\lucy\\lucy.log

# JWT
SECRET_KEY=lucy_secret_key_1234_!@#$
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ACCESS_TOKEN_NAME=lucy_access_token