#----------------------------------------------------
# DATABASE
#----------------------------------------------------
DB_URL=mongodb://localhost:27017/
DB_NAME=stockdb

#----------------------------------------------------
# Default User
#----------------------------------------------------
DEFAULT_USER_ID=kdy987
DEFAULT_STOCK_ABBR=KIS

# LOG
LOG_LEVEL=DEBUG
LOG_FILE=c:\\tmp\\logs\\lucy\\lucy.log

# JWT
SECRET_KEY=lucy_secret_key_1234_!@#$
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ACCESS_TOKEN_NAME=lucy_token

# folder
DATA_FOLDER=data