# web-applications-with-fastapi-course
# method는 list와 merge가 있음
method=merge
target-folder=C:\Users\deHong\tmp\소스\web-applications-with-fastapi-course-main\code\ch8-async-databases
target-files=*.py;*.md;*.txt;*.css;*.pt
# 배제할 폴더나 파일, 폴더인 경우 끝부분을 / 여야함.
exclude-files=.vscode/;__pychache__/;env/;venv/;.gitignore;bin/;bootstrap.min.css
output-file=C:\Users\deHong\Documents\kdy\소스참조\fastapi-course-source.py
