{% raw %}
<table class="table table-bordered table-hover table-sm">
    <thead class="table-success">
        <tr>
            <th><a href="#" data-field="hname" class="sort-range">한글명<i class="bi"></i></a></th>
            <th class="text-center">종목코드</th>
            <th class="text-end"><a href="#" data-field="price" class="sort-range">현재가<i class="bi"></i></a></th>
            <th class="text-center"><a href="#" data-field="sign" class="sort-range">구분<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="change" class="sort-range">전일대비<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="diff" class="sort-range">등락율<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="volume" class="sort-range">누적거래량<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="offerrem1" class="sort-range">매도잔량<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="offerho1" class="sort-range">매도호가<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="bidho1" class="sort-range">매수호가<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="bidrem1" class="sort-range">매수잔량<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="jnildiff" class="sort-range">전일등락율<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="voldiff" class="sort-range">거래량대비율<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="value" class="sort-range">거래대금<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="total" class="sort-range">시가총액<i class="bi"></i></a></th>
            <th class="text-center">동작</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{toggleCompanyCanvas shcode hname}}</td>
            <td class="text-center">{{goNaver shcode}}</td>
            <td class="text-center">{{displayWon price}}</td>
            <td class="text-center">{{displaySign sign}}</td>
            <td class="text-end">{{displayWon change}}</td>
            <td class="text-end">{{diff}}</td>
            <td class="text-end">{{displayWon volume}}</td>
            <td class="text-end">{{displayWon offerrem1}}</td>
            <td class="text-end">{{displayWon offerho1}}</td>
            <td class="text-end">{{displayWon bidho1}}</td>
            <td class="text-end">{{displayWon bidrem1}}</td>
            <td class="text-end">{{jnildiff}}</td>
            <td class="text-end">{{voldiff}}</td>
            <td class="text-end">{{displayWon value}}</td>
            <td class="text-end">{{displayJoEok total}}</td>
            <td class="text-center">
                <button class="btnAddAttension btn btn-warning btn-sm" data-stk-code="{{this.shcode}}" data-stk-name="{{this.hname}}" title="{{hname}} 관심 추가"><i class="bi bi-plus"></i></button>
                <a href="/page?path=mystock/stock_detail&stk_code={{this.shcode}}" class="btn btn-primary btn-sm" title="{{hname}} 상세보기" target="_blank"><i class="bi bi-eye"></i></a>                
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{% endraw %}
