{% raw %}
<table class="table  table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>종목코드</th>
            <th>종목명</th>
            <th class="text-end">현재가</th>
            <th>전일대비구분</th>
            <th class="text-end">전일대비</th>
            <th class="text-end">등락율</th>
            <th class="text-end">전일거래량</th>
            <th class="text-end">당일거래량</th>
            <th class="text-end">거래급등율</th>
            <th class="text-end">시가</th>
            <th class="text-end">고가</th>
            <th class="text-end">저가</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{shcode}}</td>
                <td>{{hname}}</td>
                <td class="text-end">{{price}}</td>
                <td>{{sign}}</td>
                <td class="text-end">{{change}}</td>
                <td class="text-end">{{diff}}</td>
                <td class="text-end">{{stdvolume}}</td>
                <td class="text-end">{{volume}}</td>
                <td class="text-end">{{voldiff}}</td>
                <td class="text-end">{{open}}</td>
                <td class="text-end">{{high}}</td>
                <td class="text-end">{{low}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{% endraw %}
