{% raw %}
<table class="table table-bordered table-hover table-sm">
    <thead class="table-success">
        <tr>
            <th><a href="#" data-field="hname" class="sort-timeoutrange">한글명<i class="bi"></i></a></th>
            <th>종목코드</th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">현재가<i class="bi"></i></a></th>
            <th><a href="#" data-field="hname" class="sort-timeoutrange">구분<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">전일대비<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">등락율<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">누적거래량<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">매도잔량<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">매수잔량<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">매도호가<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">매수호가<i class="bi"></i></a></th>
            <th class="text-end"><a href="#" data-field="hname" class="sort-timeoutrange">누적거래대금<i class="bi"></i></a></th>
            <th class="text-center">동작</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{toggleCompanyCanvas shcode hname}}</td>
            <td>{{goNaver shcode}}</td>
            <td class="text-end">{{displayWon price}}</td>
            <td>{{displaySign sign}}</td>
            <td class="text-end">{{displayWon change}}</td>
            <td class="text-end">{{diff}}</td>
            <td class="text-end">{{displayWon volume}}</td>
            <td class="text-end">{{displayWon offerrem1}}</td>
            <td class="text-end">{{displayWon bidrem1}}</td>
            <td class="text-end">{{displayWon offerho1}}</td>
            <td class="text-end">{{displayWon bidho1}}</td>
            <td class="text-end">{{displayWon value}}</td>
            <td class="text-center">
                <button class="btnAddAttension btn btn-warning btn-sm" data-stk-code="{{this.shcode}}" data-stk-name="{{this.hname}}" title="{{hname}} 관심추가"><i class="bi bi-plus"></i></button>
                <a href="/page?path=mystock/stock_detail&stk_code={{this.shcode}}" class="btn btn-primary btn-sm" title="{{hname}} 상세보기" target="_blank"><i class="bi bi-eye"></i></a>                
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{% endraw %}
