<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joanna-Stock Trading System</title>
</head>
<body>
    <h1>주식매매테스팅</h1>
    <h2>한국투자증권</h2>
    <ul>
        <li><a href="/stc/korea_investment/test1">한국투자증권-주식현재가시세</a></li>
        <li><a href="/stc/korea_investment/test2">한국투자증권-일자별종가</a></li>
        <li><a href="/stc/korea_investment/test3">한국투자증권-주식주문(현금) 매수</a></li>
    </ul>
    
</body>
</html>