{% extends 'common/base.html' %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="list-area" class="container">
    <!-- <div id="button-area">
        <a href="#"  class="btnDisplayForm btn btn-success" data-mode="insert">추가</a>
    </div> -->
    <div id="config-table-area"></div>
    <div id="scheduler-table-area"></div>
</section>
<!-- Scheduler 수정 폼 -->
<section id="scheduler-form-area" class="container d-none" >
    <h2 id="title">Scheduler Edit </h2>
    <form id="scheduler-form" action="/api/v1/scheduler" method="post">
        <input type="hidden" name="db_action" id="db_action" value="insert">

        <div class="mb-3">
            <label for="job_id" class="form-label">Job Id</label>
            <input type="text" class="form-control" id="job_id" name="job_id"  required readonly>
        </div>

        <div class="mb-3">
            <label for="run_type" class="form-label">Run Type</label>
            <input type="text" class="form-control" id="run_type" name="run_type" required  readonly>
        </div>

        <div class="mb-3">
            <label for="args" class="form-label">Arguments</label>
            <input type="text" class="form-control" id="args" name="args" required>
        </div>

        <div class="mb-3">
            <label for="cron_str" class="form-label">Cron</label>
            <input type="text" class="form-control" id="cron_str" name="cron_str" required >
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-secondary btnHideForm">Cancel</button>
    </form>

</section>
<section id="config-form-area" class="container d-none" >
    <h2 id="title">Config Add </h2>
    <form id="dbconfig-form" action="/api/v1/config" method="post">
        <input type="hidden" name="db_action" id="db_action" value="insert">

        <div class="mb-3">
            <label for="mode" class="form-label">Mode</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mode" id="modeSystem" value="System" readonly>
                <label class="form-check-label" for="modeSystem">System</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mode" id="modeUser" value="User" readonly>
                <label class="form-check-label" for="modeUser">User</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="key" class="form-label">Key</label>
            <input type="text" class="form-control" id="key" name="key"  required>
        </div>

        <div class="mb-3">
            <label for="value" class="form-label">Value</label>
            <input type="text" class="form-control" id="value" name="value" required>
        </div>

        <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <textarea class="form-control" id="note" name="note" rows="3"></textarea>
        </div>
        <input type="hidden"  name="editable" id="editable" value="" required>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-secondary btnHideForm">Cancel</button>
    </form>
</section>

{% raw %} 
<script id="table1-template" type="text/x-handlebars-template">
    <h2>Config</h2>
    <table id="table1" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Note</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>    
    {{#each list}}
    <tr>
        <td>{{inc @index}}</td>
        <td>{{mode}}</td>
        <td>{{key}}</td>
        <td>{{value}}</td>
        <td>{{note}}</td>
        <td>
            {{#test "editable == true"}}
            <button type="button" class="btn btn-sm btn-primary btnDisplayForm" data-key="{{key}}" data-mode="update">Edit</button>
            {{/test}}
        </td>
    </tr>
    {{/each}}
        </tbody>
    </table>
</script>
<script id="scheduler-table" type="text/x-handlebars-template">
    <h2>Scheduler</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Id</th>
                <th scope="col">Run Type</th>
                <th scope="col">Arguments</th>
                <th scope="col">Cron</th>
            </tr>
        </thead>
        <tbody>    
    {{#each list}}
    <tr>
        <td>{{inc @index}}</td>
        <td>{{job_id}}</td>
        <td>{{run_type}}</td>
        <td>{{args}}</td>
        <td>{{cron_str}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-primary btnDisplaySchedulerForm" data-key="{{job_id}}" data-mode="update">Edit</button>
        </td>
    </tr>
    {{/each}}
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}

{% block script %}
{% raw %}
<script>
    $( document ).ready(function() {
        console.log('config list.... ');
        async function initialize() {
            //모든 config 정보를 가져와서 테이블에 표시
            await getFetch('/api/v1/config').then(data => {
                console.log(data);
                var source = $('#table1-template').html();
                var template = Handlebars.compile(source);

                var html = template({list: data});

                $('#config-table-area').html(html);
            }).catch(error => {
                console.error('upsertConfig 중 에러 발생:', error);
                showToastError(error);
            });
            //스케줄러 정보를 가져와서 테이블에 표시
            await getFetch('/api/v1/scheduler').then(data => {
                console.log(data);
                var source = $('#scheduler-table').html();
                var template = Handlebars.compile(source);

                var html = template({list: data});

                $('#scheduler-table-area').html(html);
            });
        }
        // config key로 조회
        async function getConfigFromDb(key) {
            try{
                const data = await getFetch('/api/v1/config/'+key);
                $('#db_action').val('update');
                if (data.mode == 'System') $('#modeSystem').prop('checked', true);
                else $('#modeUser').prop('checked', true);

                // $('input[name=mode]').prop('checked', true);
                // $('#mode').val(data.mode);
                $('#key').val(data.key);
                $('#value').val(data.value);
                $('#note').val(data.note);
                $('#editable').val(data.editable);
            }catch (error) {
                console.error('upsertConfig 중 에러 발생:', error);
                showToastError(error);
            }
        }
        // scheduler job_id로  조회
        async function getSchedulerFromDb(job_id) {
            try{
                const data = await getFetch('/api/v1/scheduler/'+job_id);
                $('#job_id').val(data.job_id);
                $('#run_type').val(data.run_type);
                $('#args').val(data.args);
                $('#cron_str').val(data.cron_str);


            }catch (error) {
                console.error('upsertConfig 중 에러 발생:', error);
                showToastError(error);
            }
        }
        // config 추가/수정 
        async function upsertConfig(configData) {

            try {
                let response;
                if(configData.db_action == 'insert') {
                    const data = JuliaUtil.removeElement(configData, 'db_action')
                    response = await postFetch('/api/v1/config', data);
                }else if(configData.db_action == 'update') {

                    const data = JuliaUtil.removeElement(configData, 'db_action')
                    response = await putFetch('/api/v1/config/'+data.key,data);
                }
                console.log('응답 데이터:', response);
                window.location.reload();
            } catch (error) {
                console.error('upsertConfig 중 에러 발생:', error);
                showToastError(error);
            }
        }
        async function deleteConfig(key) {
            try {
                const response = await deleteFetch('/api/v1/config/'+key);
                console.log('응답 데이터:', response);
                window.location.reload();
            } catch (error) {
                console.error('deleteConfig 중 에러 발생:', error);
                alert('Failed to delete configuration. Please try again later.');
            }
        }

        async function upsertScheduler(data) {

            try {
                response = await postFetch('/api/v1/scheduler/edit/'+data.key, data);
                console.log('응답 데이터:', response);
                window.location.reload();
            } catch (error) {
                console.error('upsertScheduler  중 에러 발생:', error);
                showToastError(error);
            }
        }
        initialize();
        
        //-------------------------------
        //events
        //-------------------------------
        // function events_initialize(){
            $('.container').on('click', '.btnHideForm', function(e) {
                e.preventDefault();
                e.stopPropagation();

                $('#config-form-area').addClass('d-none');
                $('#list-area').removeClass('d-none');
            });
            //scheduler form submit클릭
            $('#scheduler-form').on('submit', function(event) {
                event.preventDefault();
                const dataObject = JuliaUtil.objectFromForm($(this));
                console.log(dataObject);
                upsertScheduler(dataObject);
            });
            //config form submit클릭
            $('#dbconfig-form').on('submit', function(event) {
                event.preventDefault();
                $('#modeSystem').prop('disabled', false);
                $('#modeUser').prop('disabled', false);                
                const dataObject = JuliaUtil.objectFromForm($(this));
                console.log(dataObject);
                upsertConfig(dataObject);
            });
            //Scheduler 수정 버튼 클릭시
            $('.container').on('click', '.btnDisplaySchedulerForm', function(e){
                e.preventDefault();
                e.stopPropagation();
                $('#scheduler-form-area').removeClass('d-none');
                $('#list-area').addClass('d-none');
                var key = $(this).data('key');
                console.log('key:', key);
                debugger;
                getSchedulerFromDb(key);

            });
            //Config 수정버튼 클릭시
            $('.container').on('click', '.btnDisplayForm', function(e){
                e.preventDefault();
                e.stopPropagation();
                $('#config-form-area').removeClass('d-none');
                $('#list-area').addClass('d-none');

                let mode = $(this).data('mode');
                if(mode =='insert') {
                    $('#title').text('New Config Add');
                    $('#db_action').val('insert');
                    $('#key').val('');
                    $('#value').val('');
                    $('#note').val('');
                    $('#editable').val('false');
                    $('#modeSystem').prop('disabled', true);
                    $('#modeSystem').prop('checked', true);
                } else {
                    $('#db_action').val('update');
                    $('#title').text('Config 수정');
                    $('#modeSystem').prop('disabled', true);
                    $('#modeUser').prop('disabled', true);
                    $('#key').prop('readonly', true);
                    debugger;
                    var key = $(this).data('key');
                    getConfigFromDb(key);

                }
            });
            $('.container').on('click', '.btnDelete', function(e){
                e.preventDefault();
                e.stopPropagation();

                const key = $(this).data('key');
                if(confirm('Are you sure you want to delete this configuration?')){
                    deleteConfig(key);
                }
            });            
        // }
    });
    </script>	
    
{% endraw %}
{% endblock %}