{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h1>서비스 키 발급 리스트</h1>
<div>
    <a href="/page?path=company/register" class="btn btn-primary">API Service 등록</a>
</div>
<div id="result-area"></div>
{% raw %}
<!--handlebar scripts-->
<script id="list-template" type="text/x-handlebars-template">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>순번</th>
                <th>회사 ID</th>
                <th>서비스명</th>
                <th>시작일</th>
                <th>종료일</th>
                <th>APP KEY</th>
                <th>발급일시</th>
                <th>동작</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{inc @index}}</td>
                <td>{{company_id}}</td>
                <td>{{service_id}}</td>
                <td>{{displayYmd start_ymd}}</td>
                <td>{{displayYmd end_ymd}}</td>
                <td>{{truncate app_key 10}}</td>
                <td>{{created_at}}</td>
                <td>
                    <button class="btnDelete btn btn-danger" data-company-id="{{company_id}}" data-service-nm="{{service_id}}">삭제</button>
                    <!-- <a class="btn btn-success" href="/page?path=company/token_test&app_key={{app_key}}">Token테스트</a> -->
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
let gList = [];
$( document ).ready(function() {
    function makeTable(){
        const html = makeHtmlWithTemplate('list-template', {list:gList});
        $('#result-area').html(html);
    }
    function initialize() {
        getFetch('/api/v1/company').then(data => {
            console.log(data); 
            gList = data;
            makeTable();
        }).catch(error=> {
            console.error(error.message);
            showAlertError(error);
        });
    }
    console.log( "발급현황 ready!")
    initialize();

    $("#result-area").on("click", ".btnTokenTest", function() {
        const url = '/company';
        const company_id = $(this).data('company-id');
        const service_id = $(this).data('service-nm');
        const start_ymd = $(this).data('start-ymd');
        const data = { company_id : company_id, service_id : service_id, start_ymd : start_ymd};
        postFetch(url, data).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
        });
    });
    $("#result-area").on("click", ".btnDelete", function() {
        console.log("delete button clicked");
        const company_id = $(this).data('company-id');
        const service_id = $(this).data('service-nm');

        if( confirm(`${company_id}-${service_id} 삭제하시겠습니까?`) == false) {
            return;
        }

        const url = `/api/v1/company/delete/${company_id}/${service_id}`;
        deleteFetch(url,{}).then(data => {
            console.log(data); 
            initialize();
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    
});
</script>
{% endraw %}
{% endblock %}