{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div>
    <input type="hidden" id="param_ifi01_company_api_id" value="{{ifi01_company_api_id}}">
</div>
<div id="result-area">

</div>
{% raw %}
<!--handlebar scripts-->
<script id="issue-template" type="text/x-handlebars-template">
    <h2 class="mb-4">OPEN API 발급현황(DB저장된 내용)</h2>
    <div class="mb-3">
        <label for="ifi01_company_api_id" class="form-label">Company API ID</label>
        <input type="text" class="form-control" id="ifi01_company_api_id" name="ifi01_company_api_id" value="{{ifi01_company_api_id}}" readonly>
    </div>
    <div class="mb-3">
        <label for="ifi01_company_id" class="form-label">Company ID</label>
        <input type="text" class="form-control" id="ifi01_company_id" name="ifi01_company_id" value="{{ifi01_company_id}}" readonly>
    </div>
    <div class="mb-3">
        <label for="ifi01_service_cd" class="form-label">Service ID</label>
        <input type="text" class="form-control" id="ifi01_service_cd" name="ifi01_service_cd" value="{{ifi01_service_cd}}" readonly>
    </div>
    <div class="mb-3">
        <label for="ifi01_start_date" class="form-label">Start date</label>
        <input type="date" class="form-control" id="ifi01_start_date" name="ifi01_start_date" value="{{ifi01_start_date}}"  >
    </div>
    <div class="mb-3">
        <label for="ifi01_close_date" class="form-label">End date</label>
        <input type="date" class="form-control" id="ifi01_close_date" name="ifi01_close_date" value="{{ifi01_close_date}}" >
    </div>
    <div class="mb-3">
        <label for="ifi01_app_key" class="form-label">APP KEY</label>
        <input type="text" class="form-control" id="ifi01_app_key" name="ifi01_app_key" value="{{ifi01_app_key}}" readonly>
    </div>
    <div class="mb-3">
        <label for="ifi01_app_secret_key" class="form-label">APP SECRET KEY</label>
        <input type="text" class="form-control" id="ifi01_app_secret_key" name="ifi01_app_secret_key" value="{{ifi01_app_secret_key}}" readonly>
        <p class="text-danger fst-italic">APP SECRET KEY는 db에 저장되어 있지 않습니다</p>
    </div>
    <div class="mb-3">
        <label for="ifi01_created_date" class="form-label">Create date time</label>
        <input type="text" class="form-control" id="ifi01_created_date" name="ifi01_created_date" value="{{ifi01_created_date}}" readonly>
    </div>
    <div class="mb-3">
        <label for="ifi01_update_date" class="form-label">Update date time</label>
        <input type="text" class="form-control" id="ifi01_update_date" name="ifi01_update_date" value="{{ifi01_update_date}}" readonly>
    </div>
    <div class="mt-2">
        <button id="btnReRegister" class="btn btn-primary">APP & SECRET KEY 재발급</button>
        <button id="btnClipboard" class="btn btn-success">Copy to clipboard</button>
        <button class="btn btn-secondary" onclick="location.href='/page?path=company/list'">리스트로 이동</button>
    </div>
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
$( document ).ready(function() {
    const ifi01_company_api_id = $('#param_ifi01_company_api_id').val();

    function initialize(){
        const url = `/api/v1/company/info/${ifi01_company_api_id}`;
        getFetch(url).then(data => {
            console.log(data); 
            // data.start_ymd = data.start_ymd.substring(0, 4)+'-'+data.start_ymd.substring(4, 6)+'-'+data.start_ymd.substring(6, 8);
            // data.end_ymd = data.end_ymd.substring(0, 4)+'-'+data.end_ymd.substring(4, 6)+'-'+data.end_ymd.substring(6, 8);

            const html = makeHtmlWithTemplate('issue-template', data);
            $('#result-area').html(html);
        });
    }
    initialize();
    //copy to clipboard
    $("#result-area").on("click", "#btnClipboard", function() {
        const app_key = $('#ifi01_app_key').val();
        const app_secret_key = $('#ifi01_app_secret_key').val();
        const text = `APP KEY : [${app_key}]\nAPP SECRET KEY : [${app_secret_key}]`;
        copyToClipboard(text, "APP KEY & SECRET KEY 복사 완료");
    });
    $("#result-area").on("click", "#btnReRegister", function() {
        //APP KEY & SECRET KEY 재발급
        const ifi01_company_api_id = $('#ifi01_company_api_id').val();
        const url = `/api/v1/company/re-register/${ifi01_company_api_id}`;
        const ifi01_company_id = $('#ifi01_company_id').val();
        const ifi01_service_cd = $('#ifi01_service_cd').val();
        const ifi01_start_date = $('#ifi01_start_date').val();
        const ifi01_close_date = $('#ifi01_close_date').val();
        const ifi01_created_date = $('#ifi01_created_date').val();

        const data = {
            ifi01_company_id : ifi01_company_id,
            ifi01_service_cd : ifi01_service_cd,
            ifi01_start_date: ifi01_start_date,
            ifi01_close_date : ifi01_close_date
        }
        postFetch(url, data).then(response => {
            console.log(response);
            initialize();
            showAlertMessage("APP KEY & SECRET KEY 재발급 완료");
        }).catch(error => {
            console.error(error);
            showAlertError(error, true);
        });
        
    });
});
</script>
{% endraw %}
{% endblock %}