{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div>
    <input type="hidden" id="param_company_id" value="{{company_id}}">
    <input type="hidden" id="param_service_id" value="{{service_id}}">    
</div>
<div id="result-area">

</div>
{% raw %}
<!--handlebar scripts-->
<script id="issue-template" type="text/x-handlebars-template">
    <h2 class="mb-4">OPEN API 발급현황(DB저장된 내용)</h2>
    <div class="mb-3">
        <label for="company_id" class="form-label">Company ID</label>
        <input type="text" class="form-control" id="company_id" name="company_id" value="{{company_id}}" readonly>
    </div>
    <div class="mb-3">
        <label for="service_id" class="form-label">Service ID</label>
        <input type="text" class="form-control" id="service_id" name="service_id" value="{{service_id}}" readonly>
    </div>
    <div class="mb-3">
        <label for="start_ymd" class="form-label">Start date</label>
        <input type="date" class="form-control" id="start_ymd" name="start_ymd" value="{{start_ymd}}"  >
    </div>
    <div class="mb-3">
        <label for="end_ymd" class="form-label">End date</label>
        <input type="date" class="form-control" id="end_ymd" name="end_ymd" value="{{end_ymd}}" >
    </div>
    <div class="mb-3">
        <label for="app_key" class="form-label">APP KEY</label>
        <input type="text" class="form-control" id="app_key" name="app_key" value="{{app_key}}" readonly>
    </div>
    <div class="mb-3">
        <label for="app_secret_key" class="form-label">APP SECRET KEY</label>
        <input type="text" class="form-control" id="app_secret_key" name="app_secret_key" value="{{app_secret_key}}" readonly>
        <p class="text-danger fst-italic">APP SECRET KEY는 db에 저장되어 있지 않습니다</p>
    </div>
    <div class="mb-3">
        <label for="created_at" class="form-label">Create date time</label>
        <input type="text" class="form-control" id="created_at" name="created_at" value="{{created_at}}" readonly>
    </div>
    <div class="mt-2">
        <button id="btnReRegister" class="btn btn-primary">APP & SECRET KEY 재발급</button>
        <button id="btnClipboard" class="btn btn-success">Copy to clipboard</button>
        <button class="btn btn-secondary" onclick="location.href='/page?path=company/list'">리스트로 이동</button>
    </div>
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
$( document ).ready(function() {
    const company_id = $('#param_company_id').val();
    const service_id = $('#param_service_id').val();

    function initialize(){
        const url = `/api/v1/company/info/${company_id}/${service_id}`;
        getFetch(url).then(data => {
            console.log(data); 
            data.start_ymd = data.start_ymd.substring(0, 4)+'-'+data.start_ymd.substring(4, 6)+'-'+data.start_ymd.substring(6, 8);
            data.end_ymd = data.end_ymd.substring(0, 4)+'-'+data.end_ymd.substring(4, 6)+'-'+data.end_ymd.substring(6, 8);

            const html = makeHtmlWithTemplate('issue-template', data);
            $('#result-area').html(html);
        });
    }
    initialize();
    //copy to clipboard
    $("#result-area").on("click", "#btnClipboard", function() {
        const app_key = $('#app_key').val();
        const app_secret_key = $('#app_secret_key').val();
        const text = `APP KEY : [${app_key}]\nAPP SECRET KEY : [${app_secret_key}]`;
        copyToClipboard(text, "APP KEY & SECRET KEY 복사 완료");
    });
    $("#result-area").on("click", "#btnReRegister", function() {
        //APP KEY & SECRET KEY 재발급
        const url = `/api/v1/company/re-register`;
        const company_id = $('#company_id').val();
        const service_id = $('#service_id').val();
        const start_ymd = $('#start_ymd').val().replace(/\D/g, '');
        const end_ymd = $('#end_ymd').val().replace(/\D/g, '');

        const data = {
            company_id : company_id,
            service_id : service_id,
            start_ymd : start_ymd,
            end_ymd : end_ymd
        }
        postFetch(url, data).then(response => {
            console.log(response);
            initialize();
        }).catch(error => {
            console.error(error);
            showAlertError(error, true);
        });
        
    });
});
</script>
{% endraw %}
{% endblock %}