{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h3>MyStock</h3>
<div id="mystock-search-area" class="m-2 p-2">
    <form style="display: flex; align-items: center;">
        <div class="form-check form-switch me-3">
            <input class="form-check-input" type="checkbox" id="currentCostRefresh" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">현재가 Refresh</label>
        </div>        
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="option0" value="ALL" checked>
            <label class="form-check-label" for="option0">ALL</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="option1" value="보유">
            <label class="form-check-label" for="option1">보유</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="option2" value="관심">
            <label class="form-check-label" for="option2">관심</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="options" id="option3" value="단타">
            <label class="form-check-label" for="option3">단타</label>
        </div>
        <!-- 버튼을 폼 내부에 추가 -->
        <div style="margin-left: 10px;">
            <button class="btn btn-sm btn-secondary" id="btnExtractStkType">빼기</button>
            <button class="btn btn-sm btn-primary" id="btnMyKeep">보유</button>
            <button class="btn btn-sm btn-success" id="btnShowModalFind" data-bs-toggle="modal" data-bs-target="#stock-find-modal">찾기</button>
        </div>
    </form>
</div>
<div id="mystock-result-area" class="mt-3"></div>
<!-- Stock Find Modal -->
<div class="modal fade" id="stock-find-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">종목찾기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal-search-area" class="form-inline d-flex">
                    <input type="text" name="keyword" id="keyword" placeholder="종목명" class="form-control mx-2">
                    <button id="btnModalSearch" class="btn btn-primary btn-sm"><i class="bi bi-search"></i></button>
                    <button id="btnModalClear" class="btn btn-secondary btn-sm ms-2"><i class="bi bi-x"></i></button>
                </div>
                <div id="modal-result-area" class="mt-3" style="max-height: 300px; overflow-y: auto;">
                    <ul class="list-group">
                        <!-- 검색 결과 리스트 항목이 여기 들어갑니다 -->
                    </ul>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% raw %}
<!--handlebar scripts-->
<script id="mystock-template" type="text/x-handlebars-template">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>종류</th>
                <th>종목코드</th>
                <th>종목명</th>
                <th class="text-end">현재가</th>
                <th class="text-end">전일대비</th>
                <th class="text-end">등락율</th>
                <th class="text-center">동작</th>
                <th class="text-center">매수/매도 기준가</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{split_and_badge this.stk_types}}</td>
                <td>{{goNaver this.stk_code}}</td>
                <td>{{this.stk_name}}</td>
                <td  id="cost_{{stk_code}}" class="text-end">-</td>
                <td  id="change_{{stk_code}}" class="text-end">-</td>
                <td  id="diff_{{stk_code}}" class="text-end">-</td>
                <td class="ms-2 text-center">
                    {{#test 'stk_types.indexOf("관심") != -1'}}
                    <button class="btnAttensionDelete btn btn-warning btn-sm" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}" title="관심..삭제"><i class="bi bi-dash"></i></button>
                    {{else}}
                    <button class="btnAddAttension btn btn-warning btn-sm" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}" title="관심..추가"><i class="bi bi-plus"></i></button>
                    {{/test}}
                    {{#test 'stk_types.indexOf("단타") != -1'}}
                    <button class="btnDantaDelete btn btn-success btn-sm" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}" title="단타..삭제"><i class="bi bi-dash"></i></button>
                    {{else}}
                    <button class="btnDantaAdd btn btn-success btn-sm" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}" title="단타추가"><i class="bi bi-plus-circle"></i></button> 
                    {{/test}}
                </td>
                <td class="d-flex align-items-center">
                    <input type="number" class="form-control form-control-sm buyBaseCost me-1" style="width:120px" value="{{this.buy_base_price}}" placeholder="매수 기준가"> 
                    <input type="number" class="form-control form-control-sm sellBaseCost me-1" style="width:120px"  value="{{this.sell_base_price}}" placeholder="매도 기준가"> 
                    <button class="btn btn-primary btn-sm btnBaseCostsSave me-1" title="매수/매도 기준가격 저장" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}"><i class="bi bi-floppy"></i></button>
                    <button class="btn btn-success btn-sm btnBaseCostsAutoset" title="매수/매도 기준가격 자동설정(-3,+5%)" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}"><i class="bi bi-arrows-expand-vertical"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script id="result-template" type="text/x-handlebars-template">
    {{#each results}}
    <li class="mb-2 list-group-item d-flex justify-content-between align-items-center">
        <span>{{stk_code}} - {{stk_name}}</span>
        <button class="btn btn-sm btn-warning me-5 btnAddAttension" data-stk-code="{{stk_code}}" data-stk-name="{{stk_name}}" title="관심 추가">
            <i class="bi bi-plus"></i>
        </button>
    </li>
    {{/each}}
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
let intervalId = undefined;
let current_lists = [];
// 문자열을 잘라서 bootstrap5 뱃지로 만든다.
Handlebars.registerHelper('split_and_badge', function(stk_types) {
    // stk_types 문자열을 공백 기준으로 나누기
    // debugger;
    // const typesArray = stk_types.split(' ');
    typesArray = stk_types;
    // 각 요소를 Bootstrap 배지로 감싸기
    const badges = typesArray.map(type => {
        let badgeClass = '';

        // type에 따라 배지 색상을 설정
        switch (type) {
            case '보유':
                badgeClass = 'bg-secondary'; //'bg-primary';
                break;
            case '단타':
                badgeClass = 'bg-success';
                break;
            case '관심':
                badgeClass = 'bg-warning';
                break;
            default:
                badgeClass = 'bg-secondary'; // 기본 색상
        }

        return `<span class="badge ${badgeClass}">${Handlebars.escapeExpression(type)}</span>`;
    });

    // 배지를 공백을 기준으로 연결하여 반환
    return new Handlebars.SafeString(badges.join(' '));
});    

//현재가격을 가져오기
function getCurrentCost() {
    if (current_lists.length == 0) {
        return;
    }
    if($('#currentCostRefresh').is(':checked') == false){
        if(intervalId) clearInterval(intervalId);
        return;
    }
    const stkCodes = current_lists.map(item => String(item.stk_code)).join('');
    const url = '/api/v1/mystock/current_costs/' + stkCodes;
    getFetch(url).then(data => {
        console.log(data);
        data.t8407OutBlock1.forEach(item => {
            // const cost = item.price;
            let costFormatted = item.price.toLocaleString();
            let changeFormatted = item.change.toLocaleString();
            let diffFormatted = item.diff.toLocaleString();
            if(item.diff < 0){
                changeFormatted = "-"+changeFormatted;
                $('#mystock-result-area').find(`#cost_${item.shcode}`).text(costFormatted);
                $('#mystock-result-area').find(`#change_${item.shcode}`).text(changeFormatted).removeClass('text-danger').addClass('text-primary');
                $('#mystock-result-area').find(`#diff_${item.shcode}`).text(diffFormatted).removeClass('text-danger').addClass('text-primary');
            }else{
                $('#mystock-result-area').find(`#cost_${item.shcode}`).text(costFormatted);
                $('#mystock-result-area').find(`#change_${item.shcode}`).text(changeFormatted).removeClass('text-primary').addClass('text-danger');
                $('#mystock-result-area').find(`#diff_${item.shcode}`).text(diffFormatted).removeClass('text-primary').addClass('text-danger');
            }
            //$(`#cost_${item.stk_code}`).text(cost);
        });
    }).catch(error=> {
        console.error(error.message);
    });
}
//초기화 mystock 가져오기, 현재가 가져오기
function init(){
    getFetch('/api/v1/mystock').then(data => {
        console.log(data); 
        const template = Handlebars.compile(document.getElementById('mystock-template').innerHTML);
        const html = template({list : data});
        current_lists = data;
        $('#mystock-result-area').html(html);
        //현재가를 가져온다.
        if(intervalId) clearInterval(intervalId);
        if($('#currentCostRefresh').is(':checked')){
            getCurrentCost();
            intervalId=setInterval(getCurrentCost, 1000*10); //10초마다 현재가를 가져온다.
        }
    }).catch(error=> {
        console.error(error.message); 
        $('#mystock-result-area').html(error.message);
    });
}
$( document ).ready(function() {
    console.log( "ready!")
    //초기화
    init();

    $('#mystock-result-area').on("click", ".btnBaseCostsAutoset", function() {
        const stk_code = $(this).data('stk-code');
        let currentCost = $('#mystock-result-area').find('#cost_'+stk_code).text();
        //매수는 현재가격보다 3% 낮게, 매도는 현재가격보다 5% 높게 설정한다.
        let buy_cost = Math.floor(Number(currentCost.replace(/,/g, '')) * 0.97);
        let sell_cost = Math.floor(Number(currentCost.replace(/,/g, '')) * 1.05);
        $(this).parent().find('.buyBaseCost').val(buy_cost);
        $(this).parent().find('.sellBaseCost').val(sell_cost);
    });
    $('#mystock-result-area').on("click", ".btnBaseCostsSave", function() {
        const url = '/api/v1/mystock/base-cost';
        const stk_code = $(this).data('stk-code');
        const buy_cost = $(this).parent().find('.buyBaseCost').val();
        const sell_cost = $(this).parent().find('.sellBaseCost').val();
        let currentCost = $('#mystock-result-area').find('#cost_'+stk_code).text();
        if (buy_cost == '' || sell_cost == '') {
            alert('매수/매도 기준가를 입력하세요.');
            return;
        }
        let buy_cost_num = Number(buy_cost);
        let sell_cost_num = Number(sell_cost);
        let currentCost_num = Number(currentCost.replace(/,/g, ''));
        
        if (buy_cost_num >= currentCost_num) {
            alert('매수 기준가는 현재가보다 작아야 합니다.');
            return;
        }
        if (sell_cost_num <= currentCost_num) {
            alert('매도 기준가는 현재가보다 커야 합니다.');
            return;
        }
        
        const data = { 
                stk_code : String(stk_code),
                buy_base_price : buy_cost_num, 
                sell_base_price : sell_cost_num
        };
        putFetch(url, data).then(data => {
            console.log(data);
            if(data.result == 'success'){
                init();
            }else{
                alert('저장에 실패했습니다.');
            }
        }).catch(error=> {
            console.error(error.message);
        });
    });
    $('#mystock-result-area').on("click", ".btnAddAttension", function() {
        //관심을 추가한다.
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = `/api/v1/mystock/add/stktype/${stk_code}/관심`;
        const data = {};
        putFetch(url, data).then(data => {
            console.log(data);
            init();
        }).catch(error=> {
            console.error(error.message);
        });
    });
    $('#stock-find-modal').on('show.bs.modal', function (event) {
        //  모달이 열릴 때 검색 필드에 자동 포커스를 줄 수 있습니다.
        $('#keyword').empty().focus();
    });    
    $("#modal-result-area").on("click", ".btnAddAttension", function() {
        //관심을 추가한다.
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = `/api/v1/mystock/add/stktype/${stk_code}/관심`;
        const data = {};
        putFetch(url, data).then(data => {
            console.log(data);
            init();
        }).catch(error=> {
            console.error(error.message);
        });
    });
    $('#keyword').on('keypress', function(event) {
        if (event.which === 13) {  // 13은 Enter 키의 키코드입니다.
            $('#btnModalSearch').click();  // 검색 버튼 클릭 이벤트 트리거
        }
    });    
    //찾기 
    $('#btnShowModalFind').on('click', function(e){
        e.stopPropagation();
        e.preventDefault();
        $('#keyword').empty().focus();
    });
    //종목명으로 찾기
    $('#btnModalSearch').on('click', function(e){
        e.stopPropagation();
        e.preventDefault();
        const keyword = $('#keyword').val();
        if(keyword == ''){
            alert('종목명을 입력하세요.');
            return;
        }
        const url = '/api/v1/mystock/search?keyword=' + keyword;
        getFetch(url).then(data => {
            console.log(data); 
            const template = Handlebars.compile(document.getElementById('result-template').innerHTML);
            const html = template({results : data});
            $('#modal-result-area').html(html);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#btnModalClear').on('click', function(e){
        e.stopPropagation();
        e.preventDefault();
        $('#keyword').val('');
    });

    //현재가격 Refresh
    $('#currentCostRefresh').on('change', function(e){
        e.stopPropagation();
        e.preventDefault();
        if($(this).is(':checked')){
            getCurrentCost();
            intervalId = setInterval(getCurrentCost, 1000*10); //10초마다 현재가를 가져온다.
        }else{
            clearInterval(intervalId);
        }
    });
    //관심삭제
    $('#mystock-result-area').on("click", ".btnAttensionDelete", function() {
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = `/api/v1/mystock/extract/stktype/${stk_code}/관심`;
        const data = {};
        putFetch(url, data).then(data => {
            console.log(data);
            init();
        }).catch(error=> {
            console.error(error.message);
        });
    });
    //단타삭제
    $('#mystock-result-area').on("click", ".btnDantaDelete", function() {
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = `/api/v1/mystock/extract/stktype/${stk_code}/단타`;
        const data = {};
        putFetch(url, data).then(data => {
            console.log(data);
            init();
        }).catch(error=> {
            console.error(error.message);
        });
    });
    //단타추가
    $('#mystock-result-area').on("click", ".btnDantaAdd", function() {
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = `/api/v1/mystock/add/stktype/${stk_code}/단타`;
        const data = {};
        putFetch(url, data).then(data => {
            console.log(data);
            init();
        }).catch(error=> {
            console.error(error.message);
        });
    });
    //보유버튼 : 현재 보유한 종목을 보여준다.
    $('#btnMyKeep').on('click', function(e){
        e.stopPropagation();
        e.preventDefault();
        getFetch('/api/v1/mystock/mykeep').then(data => {
            init();
        }).catch(error=> {
            $('#mystock-result-area').html(error.message);
        });
    });
    //stk_type에 따라 보여줄 종목을 필터링한다.
    $('#mystock-search-area').on("change", "input[type=radio]", function() {
        const option = $('input[name=options]:checked').val();
        if(option == 'ALL') {
            init();
            return;
        }
        getFetch('/api/v1/mystock/?stk_type='+option).then(data => {
            console.log(data); 
            const template = Handlebars.compile(document.getElementById('mystock-template').innerHTML);
            const html = template({list : data});
            $('#mystock-result-area').html(html);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    //종목코드를 빼기
    $('#btnExtractStkType').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        const option = $('input[name=options]:checked').val();
        const url = '/api/v1/mystock/extract/stktype/?stk_type=' + option
        if(option == 'ALL') {
            if (!confirm('all은 모든 종목을 삭제합니다. 모든 myStock을 삭제하시겠습니까?')) {
                return;
            }
        }
        getFetch(url).then(data => {
            console.log(data);
            init();
        }).catch(error=> {
            console.error(error.message); 
        });
    });
});
</script>
{% endraw %}
{% endblock %}