{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h5>Stock 상세</h5> 
<div id="chart-area">
    <div id="chart-area-search">
        <form method="POST" action="/submit">
            <input type="hidden" name="current_stk_code" id="current_stk_code" value="{{stk_code}}">
            <input type="hidden" name="FID_COND_MRKT_DIV_CODE" id="FID_COND_MRKT_DIV_CODE" value="J">
            <div class="row g-3 align-items-center">
                <!-- FID_INPUT_DATE_1 -->
                <div class="col-auto">
                    <label for="FID_INPUT_DATE_1" class="form-label">조회 시작일자</label>
                    <input type="date" id="FID_INPUT_DATE_1" name="FID_INPUT_DATE_1" class="form-control" placeholder="시작일자 (ex. 20220501)">
                </div>

                <!-- FID_INPUT_DATE_2 -->
                <div class="col-auto">
                    <label for="FID_INPUT_DATE_2" class="form-label">조회 종료일자</label>
                    <input type="date" id="FID_INPUT_DATE_2" name="FID_INPUT_DATE_2" class="form-control" placeholder="종료일자 (ex. 20220530)">
                </div>

                <!-- FID_PERIOD_DIV_CODE -->
                <div class="col-auto">
                    <label for="FID_PERIOD_DIV_CODE" class="form-label">기간분류코드</label>
                    <select id="FID_PERIOD_DIV_CODE" name="FID_PERIOD_DIV_CODE" class="form-select">
                        <option value="D" selected>일봉</option>
                        <option value="W">주봉</option>
                        <option value="M">월봉</option>
                        <option value="Y">년봉</option>
                    </select>
                </div>

                <!-- FID_ORG_ADJ_PRC -->
                <div class="col-auto">
                    <label for="FID_ORG_ADJ_PRC" class="form-label">수정주가/원주가</label>
                    <select id="FID_ORG_ADJ_PRC" name="FID_ORG_ADJ_PRC" class="form-select">
                        <option value="0" selected>수정주가</option>
                        <option value="1">원주가</option>
                    </select>
                </div>

                <!-- Submit Button -->
                <div class="col-auto mt-4">
                    <button type="submit" class="btn btn-primary">조회</button>
                </div>
            </div>
        </form>        
    </div>
    <div id="chart-result"></div>
</div>
{% raw %}
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
let current_stk_code =  undefined ; 
function draw_chart(){
    let stk_code = $('#current_stk_code').val();
    let startYmd = $('#FID_INPUT_DATE_1').val().replace(/\D/g, '');
    let endYmd = $('#FID_INPUT_DATE_2').val().replace(/\D/g, '');
    let period = $('#FID_PERIOD_DIV_CODE').val();
    const url = `/api/v1/kis/chart/${stk_code}/${startYmd}/${endYmd}/${period}`;
    getFetch(url).then(data => {
        console.log(data); 
    }).catch(error=> {
        console.error(error.message); 
    });
}
function initalize(){
    // $('#FID_INPUT_DATE_1').val(new Date(new Date().getTime() - 30 * 24 * 60 * 60 * 1000).toISOString().slice(0, 10))
    // $('#FID_INPUT_DATE_2').val(new Date().toISOString().slice(0, 10))
    let today = JuliaUtil.today();
    let startDay = JuliaUtil.addDate(today, 'month', -1);
    $('#FID_INPUT_DATE_1').val(startDay)
    $('#FID_INPUT_DATE_2').val(today)
    draw_chart();
}
$( document ).ready(function() {
    console.log( "ready!")
    current_stk_code = $('#current_stk_code').val();
    initalize();
});
</script>
{% endraw %}
{% endblock %}