{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h5 id="companyId" class="text-primary fw-bold">Stock 상세</h5> 

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="chart-basic-tab" data-bs-toggle="tab" data-bs-target="#chart-basic" type="button" role="tab" aria-controls="chart-basic" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sell-buy-detail-tab" data-bs-toggle="tab" data-bs-target="#sell-buy-detail" type="button" role="tab" aria-controls="sell-buy-detail" aria-selected="false">Profile</button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="chart-basic" role="tabpanel" aria-labelledby="chart-basic-tab">
            <div id="chart-area mt-2">
                <div id="chart-area-search">
                    <form method="POST" action="/submit" id="form1">
                        <input type="hidden" name="current_stk_code" id="current_stk_code" value="{{stk_code}}">
                        <input type="hidden" name="current_stk_name" id="current_stk_name">
                        <input type="hidden" name="FID_COND_MRKT_DIV_CODE" id="FID_COND_MRKT_DIV_CODE" value="J">
                        <div class="row g-3 align-items-center">
                            <!-- FID_INPUT_DATE_1 -->
                            <div class="col-auto">
                                <!-- <label for="FID_INPUT_DATE_1" class="form-label">조회 시작일자</label> -->
                                <input type="date" id="FID_INPUT_DATE_1" name="FID_INPUT_DATE_1" class="form-control" placeholder="시작일자 (ex. 20220501)">
                            </div>
            
                            <!-- FID_INPUT_DATE_2 -->
                            <div class="col-auto">
                                <!-- <label for="FID_INPUT_DATE_2" class="form-label">조회 종료일자</label> -->
                                <input type="date" id="FID_INPUT_DATE_2" name="FID_INPUT_DATE_2" class="form-control" placeholder="종료일자 (ex. 20220530)">
                            </div>
            
                            <!-- FID_PERIOD_DIV_CODE -->
                            <div class="col-auto">
                                <!-- <label for="FID_PERIOD_DIV_CODE" class="form-label">기간분류코드</label> -->
                                <select id="FID_PERIOD_DIV_CODE" name="FID_PERIOD_DIV_CODE" class="form-select">
                                    <option value="D" selected>일봉</option>
                                    <option value="W">주봉</option>
                                    <option value="M">월봉</option>
                                    <option value="Y">년봉</option>
                                </select>
                            </div>
            
                            <!-- FID_ORG_ADJ_PRC -->
                            <div class="col-auto">
                                <!-- <label for="FID_ORG_ADJ_PRC" class="form-label">수정주가/원주가</label> -->
                                <select id="FID_ORG_ADJ_PRC" name="FID_ORG_ADJ_PRC" class="form-select">
                                    <option value="0" selected>수정주가</option>
                                    <option value="1">원주가</option>
                                </select>
                            </div>
            
                            <!-- Submit Button -->
                            <div class="col-auto mt-4">
                                <button type="submit" class="btn btn-primary">조회</button>
                            </div>
                        </div>
                    </form>        
                </div>
                <div id="chart-result">
                    <div id="detailChart" width="1400" height="400"></div>
                </div>
                <div id="company-summary" class="mt-3"></div>
                <div id="capital-area" class="mt-3 d-none"></div>
                <div>

                    <button id="test6">호가정보요청</button>
                    <button id="test7">호가정보취소</button>
                </div>
            </div>            
        </div>
        <div class="tab-pane fade" id="sell-buy-detail" role="tabpanel" aria-labelledby="sell-buy-detail-tab">
            <div id="hoga-area" class="mt-3">
                111
            </div>
            <div id="buy-sell-area" class="m-2">
            </div>
        </div>
    </div>

{% raw %}
<!--handlebar scripts-->
<script id="buysell-template" type="text/x-handlebars-template">
    <div style="width:400px">
        <table class="table table-bordered table-sm">
            <tr>
                <th colspan="2">현재가</th>
                <td colspan="3">{{displayWon current_cost}}</td>
            </tr>
            <tr>
                <th>갯수</th>
                <th class="text-end">구매가</th>
                <th class="text-end">수수료+세금</th>
                <th class="text-end">최종가격</th>
                <th class="text-end">매수/매도</th>
            </tr>
            {{#each count_list}}
            <tr>
                <td class="fw-bold">{{this}}</td>
                <td class="text-end">{{my_calc this "*" ../current_cost}}</td> <!-- 주식수 * 현재가 -->
                <td class="text-end">{{my_calc (my_calc this "*" ../current_cost) "*" 0.002}}</td> <!-- 수수료 계산 -->
                <td class="text-end fw-bold">{{my_calc (my_calc this "*" ../current_cost) "+" (my_calc (my_calc this "*" ../current_cost) "*" 0.002) }}</td> <!-- 수수료 계산 -->
                <td class="text-end">
                    <button class="btnBuy btn btn-danger btn-sm" data-qty="{{this}}" data-stk-code="{{../stk_code}}" data-stk-name="{{../stk_name}}" title="{{../stk_name}} 매수">買</button>
                    <button class="btnSell btn btn-primary btn-sm"  data-qty="{{this}}" data-stk-code="{{../stk_code}}" data-stk-name="{{../stk_name}}" title="{{../stk_name}} 매도">賣</button>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</script>


<script id="naver-template" type="text/x-handlebars-template">
    <table>
        <tr>
            <th>시가총액</th>
            <td>{{market_cap}}</td>
        </tr>
        <tr>
            <th>시가총액순위</th>
            <td>{{market_cap_rank}}</td>
        </tr>
        <tr>
            <th>상장주식수</th>
            <td>{{num_of_shares}}</td>
        </tr>
    </table>
    <div class="mt-2">{{company_summary}}</div>
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
let current_stk_code =  undefined ; 
let chart = undefined;

function drawCandleChart(org_data, title){
    let columns = []
    let column1 = ['data1'];
    for (let i = 0; i < org_data.output2.length; i++) {
        let item = org_data.output2[i];
        column1.push([
            Number(item.stck_oprc),
            Number(item.stck_hgpr),
            Number(item.stck_lwpr),
            Number(item.stck_clpr)
        ]);
    }
    columns.push(column1);
    // debugger;
    create_billboard_candle_chart('detailChart', columns, title);    
}

//데이터를 가져와서 캔들챠트를 그린다.
function get_data_and_draw_chart(){
    let stk_code = $('#current_stk_code').val();
    let startYmd = $('#FID_INPUT_DATE_1').val().replace(/\D/g, '');
    let endYmd = $('#FID_INPUT_DATE_2').val().replace(/\D/g, '');
    let period = $('#FID_PERIOD_DIV_CODE').val();
    let stk_name = $('#current_stk_name').val();
    const url = `/api/v1/kis/chart/${stk_code}/${startYmd}/${endYmd}/${period}`;
    getFetch(url).then(data => {
        console.log(data); 
        // let capital = data.output1;
        // //capital테이블들
        // let source = document.getElementById('capital-template').innerHTML;
        // let template = Handlebars.compile(source);
        // let html = template(capital);
        // $('#capital-area').html(html);
        // debugger;
        let startYmd1 = startYmd.substring(0, 4) + '-' + startYmd.substring(4, 6) + '-' + startYmd.substring(6, 8);
        let endYmd1 = endYmd.substring(0, 4) + '-' + endYmd.substring(4, 6) + '-' + endYmd.substring(6, 8);
        let periodNames ={'D':'일봉', 'W':'주봉', 'M':'월봉', 'Y':'년봉'};
        let period1 = periodNames[period];
        let title = `${stk_name}(${stk_code}) ${startYmd1} ~ ${endYmd1} ${period1}`;
        drawCandleChart(data, title);
    }).catch(error=> {
        console.error(error.message);
        showToastError(error);
    });
}
function initalize(){

    //id hoga-area에 hoga-container- div를 추가한다.
    $('#hoga-area').empty();
    let hoga_container = document.createElement('div');
    hoga_container.id = 'hoga-container-' + current_stk_code;
    document.getElementById('hoga-area').appendChild(hoga_container);

    //stk_code 쿠키에 저장 refresh시 stk_code를 잃어버리지 않게한다
    setCookie('stk_code', current_stk_code, 100);
    
    //naver 회사정보
    const url = `/api/v1/mystock/company-info/${current_stk_code}`;
    getFetch(url).then(data => {
        console.log(data);
        let text = `${data.naver.stk_name}(${data.naver.stk_code})`;
        $('#current_stk_name').val(data.naver.stk_name);
        $('#companyId').text(text);
        let source = document.getElementById('naver-template').innerHTML;
        let template = Handlebars.compile(source);
        let html = template(data.naver);
        $('#company-summary').append(html);
    }).catch(error=> {
        console.error(error.message); 
        showToastError(error);
    });
    
    //chart 그리기
    let today = JuliaUtil.today();
    let startDay = JuliaUtil.addDate(today, 'month', -1);
    $('#FID_INPUT_DATE_1').val(startDay)
    $('#FID_INPUT_DATE_2').val(today)
    get_data_and_draw_chart();

    //매수/매도표를 그린다.
    const url_current_cost = `/api/v1/ls/current-cost/${current_stk_code}`;
    getFetch(url_current_cost).then(data => {
        const source = document.getElementById('buysell-template').innerHTML;
        const template = Handlebars.compile(source);
        const current_cost = data.t1102OutBlock.price;
        const current_stk_code = data.t1102OutBlock.shcode;
        const current_stk_name = data.t1102OutBlock.hname;
        const current_data = {
            current_cost:current_cost,
            count_list:[1, 5, 10, 20, 30, 50, 100,200],
            stk_code : current_stk_code,
            stk_name : current_stk_name
        }
        const html = template(current_data);
        document.getElementById('buy-sell-area').innerHTML = html;
    }).catch(error=> {
        console.error(error.message); 
        showAlertError(error);
    });

}
$( document ).ready(function() {
    console.log( "ready!")
    current_stk_code = $('#current_stk_code').val();
    initalize();

    //챠트 조회
    $('#form1').submit(function(event){
        event.preventDefault();
        get_data_and_draw_chart();
    });
    //     <button id="test1">주식현재가일자별</button>
    //     <button id="test2">주식당일분봉조회</button>
    //     <button id="test3">주식현재가시세2</button>
    //     <button id="test4">국내주식 종목투자의견</button>
    //     <button id="test5">국내주식 증권사별 투자의견</button>
    
    $('#apitest1').click(function(){
        const url = `/api/v1/kis/inquire-financial-statement/${current_stk_code}/1`;
        getFetch(url).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    // btnBuy구매 버튼 클릭
    $('#buy-sell-area').on('click', '.btnBuy', function(e){
        e.stopPropagation();
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const qty = $(this).data('qty');
        showBuySellCanvas('',stk_code, stk_name, "매수", qty, 0);
    })
    // btnSell판매 버튼 클릭
    $('#buy-sell-area').on('click', '.btnSell', function(e){
        e.stopPropagation();
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const qty = $(this).data('qty');
        showBuySellCanvas('',stk_code, stk_name, "매도", qty, 0);
    })    
});
</script>
{% endraw %}
{% endblock %}