{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h5 id="companyId" class="text-primary fw-bold">Stock 상세</h5> 

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="chart-basic-tab" data-bs-toggle="tab" data-bs-target="#chart-basic" type="button" role="tab" aria-controls="chart-basic" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sell-buy-detail-tab" data-bs-toggle="tab" data-bs-target="#sell-buy-detail" type="button" role="tab" aria-controls="sell-buy-detail" aria-selected="false">Profile</button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="chart-basic" role="tabpanel" aria-labelledby="chart-basic-tab">
            <div id="chart-area">
                <div id="chart-area-search">
                    <form method="POST" action="/submit" id="form1">
                        <input type="hidden" name="current_stk_code" id="current_stk_code" value="{{stk_code}}">
                        <input type="hidden" name="FID_COND_MRKT_DIV_CODE" id="FID_COND_MRKT_DIV_CODE" value="J">
                        <div class="row g-3 align-items-center">
                            <!-- FID_INPUT_DATE_1 -->
                            <div class="col-auto">
                                <label for="FID_INPUT_DATE_1" class="form-label">조회 시작일자</label>
                                <input type="date" id="FID_INPUT_DATE_1" name="FID_INPUT_DATE_1" class="form-control" placeholder="시작일자 (ex. 20220501)">
                            </div>
            
                            <!-- FID_INPUT_DATE_2 -->
                            <div class="col-auto">
                                <label for="FID_INPUT_DATE_2" class="form-label">조회 종료일자</label>
                                <input type="date" id="FID_INPUT_DATE_2" name="FID_INPUT_DATE_2" class="form-control" placeholder="종료일자 (ex. 20220530)">
                            </div>
            
                            <!-- FID_PERIOD_DIV_CODE -->
                            <div class="col-auto">
                                <label for="FID_PERIOD_DIV_CODE" class="form-label">기간분류코드</label>
                                <select id="FID_PERIOD_DIV_CODE" name="FID_PERIOD_DIV_CODE" class="form-select">
                                    <option value="D" selected>일봉</option>
                                    <option value="W">주봉</option>
                                    <option value="M">월봉</option>
                                    <option value="Y">년봉</option>
                                </select>
                            </div>
            
                            <!-- FID_ORG_ADJ_PRC -->
                            <div class="col-auto">
                                <label for="FID_ORG_ADJ_PRC" class="form-label">수정주가/원주가</label>
                                <select id="FID_ORG_ADJ_PRC" name="FID_ORG_ADJ_PRC" class="form-select">
                                    <option value="0" selected>수정주가</option>
                                    <option value="1">원주가</option>
                                </select>
                            </div>
            
                            <!-- Submit Button -->
                            <div class="col-auto mt-4">
                                <button type="submit" class="btn btn-primary">조회</button>
                            </div>
                        </div>
                    </form>        
                </div>
                <div id="chart-result">
                    <canvas id="detailChart" width="1400" height="400"></canvas>
                </div>
                <div id="company-summary" class="mt-3"></div>
                <div id="capital-area" class="mt-3 d-none"></div>
                <div>
                    <button id="test1">주식현재가일자별</button>
                    <button id="test2">주식당일분봉조회</button>
                    <button id="test3">주식현재가시세2</button>
                    <button id="test4">국내주식 종목투자의견</button>
                    <button id="test5">국내주식 증권사별 투자의견</button>
                    <button id="test6">호가정보요청</button>
                    <button id="test7">호가정보취소</button>
                </div>
                
            
            </div>
            
        </div>
        <div class="tab-pane fade" id="sell-buy-detail" role="tabpanel" aria-labelledby="sell-buy-detail-tab">
            <div id="hoga-area" class="mt-3"></div>
        </div>
    </div>

{% raw %}
<!--handlebar scripts-->
<script id="capital-template" type="text/x-handlebars-template">
<!-- 첫 번째 테이블 -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>전일 대비</th>
            <th>전일 대비 부호</th>
            <th>전일 대비율</th>
            <th>주식 전일 종가</th>
            <th>누적 거래량</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{prdy_vrss}}</td>
            <td>{{prdy_vrss_sign}}</td>
            <td>{{prdy_ctrt}}</td>
            <td>{{stck_prdy_clpr}}</td>
            <td>{{acml_vol}}</td>
        </tr>
    </tbody>
</table>

<!-- 두 번째 테이블 -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>누적 거래 대금</th>
            <th>HTS 한글 종목명</th>
            <th>주식 현재가</th>
            <th>주식 단축 종목코드</th>
            <th>전일 거래량</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{acml_tr_pbmn}}</td>
            <td>{{hts_kor_isnm}}</td>
            <td>{{stck_prpr}}</td>
            <td>{{stck_shrn_iscd}}</td>
            <td>{{prdy_vol}}</td>
        </tr>
    </tbody>
</table>

<!-- 세 번째 테이블 -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>상한가</th>
            <th>하한가</th>
            <th>시가</th>
            <th>최고가</th>
            <th>최저가</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{stck_mxpr}}</td>
            <td>{{stck_llam}}</td>
            <td>{{stck_oprc}}</td>
            <td>{{stck_hgpr}}</td>
            <td>{{stck_lwpr}}</td>
        </tr>
    </tbody>
</table>

<!-- 네 번째 테이블 -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>주식 전일 시가</th>
            <th>주식 전일 최고가</th>
            <th>주식 전일 최저가</th>
            <th>매도호가</th>
            <th>매수호가</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{stck_prdy_oprc}}</td>
            <td>{{stck_prdy_hgpr}}</td>
            <td>{{stck_prdy_lwpr}}</td>
            <td>{{askp}}</td>
            <td>{{bidp}}</td>
        </tr>
    </tbody>
</table>

<!-- 다섯 번째 테이블 -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>전일 대비 거래량</th>
            <th>거래량 회전율</th>
            <th>주식 액면가</th>
            <th>상장 주수</th>
            <th>자본금</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{prdy_vrss_vol}}</td>
            <td>{{vol_tnrt}}</td>
            <td>{{stck_fcam}}</td>
            <td>{{lstn_stcn}}</td>
            <td>{{cpfn}}</td>
        </tr>
    </tbody>
</table>

<!-- 여섯 번째 테이블 -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>시가총액</th>
            <th>PER</th>
            <th>EPS</th>
            <th>PBR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{hts_avls}}</td>
            <td>{{per}}</td>
            <td>{{eps}}</td>
            <td>{{pbr}}</td>
        </tr>
    </tbody>
</table>    
</script>
<script id="naver-template" type="text/x-handlebars-template">
    <table>
        <tr>
            <th>시가총액</th>
            <td>{{market_cap}}</td>
        </tr>
        <tr>
            <th>시가총액순위</th>
            <td>{{market_cap_rank}}</td>
        </tr>
        <tr>
            <th>상장주식수</th>
            <td>{{num_of_shares}}</td>
        </tr>
    </table>
    <div class="mt-2">{{company_summary}}</div>
</script>
{% endraw %}
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
{% raw %}
<script>
let current_stk_code =  undefined ; 
let chart = undefined;


function drawCandleChart(org_data){

    let ctx = document.getElementById('detailChart').getContext('2d');
    let cost_data = [];
    for (let i = 0; i < org_data.output2.length; i++) {
        let item = org_data.output2[i];
        cost_data.push({
            x: luxon.DateTime.fromFormat(item.stck_bsop_date, 'yyyyMMdd').valueOf(), //item.stck_bsop_date,
            o: Number(item.stck_oprc),
            h: Number(item.stck_hgpr),
            l: Number(item.stck_lwpr),
            c: Number(item.stck_clpr)
        });
    }
    let title = org_data.output1.hts_kor_isnm;
    const data1 = {
        datasets: [{
                label: title,
                data: cost_data,
            }
        ]
    };
    console.log(data1);
    if(chart){
        chart.destroy();
    }
    chart = new Chart(ctx, {
        type: 'candlestick',
        data: data1,
        options: {
            plugins: {
                title: {
                    display: true,
                    text: title
                },
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }
            }
        }});
}
function get_data_and_draw_chart(){
    let stk_code = $('#current_stk_code').val();
    let startYmd = $('#FID_INPUT_DATE_1').val().replace(/\D/g, '');
    let endYmd = $('#FID_INPUT_DATE_2').val().replace(/\D/g, '');
    let period = $('#FID_PERIOD_DIV_CODE').val();
    const url = `/api/v1/kis/chart/${stk_code}/${startYmd}/${endYmd}/${period}`;
    getFetch(url).then(data => {
        console.log(data); 
        let capital = data.output1;
        //capital테이블들
        let source = document.getElementById('capital-template').innerHTML;
        let template = Handlebars.compile(source);
        let html = template(capital);
        $('#capital-area').html(html);

        drawCandleChart(data);
    }).catch(error=> {
        console.error(error.message);
        showToastError(error);
    });
}
function initalize(){

    //id hoga-area에 hoga-container- div를 추가한다.
    $('#hoga-area').empty();
    let hoga_container = document.createElement('div');
    hoga_container.id = 'hoga-container-' + current_stk_code;
    document.getElementById('hoga-area').appendChild(hoga_container);

    //stk_code 쿠키에 저장 refresh시 stk_code를 잃어버리지 않게한다
    setCookie('stk_code', current_stk_code, 100);
    
    //naver 회사정보
    const url = `/api/v1/mystock/company-info/${current_stk_code}`;
    getFetch(url).then(data => {
        console.log(data);
        let text = `${data.naver.stk_name}(${data.naver.stk_code})`;
        $('#companyId').text(text);
        let source = document.getElementById('naver-template').innerHTML;
        let template = Handlebars.compile(source);
        let html = template(data.naver);
        $('#company-summary').append(html);
    }).catch(error=> {
        console.error(error.message); 
        showToastError(error);
    });
    
    //chart 데이터
    let today = JuliaUtil.today();
    let startDay = JuliaUtil.addDate(today, 'month', -1);
    $('#FID_INPUT_DATE_1').val(startDay)
    $('#FID_INPUT_DATE_2').val(today)
    get_data_and_draw_chart();
}
$( document ).ready(function() {
    console.log( "ready!")
    current_stk_code = $('#current_stk_code').val();
    initalize();
    $('#form1').submit(function(event){
        event.preventDefault();
        get_data_and_draw_chart();
    });
    //     <button id="test1">주식현재가일자별</button>
    //     <button id="test2">주식당일분봉조회</button>
    //     <button id="test3">주식현재가시세2</button>
    //     <button id="test4">국내주식 종목투자의견</button>
    //     <button id="test5">국내주식 증권사별 투자의견</button>
    $('#test1').click(function(){
        const url = `/api/v1/kis/inquire-daily-price/${current_stk_code}/D`;
        getFetch(url).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    $('#test2').click(function(){
        const now = new Date();
        const nowHHmm = now.getHours().toString().padStart(2, '0') + now.getMinutes().toString().padStart(2, '0') + '00';
        const url = `/api/v1/kis/inquire-time-itemchartprice/${current_stk_code}/${nowHHmm}`;
        getFetch(url).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    //현재가2 시세2
    $('#test3').click(function(){
        const url = `/api/v1/kis/inquire-price2/${current_stk_code}`;
        getFetch(url).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    //종목정보 국내주식 종목투자의견
    $('#test4').click(function(){
        const startYmd = new Date().getFullYear() + '0101';
        const endYmd = JuliaUtil.today('yyyyMMdd');
        const url = `/api/v1/kis/invest-opinion/${current_stk_code}/${startYmd}/${endYmd}`;
        getFetch(url).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    //종목정보 국내주식 증권사별 투자의견
    $('#test5').click(function(){
        const startYmd = new Date().getFullYear() + '0101';
        const endYmd = JuliaUtil.today('yyyyMMdd');
        const iscd = '999'; //회원사코드
        const url = `/api/v1/kis/invest-opbysec/${iscd}/${startYmd}/${endYmd}`;
        getFetch(url).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    $('#test6').click(function(){
        //호가정보 요청
        getFetch('/api/v1/kis/ws/hoga/subscribe/' + current_stk_code)
        .then(data => {
            console.log('호가정보를 요청하다' + current_stk_code);
            console.log(data); 
        }).catch(error=> {
            console.error(error.message);
            showAlertError(error); 
        });
    });
    $('#test7').click(function(){
        //호가정보 unsubscribe요청
        getFetch('/api/v1/kis/ws/hoga/un-subscribe/' + current_stk_code)
        .then(data => {
            console.log('호가정보를 취소 요청하다' + current_stk_code);
            console.log(data); 
        }).catch(error=> {
            console.error(error.message);
            showAlertError(error); 
        });
    });    
});
</script>
{% endraw %}
{% endblock %}