{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h1>테스트</h1>
<div>
    <button id="test1">주식현재가일자별</button>
    <button id="test2">주식당일분봉조회</button>
    <button id="test3">주식현재가시세2</button>
    <button id="test4">국내주식 종목투자의견</button>
    <button id="test5">국내주식 증권사별 투자의견</button>
    <button id="test6">호가정보요청</button>
    <button id="test7">호가정보취소</button>
</div>
<div>
    <button id="apitest1">대차대조표</button>
    <button id="apitest2">손익계산서</button>
    <button id="apitest3">재무비율</button>
    <button id="apitest4">수익성비율</button>
    <button id="apitest5">기타주요비율</button>
    <button id="apitest6">안정성비율</button>
    <button id="apitest7">성장성비율</button>
    <button id="apitest8">기관-외국인 매매종목</button>
    <button id="apitest9">종목별일별매수매도체결량</button>
</div>
<div>
    <h1 id="title"></h1>
    <!-- <textarea name="result" id="result" style="width:100%; height:500px"></textarea> -->
    <div id="chart0"></div>
    <div id="tab-area"></div>
</div>
{% raw %}
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script src="/public/js/tab-manager.js"></script>
<script>
let current_stk_code = '005930';
var tabManager = new TabManager('#tab-area');
function displayDataAtTab(tabName, title, data){
        let tabId =tabManager.addTab(tabName, title);
        tabManager.addTabContent(tabId, '<textarea style="width:100%; height:500px"></textarea><div id="chart2"></div>');
        const content = tabManager.getTabContent(tabId);
        content.find('textarea').val(JSON.stringify(data));
        tabManager.selectTab(tabId);           
    }    
$( document ).ready(function() {
    $('#test1').click(function(){
        const url = `/api/v1/kis/inquire-daily-price/${current_stk_code}/D`;
        getFetch(url).then(data => {
            console.log(data);
            //tab 만들어서 넣기    
            let tabId =tabManager.addTab('tab1', '주식현재가일자별', function(){
                console.log('tab1')
            });
            tabManager.addTabContent(tabId, '<textarea style="width:100%; height:500px"></textarea><div id="chart11"></div>');
            const content = tabManager.getTabContent(tabId);
            content.find('textarea').val(JSON.stringify(data));
            tabManager.selectTab(tabId);
            //chart
            let column1 = extract_candle_data(data.output, 'stck_oprc', 'stck_hgpr', 'stck_lwpr', 'stck_clpr');
            create_billboard_candle_chart("tab-area chart11",[column1], 'title1')
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    $('#test2').click(function(){
        const now = new Date();
        const nowHHmm = now.getHours().toString().padStart(2, '0') + now.getMinutes().toString().padStart(2, '0') + '00';
        const url = `/api/v1/kis/inquire-time-itemchartprice/${current_stk_code}/${nowHHmm}`;
        getFetch(url).then(data => {
            console.log(data);
            let tabId =tabManager.addTab('tab2', '일봉데이터');
            tabManager.addTabContent(tabId, '<textarea style="width:100%; height:500px"></textarea><div id="chart2"></div>');
            const content = tabManager.getTabContent(tabId);
            content.find('textarea').val(JSON.stringify(data));
            tabManager.selectTab(tabId);

            let column1 = extract_candle_data(data.output2, 'stck_oprc', 'stck_hgpr', 'stck_lwpr', 'stck_prpr');
            create_billboard_candle_chart("chart2",[column1], 'title1')            

        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });

    //현재가2 시세2
    $('#test3').click(function(){
        const url = `/api/v1/kis/inquire-price2/${current_stk_code}`;
        getFetch(url).then(data => {
            console.log(data);
            displayDataAtTab('tab3', '현재가2 시세2', data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    //종목정보 국내주식 종목투자의견
    $('#test4').click(function(){
        const startYmd = new Date().getFullYear() + '0101';
        const endYmd = JuliaUtil.today('yyyyMMdd');
        const url = `/api/v1/kis/invest-opinion/${current_stk_code}/${startYmd}/${endYmd}`;
        getFetch(url).then(data => {
            console.log(data);
            displayDataAtTab('tab3', '현재가2 시세2', data);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    //종목정보 국내주식 증권사별 투자의견
    $('#test5').click(function(){
        const startYmd = new Date().getFullYear() + '0101';
        const endYmd = JuliaUtil.today('yyyyMMdd');
        const iscd = '999'; //회원사코드
        const url = `/api/v1/kis/invest-opbysec/${iscd}/${startYmd}/${endYmd}`;
        getFetch(url).then(data => {
            console.log(data);
            
        }).catch(error=> {
            console.error(error.message);
            showToastError(error);
        });
    });
    $('#test6').click(function(){
        //호가정보 요청
        getFetch('/api/v1/kis/ws/hoga/subscribe/' + current_stk_code)
        .then(data => {
            console.log('호가정보를 요청하다' + current_stk_code);
            console.log(data); 
        }).catch(error=> {
            console.error(error.message);
            showAlertError(error); 
        });
    });
    $('#test7').click(function(){
        //호가정보 unsubscribe요청
        getFetch('/api/v1/kis/ws/hoga/un-subscribe/' + current_stk_code)
        .then(data => {
            console.log('호가정보를 취소 요청하다' + current_stk_code);
            console.log(data); 
        }).catch(error=> {
            console.error(error.message);
            showAlertError(error); 
        });
    });
    $('#apitest1').click(function(){
        console.log('대차대조표');
        const url = '/api/v1/kis/balance-sheet/005930';
        getFetch(url).then(data => {
            console.log(data); 
            //data를 문자열로 바꾸어서 result에 출력
            $('#title').text("대차대조표");
            $('#result').val(JSON.stringify(data));
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest2').click(function(){
        console.log('손익계산서');
        const url = '/api/v1/kis/income-statement/005930';
        getFetch(url).then(data => {
            console.log(data); 
            displayDataAtTab('apitest2', '손익계산서', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest3').click(function(){
        console.log('재무비율');
        const url = '/api/v1/kis/financial-ratio/005930';
        getFetch(url).then(data => {
            console.log(data); 
            displayDataAtTab('apitest3', '재무비율', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest4').click(function(){
        console.log('수익성비율');
        const url = '/api/v1/kis/profit-ratio/005930';
        getFetch(url).then(data => {
            console.log(data); 
            displayDataAtTab('apitest4', '수익성비율', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest5').click(function(){
        console.log('기타주요비율');
        const url = '/api/v1/kis/other-major-ratios/005930';
        getFetch(url).then(data => {
            console.log(data);
            displayDataAtTab('apitest5', '기타주요비율', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest6').click(function(){
        console.log('안정성비율');
        const url = '/api/v1/kis/stability-ratio/005930';
        getFetch(url).then(data => {
            console.log(data); 
            displayDataAtTab('apitest6', '안정성비율', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest7').click(function(){
        console.log('성장성비율');
        const url = '/api/v1/kis/growth-ratio/005930';
        getFetch(url).then(data => {
            console.log(data);
            displayDataAtTab('apitest7', '성장성비율', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest8').click(function(){
        console.log('국내기관_외국인 매매종목가집계');
        const url = '/api/v1/kis/foreign-institution-total';
        getFetch(url).then(data => {
            console.log(data);
            displayDataAtTab('apitest8', '국내기관_외국인 매매종목가집계', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });
    $('#apitest9').click(function(){
        console.log('종목별일별매수매도체결량');
        const toYmd = JuliaUtil.today('yyyyMMdd');
        const frYmd = JuliaUtil.addDate(toYmd, 'year', -1);
        const url = `/api/v1/kis/inquire-daily-trade-volume/${frYmd}/${toYmd}/005930`;
        getFetch(url).then(data => {
            console.log(data);
            displayDataAtTab('apitest9', '종목별일별매수매도체결량', data);
        }).catch(error=> {
            console.error(error.message); 
        });
    });

});
</script>
{% endraw %}
{% endblock %}