{% raw %}
<table class="table table-bordered table-hover table-sm">
    <thead class="table-warning">
        <tr>
            <th class="align-middle text-center" rowspan="2">순위</th>
            <th class="align-middle text-center" rowspan="2"><a href="#" data-field="hts_kor_isnm" class="sort-title">종목명<i class="bi"></i></a></th>
            <th class="align-middle text-center" rowspan="2">종목코드</th>
            <th class="align-middle text-center" rowspan="2"><a href="#" data-field="stck_prpr" class="sort-title">현재가<i class="bi"></i></a></th>
            <th class="align-middle text-center" colspan="3">전일</th>
            <th class="align-middle text-center" colspan="2">시간외 총</th>
            <th class="align-middle text-center" colspan="2">시간외종가 거래량</th>
            <th class="align-middle text-center" rowspan="2">동작</th>
        </tr>
        <tr>
            <th class="text-center"><a href="#" data-field="prdy_vrss" class="sort-title">대비<i class="bi"></i></a></th>
            <th class="text-center">부호</th>
            <th class="text-center"><a href="#" data-field="prdy_ctrt" class="sort-title">대비율<i class="bi"></i></a></th>
            <th class="text-center"><a href="#" data-field="ovtm_total_askp_rsqn" class="sort-title">매도호가잔량<i class="bi"></i></a></th>
            <th class="text-center"><a href="#" data-field="ovtm_total_bidp_rsqn" class="sort-title">매도매수잔량<i class="bi"></i></a></th>
            <th class="text-center"><a href="#" data-field="mkob_otcp_vol" class="sort-title">장개시전<i class="bi"></i></a></th>
            <th class="text-center"><a href="#" data-field="mkfa_otcp_vol" class="sort-title">장개시후<i class="bi"></i></a></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr class="{{addBgColor prdy_vrss_sign 'table-danger'}}">
            <td class="text-start">{{data_rank}}</td>
            <td class="text-start">{{toggleCompanyCanvas stck_shrn_iscd hts_kor_isnm}}</td>
            <td class="text-start">{{goNaver stck_shrn_iscd}}</td>
            <td class="text-end">{{displayWon stck_prpr}}</td>
            <td class="text-end">{{prdy_vrss}}</td>
            <td class="text-center">{{displaySign prdy_vrss_sign}}</td>
            <td class="text-end">{{prdy_ctrt}}</td>
            <td class="text-end">{{displayWon ovtm_total_askp_rsqn}}</td>
            <td class="text-end">{{displayWon ovtm_total_bidp_rsqn}}</td>
            <td class="text-end">{{displayWon mkob_otcp_vol}}</td>
            <td class="text-end">{{displayWon mkfa_otcp_vol}}</td>
            <td>
                <button class="btnAddAttension btn btn-warning btn-sm" data-stk-code="{{this.stck_shrn_iscd}}" data-stk-name="{{this.hts_kor_isnm}}" title="관심..추가"><i class="bi bi-plus"></i></button>                
                <a href="/page?path=mystock/stock_detail&stk_code={{this.stck_shrn_iscd}}" class="btn btn-primary btn-sm" title="상세보기" target="_blank"><i class="bi bi-eye"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{% endraw %}
