{% raw %}
<!-- KIS-상위종목 호가잔량 -->
<table class="table table-bordered table-hover table-sm">
    <thead class="table-success">
        <tr>
            <th class="align-middle text-center" rowspan="2">순위</th>
            <th class="align-middle text-center" rowspan="2"><a href="#" data-field="hts_kor_isnm" class="sort-title-hoga">종목명<i class="bi"></i></a></th>
            <th class="align-middle text-center" rowspan="2">코드</th>
            <th class="align-middle text-center" rowspan="2"><a href="#" data-field="stck_prpr" class="sort-title-hoga">현재가<i class="bi"></i></a></th>
            <th class="align-middle text-center" rowspan="2"><a href="#" data-field="acml_vol" class="sort-title-hoga">누적 거래량<i class="bi"></i></a></th>
            <th class="align-middle text-center" colspan="3">전일</th>
            <th class="align-middle text-center" colspan="4">잔량</th>
            <th class="align-middle text-center" rowspan="2">동작</th>
        </tr>
        <tr>
            <th class="align-middle text-center"><a href="#" data-field="prdy_vrss" class="sort-title-hoga">대비<i class="bi"></i></a></th>
            <th class="align-middle text-center">부호</th>
            <th class="align-middle text-center"><a href="#" data-field="prdy_ctrt" class="sort-title-hoga">대비율<i class="bi"></i></a></th>
            <th class="align-middle text-center"><a href="#" data-field="total_askp_rsqn" class="sort-title-hoga">매도호가<i class="bi"></i></a></th>
            <th class="align-middle text-center"><a href="#" data-field="total_bidp_rsqn" class="sort-title-hoga">매수호가<i class="bi"></i></a></th>
            <th class="align-middle text-center"><a href="#" data-field="seln_rsqn_rate" class="sort-title-hoga">매도잔량 비율<i class="bi"></i></a></th>
            <th class="align-middle text-center"><a href="#" data-field="shnu_rsqn_rate" class="sort-title-hoga">매수잔량 비율<i class="bi"></i></a></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td class="text-start">{{data_rank}}</td>
            <td class="text-start">{{toggleCompanyCanvas mksc_shrn_iscd hts_kor_isnm}}</td>
            <td class="text-start">{{goNaver mksc_shrn_iscd}}</td>
            <td class="text-end">{{displayWon stck_prpr}}</td>
            <td class="text-end">{{displayWon acml_vol}}</td>
            <td class="text-end">{{displayWon prdy_vrss}}</td>
            <td class="text-end">{{displaySign prdy_vrss_sign}}</td>
            <td class="text-end">{{prdy_ctrt}}</td>
            <td class="text-end">{{displayWon total_askp_rsqn}}</td>
            <td class="text-end">{{displayWon total_bidp_rsqn}}</td>
            <td class="text-end">{{seln_rsqn_rate}}</td>
            <td class="text-end">{{shnu_rsqn_rate}}</td>
            <td>
                <button class="btnAddAttension btn btn-warning btn-sm" data-stk-code="{{this.mksc_shrn_iscd}}" data-stk-name="{{this.hts_kor_isnm}}" title="관심..추가"><i class="bi bi-plus"></i></button>                
                <a href="/page?path=mystock/stock_detail&stk_code={{this.mksc_shrn_iscd}}" class="btn btn-primary btn-sm" title="상세보기" target="_blank"><i class="bi bi-eye"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{% endraw %}