    <div class="flex flex-1 min-h-screen">
        <!-- 왼쪽 영역: 입력 폼 -->
        <div class="w-1/2 flex flex-col p-5 gap-4">
            <div class="flex flex-col gap-2">
                <label for="sample-select">막대챠트 샘플:</label>
                <select id="sample-select" class="border p-2">
                    <option value="">샘플 선택...</option>
                    (% for sample in samples %)
                    <option value="((sample.id))">((sample.title))</option>
                    (% endfor %)
                    <!-- 옵션 추가 -->
                </select>
            </div>
            <div id="messageArea" class="hidden mt-5 p-4 bg-gray-50 border border-gray-200 rounded-md text-red-500">
                <!-- 메시지 출력 영역 -->
            </div>              
            <div class="flex flex-col gap-2">
                <label for="json-data">Json 데이터:</label>
                <textarea id="json-data" class="border p-2" rows="20"></textarea>
            </div>
            <div class="flex justify-center">
                <button id="btnCreateChart" data-chart-type="bar" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    챠트 생성
                </button>
                <button id="btnClear" class="inline-flex ml-5 w-32 justify-center py-2 px-1 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-300 hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                    취소
                </button>                
            </div>
        </div>

        <!-- 오른쪽 영역 -->
        <div class="w-1/2 flex flex-col p-5 gap-4" id="right-area">
            <div class="flex border-b">
                <button class="tab tab-charts flex-1 text-xl font-bold text-center p-2">챠트</button>
                <button class="tab tab-json flex-1 text-xl font-bold text-center p-2">Json</button>
            </div>

            <!-- 챠트 탭 내용 -->
            <div id="resultChart" class="tab-content content-charts text-center hidden">
                <div class="text-left">
                    <a href="http://localhost:8989/assets/image/noimage.png" target="_blank" class="text-blue-500 hover:underline">Not Avable</a>
                </div>    
                <img src="http://localhost:8989/assets/image/noimage.png" alt="Not Avable">
            </div>

            <!-- Json 탭 내용 -->
            <div class="tab-content content-json hidden">
                <!-- Json 관련 내용을 여기에 추가 -->
                <p>Json 데이터가 여기에 표시됩니다.</p>
            </div>
        </div>
    </div>
