<!DOCTYPE html>
<lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주식자동매매(Lucy)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">      
  {% block style %}{% endblock %}  
</head>
<body>
 {% include "common/nav.html" %}    
  <div id="main-area" class="container mt-4">
    {% block content %}{% endblock %}
  </div>

<!-- Offcanvas component -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBuySell" aria-labelledby="offcanvasExampleLabel" >
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">매수/매도</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div id="offcanvaBuy" class="bg-buy mb-3 p-2">
        <h2>매수</h2>
        <form action="" id="buy-form">
            <div class="row mb-3">
                <div class="col-4">
                    <label for="pdno" class="form-label">상품번호</label>
                    <input type="text" class="form-control" name="pdno" required>
                </div>
                <div class="col-8">
                    <label for="pdno" class="form-label">상품명칭</label>
                    <input type="text" class="form-control" name="pdnm" readonly required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="qty" class="form-label">수량</label>
                    <input type="number" class="form-control" name="qty" required min="1">
                </div>
                <div class="col">
                    <label for="cost" class="form-label">지정가<small>(0:시장가)</small></label>
                    <input type="number" class="form-control" name="cost" required min="0">
                </div>
            </div>
            <button type="submit" class="btn btn-danger  btnBuyCash">매수</button>
            <button type="button" class="btn btn-secondary btnClearBuySell">초기화</button>
        </form>
    </div> 
    <div id="offcanvasBuySell" class="bg-sell p-2">
        <h2>매도</h2>
        <form action="" id="sell-form">
            <div class="row mb-3 p-2">
                <div class="col">
                    <label for="pdno" class="form-label">상품번호</label>
                    <input type="text" class="form-control" name="pdno" required>
                </div>
                <div class="col">
                    <label for="pdno" class="form-label">상품명칭</label>
                    <input type="text" class="form-control" name="pdnm" readonly required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="qty" class="form-label">수량</label>
                    <input type="number" class="form-control" name="qty"  min="1" required>
                </div>
                <div class="col">
                    <label for="cost" class="form-label">지정가<small>(0:시장가)</small></label>
                    <input type="number" class="form-control" name="cost" min="0" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btnSellCash">매도</button>
            <button type="button" class="btn btn-secondary btnClearBuySell">초기화</button>
        </form>        
    </div>
    <div id="buy-sell-message-area"></div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>


<script src="/public/js/common.js"></script>
<script src="/public/js/handlebar-helpers.js"></script>
{% block script %}{% endblock %}
<script>
    $(document).ready(function() {
        let canvasElm = document.getElementById('offcanvasBuySell');
        offcanvasBuySell = new bootstrap.Offcanvas(canvasElm, {
                backdrop: 'static',
                keyboard: false
        });

        function showBuySellCanvas(stk_code, stk_name, which, qty, cost){
            if(qty === undefined) qty = 1;
            if(cost === undefined) cost = 0;
            console.log('btnTest clicked');
            $('#buy-form').find('input[name="pdno"]').val(stk_code);
            $('#buy-form').find('input[name="pdnm"]').val(stk_name);
            $('#buy-form').find('input[name="qty"]').val(qty);
            $('#buy-form').find('input[name="cost"]').val(cost);
            $('#sell-form').find('input[name="pdno"]').val(stk_code);
            $('#sell-form').find('input[name="pdnm"]').val(stk_name);
            $('#sell-form').find('input[name="qty"]').val(qty);
            $('#sell-form').find('input[name="cost"]').val(cost);
            if (which === '매수') {
                $('#sell-form').find('input').val('');
                $('#sell-form').find('input, button, select, textarea').prop('disabled', true);
                $('#buy-form').find('input, button, select, textarea').prop('disabled', false);
            } else if (which === '매도'){
                $('#buy-form').find('input').val('');
                $('#sell-form').find('input, button, select, textarea').prop('disabled', false);
                $('#buy-form').find('input, button, select, textarea').prop('disabled', true);
            }else{
                $('#sell-form').find('input, button, select, textarea').prop('disabled', false);
                $('#buy-form').find('input, button, select, textarea').prop('disabled', false);
            }
            // debugger;;
            offcanvasBuySell.toggle();
        }
        window.showBuySellCanvas = showBuySellCanvas;
        //로그아웃
        $('#logout').click(function() {
            localStorage.removeItem('lucy_token');  // JWT 토큰 삭제
            removeCookie('lucy_token');
            fetch('/logout', {
                method: 'GET'
            }).then(function(response) {
                if (response.ok) {
                    location.href = '/login';
                }
            });
        });
        $('.btnClearBuySell').on("click", function() {
            let $form = $(this).closest('form')
            $form.find('input').val('');
        });
        function order_cash(data){
        postData('/api/v1/kis/order_cash', data)
            .then(data => {
                console.log(data);
                alert(data.msg1)
                window.location.href = '/page?id=mytest_kis';
            }).catch(error => {
                console.error(error);
                $('#buy-sell-message-area').html(error)
            });
        }

        //매수 처리
        $('#buy-form').on('submit', function(e){
            e.preventDefault();
            console.log('click 매수.... ');
            const stk_code = $('#buy-form input[name=pdno]').val();
            const qty = $('#buy-form input[name=qty]').val();
            const cost = $('#buy-form input[name=cost]').val();
            let msg = '';
            if( cost == 0){
                msg = '시장가로 매수하시겠습니까?';
            }else{
                msg = `지정가 ${cost}로 매수하시겠습니까?`;
            }
            if(!confirm(msg)) return;
            
            const data = {
                buy_sell_gb : '매수',
                stk_code: stk_code,
                qty: Number(qty),
                cost: Number(cost)
                }
            order_cash(data);
        });
        //매도
        $('#sell-form').on('submit', function(e){
            e.preventDefault();
            console.log('click 매도.... ');
            
            const stk_code = $('#sell-form input[name=pdno]').val();
            const qty = $('#sell-form input[name=qty]').val();
            const cost = $('#sell-form input[name=cost]').val();
            let msg = '';
            if( cost == 0){
                msg = '시장가로 매도하시겠습니까?';
            }else{
                msg = `지정가 ${cost}로 매도하시겠습니까?`;
            }        
            if(!confirm(msg)) return;    
            const data = {
                buy_sell_gb : '매도',
                stk_code: stk_code,
                qty: Number(qty),
                cost: Number(cost)
            }
            order_cash(data);
        })        
    });
</script>
</body>
</html>
