<!-- 에러용 Toast component -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/public/images/error1.png" class="rounded me-2" alt="error image" style="width: 60px;">
            <strong class="me-auto">Status Code : <span id="error-status-code"></span> </strong>
        </div>
        <div class="toast-body">
            <div id="error-detail"></div>
        </div>
    </div>
</div>
<!-- 에러용 Alert component -->
<div id="alertError" class="alert alert-danger d-flex align-items-center d-none" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div id="alertErrorStatus"></div>
    <div id="alertErrorMessage"></div>        
</div>