<nav class="navbar navbar-expand-lg" style="background-color:#f2bcaf;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">주식자동매매(Lucy)-LS증권</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=ls/ls-ranking">상위종목</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btnBuySellOffcanvas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBuySell">매수/매도</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=kis/kis">KIS증권</a>
                </li>

                <!-- <li class="nav-it</li>em">
                    <a class="nav-link" href="/page?path=kis/kis">계좌정보</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        종목찾기
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link" href="/page?path=kis/kis-psearch">조건식</a> </li>
                        <li><a class="nav-link" href="/page?path=kis/kis-ranking">상위종목</a></li>
                    </ul>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=kis/kis-inquire-daily-ccld">일별주문체결</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btnBuySellOffcanvas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBuySell">매수/매도</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=config/config">설정</a>
                </li> -->
            </ul>
            
            {% include "common/nav_right.html" %}
        </div>
    </div>
</nav>
