<nav class="navbar navbar-expand-lg" style="background-color:#f2bcaf;">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/main">주식자동매매(Lucy)-LS증권</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=ls/ls">계좌정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=ls/history">거래내역</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/page?path=ls/ls-ranking">상위종목</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#" id="btnBuySellOffcanvas" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBuySell">매수/매도</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=kis/kis">KIS증권</a>
                </li>
            </ul>
            
            {% include "common/nav_right.html" %}
        </div>
    </div>
</nav>
