<nav class="bg-blue-700 p-2">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white font-semibold">
            <a href="/" class="text-white font-semibold">
                Sofia-Images in folder
            </a>
        </div>
        <div id="folder-info"></div> 
        <div id="header-button-area1" class="hidden">
                <button class="text-white" id="btnRotate90" title="image clock-90 rotate">
                    <i class="fas fa-sync"></i>
                </button>
        </div> 
        <div id="header-button-area2" class="hidden flex space-x-2">
            <button class="icon-btn" data-mode="list" id="btnViewList">
              <i class="fas fa-list"></i>
            </button>
            <button class="icon-btn" data-mode="small" id="btnViewSmall">
              <i class="fas fa-th"></i>
            </button>
            <button class="icon-btn active" data-mode="medium" id="btnViewMedium" >
              <i class="fas fa-th-large"></i>
            </button>
            <button class="icon-btn" data-mode="large" id="btnViewLarge">
              <i class="fas fa-th-list"></i>
            </button>
          </div>        
        <a href="/folder/form/add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add New Folder
        </a>
    </div>
</nav>