<nav class="bg-blue-700 p-2">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white font-semibold">
            <a href="/" class="text-white font-semibold">
                Sofia-Images in folder
            </a>
        </div>
        <div id="folder-info"></div> 
        <div id="header-button-area" class="hidden">
                <button class="text-white" id="btnRotate90">
                    <i class="fas fa-rotate-9"></i> Rotate
                </button>
        </div> 
        <a href="/folder/form/add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add New Folder
        </a>
    </div>
</nav>