{% extends "common/base.html" %}
{% block content %}
<!-- KIS및 LS의 계좌현황, 대쉬보드의 역활을 한다 -->
    <div class="row">
        <div class="col">
            <h1>나의 주식</h1>

            <form id="form-mystock-add" action="">
                <input type="text" name="stk_code" placeholder="종목코드" required>
                <button type="submit" id="addStkCode" class="btn btn-primary"><i class="bi bi-plus"></i> 추가</button>
                <button type="button" id="allCost" class="btn btn-warning"><i class="bi bi-plus"></i> 현재가</button>
                <button type="button" id="dantaTest" class="btn btn-warning"><i class="bi bi-plus"></i> 단타테스트</button>
            </form>
            <div id="list-area">
            </div>        
        </div>
        <div class="col">
            <h1>WebSocket Chat</h1>
            <form action="" onsubmit="sendMessage(event)">
                <input type="text" id="messageText" autocomplete="off"/>
                <button>Send</button>
            </form>
            <ul id="messages">
            </ul>            
        </div>
    </div>
    {% raw %}
    <script id="mystock_list_template" type="text/x-handlebars-template">
    <table>
        <thead>
            <tr>
                <th>종류</th>
                <th>종목코드</th>
                <th>종목명</th>
                <th>현재가</th>
                <th>동작</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.stk_types}}</td>
                <td>{{goNaver this.stk_code}}</td>
                <td>{{this.stk_name}}</td>
                <td id="cost-{{this.stk_code}}" class="mx-2 p-2 text-end">-</td>
                <td class="ms-2">
                    <button class="btnDelete btn btn-secondary btn-sm" data-id="{{this._id}}" title="관심..삭제"><i class="bi bi-dash"></i></button>
                    <button class="btnCurrentCost btn btn-success btn-sm" data-stk-code="{{this.stk_code}}"><img src="public/images/korean-won.svg" alt="아이콘" width="20" height="20"></button>
                    <button class="btnBuy btn btn-danger btn-sm" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}">買</button>
                    <button class="btnSell btn btn-primary btn-sm" data-stk-code="{{this.stk_code}}" data-stk-name="{{this.stk_name}}">賣</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
    // if (!window.ws) {
    //     window.ws = new WebSocket("ws://localhost:8000/ws");
    // }
    
    // window.ws.onmessage = function(event) {
    //     var messages = document.getElementById('messages')
    //     var message = document.createElement('li')
    //     var content = document.createTextNode(event.data)
    //     message.appendChild(content)
    //     messages.appendChild(message)
    // };

    // function sendMessage(event) {
    //     var input = document.getElementById("messageText")
    //     window.ws.send(input.value)
    //     input.value = ''
    //     event.preventDefault()
    // }
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function display_mystocks() {
        fetch("/api/v1/mystock")
        .then(response => response.json())
        .then(data => {
            $("#list-area").empty();
            var template = Handlebars.compile($("#mystock_list_template").html());
            $("#list-area").html(template({list: data}));
        })
        .catch(error => {
            console.log(error);
        });
    }
    $(document).ready(function() {
        $('#dantaTest').on('click', function(){
            const url = '/api/v1/mystock/danta';
            getFetch(url).then(data => {
                console.log(data); 
            }).catch(error=> {
                console.error(error.message); 
            });
        });
        $('#allCost').on('click', function(){
            $('#list-area').find('.btnCurrentCost').each(function(){
                $(this).trigger('click');
                sleep(100)
            });
        });
        //현재가 조회
        $('#list-area').on('click', '.btnCurrentCost', function(e){
            e.preventDefault();
            debugger;
            const stk_code = $(this).data('stk-code');
            getFetch("/api/v1/kis/current-cost/" + stk_code)
            .then(data => {
                console.log(data);
                const cost = JuliaUtil.displayMoney(data.cost)
                $('#cost-' + stk_code).text(cost);
            })
            .catch(error => {
                showToastError(error);
                console.log(error);
            });            
        });
        //추가 버튼 클릭
        $("#form-mystock-add").submit(function(e) {
            e.preventDefault();
            e.stopPropagation();
            const stk_code = $(this).find("input[name='stk_code']").val();
            const $input = $(this).find("input[name='stk_code']")
            if(stk_code.length < 6) {
                alert("종목코드를 정확히 입력해주세요.");
                return false;
            }
            const data = {
                "stk_code": stk_code,
                "stk_types": ["관심"]
            }
            postFetch("/api/v1/mystock/add", data)
            .then(data => {
                display_mystocks();
                $input.val('');
            })

            return false;
        });
        // 삭제 버튼 클릭
        $('#list-area').on('click', '.btnDelete', function(e){
            e.stopPropagation();
            var id = $(this).data('id');
            fetch("/api/v1/mystock/delete/" + id, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => response.json())
            .then(data => {
                display_mystocks();
            }).catch(error => {
                console.log(error);
            });
        })
        // btnBuy구매 버튼 클릭
        $('#list-area').on('click', '.btnBuy', function(e){
            e.stopPropagation();
            const stk_code = $(this).data('stk-code');
            const stk_name = $(this).data('stk-name');
            showBuySellCanvas('',stk_code, stk_name, "매수", 1, 0);
        })
        // btnSell판매 버튼 클릭
        $('#list-area').on('click', '.btnSell', function(e){
            e.stopPropagation();
            const stk_code = $(this).data('stk-code');
            const stk_name = $(this).data('stk-name');
            showBuySellCanvas('',stk_code, stk_name, "매도", 1, 0);
        })
        display_mystocks();
    });
</script>
{% endraw %}
{% endblock %}