<nav class="navbar navbar-expand-lg" style="background-color:#e0f7fa;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">Stock-Api</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=user/user-list">사용자</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=log/log">로그</a> 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        테스트
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link" href="/page?path=test/test1">테스트(KIS-WS)</a></li>
                        <li><a class="nav-link" href="/page?path=test/ls-restful">LS-Restful</a></li>
                    </ul>
                </li>                
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/page?path=test/test1"><i class="bi bi-gear"></i></a>
                </li>
                <li class="nav-item">
                    <span class="nav-link text-primary">{{today}} </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
