<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>키보드 추가</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto mt-5">
        <h1 class="text-xl font-semibold mb-4">키보드 수정</h1>
        <input type="hidden" id="keyboardId" name="id" value="{{id}}"> <!-- 추가 -->
        <form id="keyboardEditForm" action="/keyboard/edit" method="post" class="space-y-4">
            <!-- 1. 제품명, 제조사 -->
            <div class="flex space-x-4">
                <div class="w-1/2">
                    <label for="product_name" class="block">제품명:</label>
                    <input type="text" id="product_name" name="product_name" class="border p-2 w-full" value="{{product_name}}">
                </div>
                <div class="w-1/2">
                    <label for="manufacturer" class="block">제조사:</label>
                    <input type="text" id="manufacturer" name="manufacturer" class="border p-2 w-full" value="{{manufacturer}}">
                </div>
            </div>
        
            <!-- 2. 구입일, 구입금액 -->
            <div class="flex space-x-4">
                <div class="w-1/2">
                    <label for="purchase_date" class="block">구입일 (YYYYMMDD):</label>
                    <input type="text" id="purchase_date" name="purchase_date" class="border p-2 w-full"  value="{{purchase_date}}">
                </div>
                <div class="w-1/2">
                    <label for="purchase_amount" class="block">구입금액:</label>
                    <input type="number" id="purchase_amount" name="purchase_amount" class="border p-2 w-full" value="{{purchase_amount}}">
                </div>
            </div>
        
            <!-- 3. 키 타입, 스위치 타입 -->
            <div class="flex space-x-4">
                <div class="w-1/2">
                    <label for="key_type" class="block">키 타입:</label>
                    <input type="text" id="key_type" name="key_type" class="border p-2 w-full" value="{{key_type}}">
                </div>
                <div class="w-1/2">
                    <label for="switch_type" class="block">스위치 타입:</label>
                    <input type="text" id="switch_type" name="switch_type" class="border p-2 w-full" value="{{switch_type}}">
                </div>
            </div>
        
            <!-- 4. 작동 압력, 인터페이스 타입 -->
            <div class="flex space-x-4">
                <div class="w-1/2">
                    <label for="actuation_force" class="block">작동 압력:</label>
                    <input type="text" id="actuation_force" name="actuation_force" class="border p-2 w-full" value="{{actuation_force}}">
                </div>
                <div class="w-1/2">
                    <label for="interface_type" class="block">인터페이스 타입:</label>
                    <input type="text" id="interface_type" name="interface_type" class="border p-2 w-full" value="{{interface_type}}">
                </div>
            </div>
        
            <!-- 5. 종합적 평가 -->
            <div>
                <label for="overall_rating" class="block">종합적 평가 (1~10):</label>
                <input type="range" id="overall_rating" name="overall_rating" class="w-full" min="1" max="10" value="{{overall_rating}}">
            </div>
        
            <!-- 6. 타이핑 감각 -->
            <div>
                <label for="typing_feeling" class="block">타이핑 감각:</label>
                <textarea id="typing_feeling" name="typing_feeling" class="border p-2 w-full">{{typing_feeling}}</textarea>
            </div>
        

            <div class="grid grid-cols-3 gap-4">
                {{#each files}}
                    <div class="space-y-2">
                        <img src="/file/{{this.file_id}}" alt="Thumbnail" class="w-full h-auto">
                        <div class="flex items-center justify-center">
                            <input type="checkbox" id="delete_file_{{this.file_id}}" name="delete_file_ids" value="{{this.file_id}}" class="mr-2">
                            <label for="delete_file_{{this.file_id}}">삭제</label>
                        </div>
                    </div>
                {{/each}}
            </div>
            <!-- 추가로 첨부할 파일을 선택하는 input -->
            <div>
                <label for="file_upload" class="block">첨부파일:</label>
                <input type="file" id="file_uploads" name="upload_files" class="border p-2 w-full" multiple>
            </div>   
            
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                수정하기
            </button>
            <a href="/main?pageId=keyboard-list" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                취소
            </a>               
        </form>
    </div>
</body>
</html>
