<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Keyboard Collections</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container mx-auto mt-8">
            <div class="bg-white p-5 rounded shadow">
                <h1 class="text-2xl font-bold mb-4">Keyboard Details</h1>
                <p><strong>Product Name:</strong> {{product_name}}</p>
                <p><strong>Manufacturer:</strong> {{manufacturer}}</p>
                <p><strong>Purchase Date:</strong> {{purchase_date}}</p>
                <p><strong>Purchase Amount:</strong> {{purchase_amount}}</p>
                <p><strong>Key Type:</strong> {{key_type}}</p>
                <p><strong>Switch Type:</strong> {{switch_type}}</p>
                <p><strong>Actuation Force:</strong> {{actuation_force}}</p>
                <p><strong>Interface Type:</strong> {{interface_type}}</p>
                <p><strong>Overall Rating:</strong> {{overall_rating}}</p>
                <p><strong>Typing Feeling:</strong> {{typing_feeling}}</p>
                <p><strong>Created On:</strong> {{create_on}}</p>
                <p><strong>Created By:</strong> {{create_by}}</p>

                <div class="mt-4">
                    <h2 class="text-xl font-semibold mb-2">Related Files</h2>
                    <div class="flex flex-wrap">
                        {{#each files}}
                        <div class="w-1/4 p-2">
                            <img src="/file/{{this.file_id}}" alt="File Image" class="w-full h-auto rounded">
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div class="mt-8">
                    <a href="#" id="btnGoList" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">List로 가기</a>
                    <a href="#" id="btnGoEdit" data-id="{{id}}"  class="ml-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">수정</a>
                </div>
            </div>
        </div>
    </body>
</html>
