{% extends 'common/base_kis.html' %}
{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<section id="list" class="container">
    <h2>조건식리스트</h2>
    <div id="psearch-table-area"></div>
    <div id="psearch-reuslt-area"></div>
</section>
    
{% raw %} 
<script id="psearch-table-template" type="text/x-handlebars-template">
    <table class="table">
        <thead>
            <tr>
                <!-- {
                    "user_id": "kdy8017",
                    "seq": "0",
                    "grp_nm": "임시그룹",
                    "condition_nm": "변동성0"
                }                 -->
                <th>사용자ID</th>
                <th>그룹명</th>
                <th>조건식 명칭</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.user_id}}</td>
                <td>{{this.grp_nm}}</td>
                <td><a href="#" data-seq="{{this.seq}}" class="btnPsearchResult">{{this.condition_nm}}</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script id="result-table-template" type="text/x-handlebars-template">
    <div class="row">
        {{#each list}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title text-primary">{{this.name}}</h5>
                    <button class="btnBuy btn btn-danger" data-stk-code="{{this.code}}" data-stk-name="{{this.name}}">買</button>
                </div>
                <div class="card-body">
                <p class="card-text"><strong>종목코드:</strong> {{goNaver this.code}} ({{displayDaebi this.daebi}})</p>
                <p class="card-text"><strong>현재가:</strong> {{displayWon this.price}}({{displayPercent this.chgrate}}%) </p>
                <!-- <p class="card-text"><strong>등락율:</strong> {{displayPercent this.chgrate}}%</p> -->
                <p class="card-text"><strong>거래량(금액):</strong> {{displayWon this.acml_vol}}({{displayWon this.trade_amt}})</p>
                <p class="card-text"><strong>전일대비:</strong> {{displayWon this.change}}(<strong>체결강도:</strong> {{displayPercent this.cttr}})</p>
                <p class="card-text"><strong>저가:</strong> {{displayWon this.low}} <strong>시가:</strong> {{displayWon this.open}} <strong>고가:</strong> {{displayWon this.high}}</p>
                <p class="card-text"><strong>52주최저가:</strong> {{displayWon this.low52}} <strong>52주최고가:</strong> {{displayWon this.high52}}</p>
                <p class="card-text">
                <!-- <p class="card-text"><strong>예상체결가:</strong> {{this.expprice}}</p>
                <p class="card-text"><strong>예상대비:</strong> {{this.expchange}}</p>
                <p class="card-text"><strong>예상등락률:</strong> {{this.expchggrate}}</p>
                <p class="card-text"><strong>예상체결수량:</strong> {{this.expcvol}}</p>
                <p class="card-text"><strong>전일거래량대비율:</strong> {{this.chgrate2}}</p>
                <p class="card-text"><strong>예상대비부호:</strong> {{this.expdaebi}}</p>
                <p class="card-text"><strong>기준가:</strong> {{this.recprice}}</p>
                <p class="card-text"><strong>상한가:</strong> {{this.uplmtprice}}</p>
                <p class="card-text"><strong>하한가:</strong> {{this.dnlmtprice}}</p> -->
                <p class="card-text"><strong>시가총액:</strong> {{displayJoEok this.stotprice}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>    
</script>
{% endraw %}
{% endblock %}

{% block script %}
{% raw %}
<script>
    Handlebars.registerHelper('displayDaebi', function(value) {
    const statusMap = {
        1: "상한",
        2: "상승",
        3: "보합",
        4: "하한",
        5: "하락"
    };

    return statusMap[value] || "Unknown";
    });    
    function make_result_html(data){
        const rt_cd = data.rt_cd
        if(rt_cd == '1') {
            $('#psearch-reuslt-area').html(data.msg1)
            return
        }
        let template = Handlebars.compile(document.getElementById('result-table-template').innerHTML);
        let html = template({list : data.output2});
        $('#psearch-reuslt-area').html(html)

    }
    $( document ).ready(function() {
        const stk_code = $('#stk_code').val();
        getFetch('/api/v1/kis/psearch/title')
        .then(data => { 
            console.log(data);
            let template = Handlebars.compile(document.getElementById('psearch-table-template').innerHTML); 
            const output2 = data.output2;
            let html = template({list : output2});
            $('#psearch-table-area').html(html)
        })
        .catch(error=> { console.error(error); })

        //조건식 결과 조회
        $('#psearch-table-area').on("click", ".btnPsearchResult", function() {
            const seq = $(this).data('seq');
            getFetch('/api/v1/kis/psearch/result/'+seq)
            .then(data => { 
                console.log(data);
                make_result_html(data)
            })
            .catch(error=> { console.error(error); });
        });
        //매수 버튼 클릭
        $('#psearch-reuslt-area').on("click", ".btnBuy", function() {
            const stk_code = $(this).data('stk-code');
            const stk_name = $(this).data('stk-name');
            showBuySellCanvas(stk_code, stk_name, "매수", 1, 0);
        });
    });
    </script>	    
{% endraw %}
{% endblock %}