{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div class="m-2 p-2 d-flex align-items-center flex-wrap" style="background-color: rgb(203, 244, 217);">
    <div><h3>KIS-상위종목</h3></div>
    <div class="mx-2">
        시장구분 : 
        <select name="market" id="market" class="form-select d-inline w-auto">
            <option value="전체">전체</option>
            <option value="코스피">코스피</option>
            <option value="코스닥">코스닥</option>
            <option value="코스피200">코스피200</option>
        </select>
    </div>
    <div class="me-2">
        정렬 : 
        <select name="rank_sort" id="ranksort" class="form-select d-inline w-auto">
            <option value="순매수잔량순">순매수잔량순</option>
            <option value="순매도잔량순">순매도잔량순</option>
            <option value="매수비율순">매수비율순</option>
            <option value="매도비율순">매도비율순</option>
        </select>
    </div>
    <div class="me-2">
        볼륨 : 
        <input type="text" name="vol_cnt" id="vol_cnt" class="form-control d-inline w-auto">
    </div>
    <div class="me-2">
        <button class="btn btn-primary" id="btnTimeoutHogaJanrang">시간외호가잔량</button>
    </div>
    <div class="me-2">
        <button class="btn btn-primary" id="btnHogaJanrang">호가잔량</button>
    </div>
    <div class="ms-auto">
        <button id="btnClear" class="btn btn-secondary">결과Clear</button>
    </div>
</div>

<div  class="m-2 p-2" id="result-area">
    <h4 id="title"></h4>
    <div id="result"></div>
</div>
{% raw %}
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
Handlebars.registerHelper('addBgColor', function(value, className) {
    if (value == "1" || value == "2") {
        return className;
    }
    return '';
});

$( document ).ready(function() {
    console.log( "ready!")
    $('#btnTimeoutHogaJanrang').on('click',async function(){
        const url = `/api/v1/kis/rank/after-hour-balance`;
        const data = {
            market: $('#market').val(),
            rank_sort: $('#ranksort').val(),
            vol_cnt: $('#vol_cnt').val()
        }
        
        const template = await fetch_handlebar_and_compile('kis/after-hour-hogajanrang.html')
        postFetch(url, data)
            .then(data => {
                console.log(data);
                if (data.rt_cd != '0'){
                    $('#result').html(data.msg1);
                    return;
                }                
                const html = template({list: data.output});
                $('#title').text('시간외호가잔량');
                $('#result').html(html);
            })
            .catch(error => {
                $('#result').html(error.message);
            });
    })
    $('#btnHogaJanrang').on('click',async function(){
        const url = `/api/v1/kis/rank/quote-balance`;
        const data = {
            market: $('#market').val(),
            rank_sort: $('#ranksort').val(),
            vol_cnt: $('#vol_cnt').val()
        }
        
        const template = await fetch_handlebar_and_compile('kis/quote-balance.html')
        postFetch(url, data)
            .then(data => {
                console.log(data);
                debugger;
                if (data.rt_cd != '0'){
                    $('#result').html(data.msg1);
                    return;
                }
                const html = template({list: data.output});
                $('#title').text('호가잔량');
                $('#result').html(html);
            })
            .catch(error => {
                $('#result').html(error.message);
            });
    });
    $('#result').on("click", ".btnAddAttension", function() {
        //관심을 추가한다.
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = `/api/v1/mystock/add/stktype/${stk_code}/관심`;
        const data = {};
        putFetch(url, data).then(data => {
            console.log(data);
            alert(`${stk_name}(${stk_code}) 관심종목으로 추가되었습니다.`);
        }).catch(error=> {
            console.error(error.message);
            showAlertError(error);
        });
    });    
});
</script>
{% endraw %}
{% endblock %}