{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div class="m-2 p-2 d-flex align-items-center flex-wrap" style="background-color: rgb(203, 244, 217);">
    <div><h3>KIS-상위종목</h3></div>
    <div class="mx-2">
        시장구분 : 
        <select name="market" id="market" class="form-select d-inline w-auto">
            <option value="전체">전체</option>
            <option value="코스피">코스피</option>
            <option value="코스닥">코스닥</option>
            <option value="코스피200">코스피200</option>
        </select>
    </div>
    <div class="me-2">
        정렬 : 
        <select name="rank_sort" id="ranksort" class="form-select d-inline w-auto">
            <option value="순매수잔량순">순매수잔량순</option>
            <option value="순매도잔량순">순매도잔량순</option>
            <option value="매수비율순">매수비율순</option>
            <option value="매도비율순">매도비율순</option>
        </select>
    </div>
    <div class="me-2">
        볼륨 : 
        <input type="text" name="vol_cnt" id="vol_cnt" class="form-control d-inline w-auto">
    </div>
    <div class="me-2">
        <button class="btn btn-primary" id="btnTimeoutHogaJanrang">시간외호가잔량</button>
    </div>
    <div class="me-2">
        <button class="btn btn-primary" id="btnHogaJanrang">호가잔량</button>
    </div>
    <div class="ms-auto">
        <button id="btnClear" class="btn btn-secondary">결과Clear</button>
    </div>
</div>

<div  class="m-2 p-2" id="result-area">
    <h4 id="title"></h4>
    <div id="result"></div>
</div>
{% raw %}
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
Handlebars.registerHelper('addBgColor', function(value, className) {
    if (value == "1" || value == "2") {
        return className;
    }
    return '';
});
let afterBuffer ={
    list : [],
    currentSort : { field: null, direction:  'asc'},
    template : null
}
let hogaBuffer ={
    list : [],
    currentSort : { field: null, direction:  'asc'},
    template : null
}
function makeTableAfter(){
    const list = afterBuffer.list;
    //정렬
    const sortField = afterBuffer.currentSort.field;
    const sortDirection = afterBuffer.currentSort.direction;
    if (sortField){
        if (sortField == 'hts_kor_isnm'){
            list.sort((a,b) => {
                if (sortDirection == 'asc'){
                    return a[sortField].localeCompare(b[sortField]);
                }else{
                    return b[sortField].localeCompare(a[sortField]);
                }
            });
        }else{
            list.sort((a,b) => {
                if (sortDirection == 'asc'){
                    return Number(a[sortField]) - Number(b[sortField]);
                }else{
                    return Number(b[sortField]) - Number(a[sortField]);
                }
            });
        }
    }
    const template = afterBuffer.template;
    const html = template({list: list});
    $('#title').text('시간외호가잔량');
    $('#result').html(html);

    // 아이콘 설정
    const $resultArea = $('#result').find('table thead tr');
    $resultArea.find('.sort-title i').removeClass('bi-arrow-up bi-arrow-down');  // 모든 아이콘 제거
    var currentIcon = afterBuffer.currentSort.direction === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down';
    $resultArea.find('a[data-field="' + afterBuffer.currentSort.field + '"] i').addClass(currentIcon);    
}
function makeTableHoga(){
    const list = hogaBuffer.list;
    //정렬
    const sortField = hogaBuffer.currentSort.field;
    const sortDirection = hogaBuffer.currentSort.direction;
    if (sortField){
        if (sortField == 'hts_kor_isnm'){
            list.sort((a,b) => {
                if (sortDirection == 'asc'){
                    return a[sortField].localeCompare(b[sortField]);
                }else{
                    return b[sortField].localeCompare(a[sortField]);
                }
            });
        }else{
            list.sort((a,b) => {
                if (sortDirection == 'asc'){
                    return Number(a[sortField]) - Number(b[sortField]);
                }else{
                    return Number(b[sortField]) - Number(a[sortField]);
                }
            });
        }
    }
    const template = hogaBuffer.template;
    const html = template({list: list});
    $('#title').text('시간외호가잔량');
    $('#result').html(html);

    // 아이콘 설정
    const $resultArea = $('#result').find('table thead tr');
    $resultArea.find('.sort-title-hoga i').removeClass('bi-arrow-up bi-arrow-down');  // 모든 아이콘 제거
    var currentIcon = hogaBuffer.currentSort.direction === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down';
    $resultArea.find('a[data-field="' + hogaBuffer.currentSort.field + '"] i').addClass(currentIcon);    
}
$( document ).ready(function() {
    console.log( "ready!")
    $('#btnTimeoutHogaJanrang').on('click',async function(){
        const url = `/api/v1/kis/rank/after-hour-balance`;
        const data = {
            market: $('#market').val(),
            rank_sort: $('#ranksort').val(),
            vol_cnt: $('#vol_cnt').val()
        }
        
        const template = await fetch_handlebar_and_compile('kis/after-hour-hogajanrang.html')
        afterBuffer.template = template;
        postFetch(url, data)
            .then(data => {
                console.log(data);
                if (data.rt_cd != '0'){
                    $('#result').html(data.msg1);
                    return;
                }
                afterBuffer.list = data.output;
                makeTableAfter();                
            })
            .catch(error => {
                $('#result').html(error.message);
            });
    })
    $('#btnHogaJanrang').on('click',async function(){
        const url = `/api/v1/kis/rank/quote-balance`;
        const data = {
            market: $('#market').val(),
            rank_sort: $('#ranksort').val(),
            vol_cnt: $('#vol_cnt').val()
        }
        
        const template = await fetch_handlebar_and_compile('kis/quote-balance.html')
        hogaBuffer.template = template;
        postFetch(url, data)
            .then(data => {
                console.log(data);
                if (data.rt_cd != '0'){
                    $('#result').html(data.msg1);
                    return;
                }
                hogaBuffer.list = data.output;
                makeTableHoga();
            })
            .catch(error => {
                $('#result').html(error.message);
            });
    });
    $('#result').on("click", ".btnAddAttension", function() {
        //관심을 추가한다.
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = `/api/v1/mystock/add/stktype/${stk_code}/관심`;
        const data = {};
        putFetch(url, data).then(data => {
            console.log(data);
            alert(`${stk_name}(${stk_code}) 관심종목으로 추가되었습니다.`);
        }).catch(error=> {
            console.error(error.message);
            showAlertError(error);
        });
    });
    $('#result').on('click', '.sort-title', function() {
        const fieldName = $(this).data('field');
        console.log('sort:', fieldName);
        var isAscending = afterBuffer.currentSort.field === fieldName && afterBuffer.currentSort.direction === 'asc';
        afterBuffer.currentSort.direction = isAscending ? 'desc' : 'asc';
        afterBuffer.currentSort.field = fieldName;
        makeTableAfter();
    });        
    $('#result').on('click', '.sort-title-hoga', function() {
        const fieldName = $(this).data('field');
        console.log('sort:', fieldName);
        var isAscending = hogaBuffer.currentSort.field === fieldName && hogaBuffer.currentSort.direction === 'asc';
        hogaBuffer.currentSort.direction = isAscending ? 'desc' : 'asc';
        hogaBuffer.currentSort.field = fieldName;
        makeTableHoga();
    });        
});
</script>
{% endraw %}
{% endblock %}   