{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h4 class="text-primary">KIS관심종목 그룹</h4>
<div id="group-list-area">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">전송 일시</th>
                <th scope="col">순위</th>
                <th scope="col">관심 그룹 코드</th>
                <th scope="col">관심 그룹 명</th>
                <th scope="col" class="text-end">요청 개수</th>
            </tr>
        </thead>
        <tbody id="grouplist-table-body">
            <!-- Handlebars 템플릿이 여기서 사용됩니다 -->
        </tbody>
    </table>
</div>
<h4 id="group-title" class="text-primary"></h4>
<div id="stock-list-area">
    <!-- Handlebars 템플릿이 여기서 사용됩니다 -->
</div>
{% raw %}
<!--handlebar scripts-->
<script id="group-list-template" type="text/x-handlebars-template">
    {{#each items}}
    <tr>
        <td>{{displayYmd date}} {{displayTime trnm_hour}}</td>
        <td>{{index data_rank}}</td>
        <td>{{inter_grp_code}}</td>
        <td><a href="#" data-code={{inter_grp_code}} data-title="{{inter_grp_name}}" class="btnGroup">{{inter_grp_name}}</a></td>
        <td class="text-end">{{toInt ask_cnt}}</td>
    </tr>
    {{/each}}
</script>
<script id="stocklist-template" type="text/x-handlebars-template">
    <table class="table table-bordered">
        <thead>
            <tr class="table-secondary">
                <th scope="col">순위</th>
                <th scope="col">거래소</th>
                <th scope="col">종목코드</th>
                <th scope="col">종목명</th>
                <th class="text-end" scope="col">현재가</th>
                <th class="text-end" scope="col">전일대비</th>
                <th class="text-end" scope="col">전일대비율</th>
                <th class="text-end" scope="col">총매도 잔량</th>
                <th class="text-end" scope="col">총매수 잔량</th>
                <th class="text-end" scope="col">누적거래량</th>
                <th class="text-end" scope="col">누적거래대금</th>
                <th class="text-center" scope="col">동작</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td>{{toInt data_rank}}</td>
                <td>{{exch_code}}</td>
                <td>{{goNaver jong_code}}</td>
                <td>{{toggleCompanyCanvas jong_code hts_kor_isnm}}</td>
                <td class="text-end" id="{{jong_code}}_prpr">-</td>
                <td class="text-end" id="{{jong_code}}_inter2_prdy_vrss">-</td>
                <td class="text-end" id="{{jong_code}}_ctrt">-</td>
                <td class="text-end" id="{{jong_code}}_total_askp_rsqn">-</td>
                <td class="text-end" id="{{jong_code}}_total_bidp_rsqn">-</td>
                <td class="text-end" id="{{jong_code}}_acml_vol">-</td>
                <td class="text-end" id="{{jong_code}}_acml_tr_pbmn">-</td>
                <td>
                    <button class="btnBuy btn btn-danger btn-sm" data-stk-code="{{this.jong_code}}" data-stk-name="{{this.hts_kor_isnm}}">買</button>
                    <button class="btnSell btn btn-primary btn-sm" data-stk-code="{{this.jong_code}}" data-stk-name="{{this.hts_kor_isnm}}">賣</button>
                    <button class="btnDantaAdd btn btn-warning btn-sm" data-stk-code="{{this.jong_code}}" data-stk-name="{{this.hts_kor_isnm}}" title="관심 추가"><i class="bi bi-plus-circle"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
Handlebars.registerHelper('index', function(value) {
    return  Number(value)+ 1;  // 0부터 시작하므로 1을 더해줌
});    
Handlebars.registerHelper('toInt', function(value) {
    return parseInt(value, 10);  // 문자열을 정수로 변환
});
let current_stock_code_list = [];
function initialize(){
    const url = '/api/v1/kis/attension/grouplist'
    getFetch(url).then(data => {
        console.log(data);
        const source = document.getElementById('group-list-template').innerHTML;
        const template = Handlebars.compile(source);
        const html = template({items: data.output2});
        document.getElementById('grouplist-table-body').innerHTML = html;
    }).catch(error=> {
        console.error(error.message); 
    });
}
function get_multi_price(){
    const url = '/api/v1/kis/attension/multi_price/' + current_stock_code_list.join('');
    getFetch(url).then(data => {
        console.log('멀티가격');
        console.log(data);
        let list = data.output
        for (let i = 0; i < list.length; i++) {
            const item = list[i];
            const code = item.inter_shrn_iscd;
            const prpr = item.inter2_prpr;
            const inter2_prdy_vrss = item.inter2_prdy_vrss;
            const ctrt = item.prdy_ctrt;
            const acml_vol = item.acml_vol;
            const acml_tr_pbmn = moneyFormat(Number(item.acml_tr_pbmn));
            const total_askp_rsqn = item.total_askp_rsqn;
            const total_bidp_rsqn = item.total_bidp_rsqn;
            $('#stock-list-area').find('#'+code + '_prpr').text(Number(prpr).toLocaleString());
            if (inter2_prdy_vrss <= 0) {
                $('#stock-list-area').find('#'+code + '_inter2_prdy_vrss').removeClass('text-danger').addClass('text-primary'); 
                $('#stock-list-area').find('#'+code + '_ctrt').removeClass('text-danger').addClass('text-primary'); 
            } else {
                $('#stock-list-area').find('#'+code + '_inter2_prdy_vrss').removeClass('text-primary').addClass('text-danger');
                $('#stock-list-area').find('#'+code + '_ctrt').removeClass('text-primary').addClass('text-danger');
            }
            $('#stock-list-area').find('#'+code + '_inter2_prdy_vrss').text(Number(inter2_prdy_vrss).toLocaleString());
            $('#stock-list-area').find('#'+code + '_ctrt').text(ctrt);
            $('#stock-list-area').find('#'+code + '_total_askp_rsqn').text(Number(total_askp_rsqn).toLocaleString());
            $('#stock-list-area').find('#'+code + '_total_bidp_rsqn').text(Number(total_bidp_rsqn).toLocaleString());
            $('#stock-list-area').find('#'+code + '_acml_vol').text(Number(acml_vol).toLocaleString());
            $('#stock-list-area').find('#'+code + '_acml_tr_pbmn').text(acml_tr_pbmn);
        }
    }).catch(error=> {
        console.error(error.message); 
    });
}
$( document ).ready(function() {
    console.log( "ready!");
    initialize();
    $('#grouplist-table-body').on("click", ".btnGroup", function() {
        const code = $(this).data('code');
        const title = $(this).data('title');
        $('#group-title').text(title);
        console.log(code);
        const url = '/api/v1/kis/attension/stocklist_by_group/' + code;
        getFetch(url).then(data => {
            console.log(data);
            const source = document.getElementById('stocklist-template').innerHTML;
            const template = Handlebars.compile(source);
            const html = template({items: data.output2});
            document.getElementById('stock-list-area').innerHTML = html;
            current_stock_code_list = data.output2.map(item => item.jong_code);
            get_multi_price();
        }).catch(error=> {
            //console.error(error.message);
            showToastError(error.message); 
        });
    });
    // btnBuy구매 버튼 클릭
    $('#stock-list-area').on('click', '.btnBuy', function(e){
        e.stopPropagation();
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        showBuySellCanvas('',stk_code, stk_name, "매수", 1, 0);
    })
    // btnSell판매 버튼 클릭
    $('#stock-list-area').on('click', '.btnSell', function(e){
        e.stopPropagation();
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        showBuySellCanvas('',stk_code, stk_name, "매도", 1, 0);
    })
    // 단타추가 버튼 클릭
    $('#stock-list-area').on('click', '.btnDantaAdd', function(e){
        e.stopPropagation();
        const stk_code = $(this).data('stk-code');
        const stk_name = $(this).data('stk-name');
        const url = '/api/v1/mystock/add';
        const data = { "stk_code": String(stk_code), "stk_name": stk_name, "stk_types": ["관심"] };
        postFetch(url, data).then(data => {
            console.log(data);
            alert(data.message);
        }).catch(error=> {
            console.error(error.message);
            showToastError(error.message); 
        });
    })    
});
</script>
{% endraw %}
{% endblock %}