{% extends 'common/base_ls.html' %}
{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<section id="list-section" class="container">
    <div>
        <h5>LS증권 계좌조회</h5>
        <div class="row">
            <div  id="summary-area" class="col-6 mt-3"></div>
            <div class="col-6"></div>
        </div>
        <div id="jango2-area"></div>
    </div> 
    <div>
        <div id="fulfill-table-area" class="mt-3"></div>
    </div>
    <div>
        <div id="fulfill-table-area2" class="mt-3"></div>
    </div>    
</section>

{% raw %} 
<script id="summary-table-template" type="text/x-handlebars-template">
    <table class="table table-sm">
        <tr>
            <th class="text-end">추정순자산</th><td class="text-end">{{displayWon item.sunamt}}</td>
            <th class="text-end">실현손익</th><td class="text-end">{{displayWon item.dtsunik}}</td>
            <th class="text-end">매입금액</th><td class="text-end">{{displayWon item.mamt}}</td>
        </tr>
        <tr>
            <th class="text-end">추정D2예수금</th><td class="text-end"><strong>{{displayWon item.sunamt1}}</strong></td>
            <th class="text-end">평가손익</th><td class="text-end">{{displayWon item.tdtsunik}}</td>
            <th class="text-end">평가금액</th><td class="text-end">{{displayWon item.sunamt}}</td>
        </tr>
    </table>
</script>
<script id="jango2-table-template" type="text/x-handlebars-template">
    <h4>잔고</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th>종목명</th>
                <th class="text-center">종목번호</th>
                <th class="text-end">보유수량</th>
                <th class="text-end">평균단가</th>
                <th class="text-end">현재가</th>
                <th class="text-end">매입금액</th>
                <th class="text-end">평가금액</th>
                <th class="text-end">평가손익</th>
                <th class="text-end">수익율</th>
                <th class="text-end">수수료</th>
                <th class="text-end">제세금</th>
                <th class="text-center">동작</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {{#each list}}
            <tr>
                <td class="">{{hname}}</td>
                <td class="text-center">{{expcode}}</td>
                <td class="text-end">{{displayWon mdposqt}}</td>
                <td class="text-end">{{displayWon pamt}}</td>
                <td class="text-end">{{displayWon price}}</td>
                <td class="text-end">{{displayWon mamt}}</td>
                <td class="text-end">{{displayWon appamt}}</td>
                {{#test "dtsunik>0"}}
                <td class="text-end text-danger">{{displayWon dtsunik}}</td>
                <td class="text-end text-danger">{{sunikrt}}</td>
                {{else}}
                <td class="text-end text-primary">{{displayWon dtsunik}}</td>
                <td class="text-end text-primary">{{sunikrt}}</td>
                {{/test}}

                <td class="text-end">{{displayWon fee}}</td>
                <td class="text-end">{{displayWon tax}}</td>
                <td class="text-center">
                    <button class="btn btn-sm btn-danger btnShowBuyCanvas" data-stk-code="{{expcode}}" data-stk-name="{{hname}}">매수</button>
                    <button class="btn btn-sm btn-primary btnShowSellCanvas"  data-stk-code="{{expcode}}" data-stk-name="{{hname}}" data-qty="{{mdposqt}}">매도</button>
                </td>
            </tr>
            {{/each}}                
        </tbody>
    </table>
</script>
<script id="fulfill-table-template" type="text/x-handlebars-template">
    <h4>{{title}}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>상태</th>
                <th>주문시간</th>
                <th>주문번호</th>
                <th>종목번호</th>
                <th>구분</th>
                <th class="text-end">주문수량</th>
                <th class="text-end">주문가격</th>
                <th class="text-end">현재가</th>
                <th class="text-end">체결수량</th>
                <th class="text-end">체결가격</th>
                <th class="text-end">미체결잔량</th>
                <th class="text-end">확인수량</th>
                <th class="text-center">동작</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{status}}</td>
                <td>{{ordtime}}</td>
                <td>{{ordno}}</td>
                <td>{{expcode}}</td>
                <td>{{medosu}}</td>
                <td class="text-end">{{displayWon qty}}</td>
                <td class="text-end">{{displayWon price}}</td>
                <td class="text-end">{{displayWon price1}}</td>
                <td class="text-end">{{displayWon cheqty}}</td>
                <td class="text-end">{{displayWon cheprice}}</td>
                <td class="text-end">{{displayWon ordrem}}</td>
                <td class="text-end">{{displayWon cfmqty}}</td>
                <td>
                    {{#test 'status =="접수"'}}
                    <button class="btn btn-sm btn-secondary btnOrderCancel" data-org-ord-no="{{ordno}}" data-stk-code="{{expcode}}" data-qty="{{qty}}">전량취소</button>
                    {{/test}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}

{% block script %}
{% raw %}
<script>
    function initalize() {
        //계좌조회
        const url = '/api/v1/ls/jango2'
        getFetch(url).then(data => {
            console.log(data)
            const template = $('#jango2-table-template').html();
            const templateScript = Handlebars.compile(template);
            const html = templateScript({list: data.t0424OutBlock1});
            $('#jango2-area').html(html);
            const template1 = $('#summary-table-template').html();
            const templateScript1 = Handlebars.compile(template1);
            const html1 = templateScript1({item: data.t0424OutBlock});
            $('#summary-area').html(html1);
            
        }).catch(error => {
            console.error(error.message)
        });
        // const url2 = '/api/v1/ls/fulfill-api-list';
        const url2 = '/api/v1/ls/fulfill-list';
        const today = JuliaUtil.dateFormat('yyyyMMdd', new Date())
        const data = {
        //    order_dt : today   
        }

        postFetch(url2, data).then(data => {
            console.log(data);
            const template = $('#fulfill-table-template').html();
            const templateScript = Handlebars.compile(template);
            var list = data.t0425OutBlock1;
            var list1 = list.filter(item => item.status === '접수');
            const html = templateScript({list: list1, title: '미체결'});
            $('#fulfill-table-area').html(html);

            list2 = list.filter(item => item.status !== '접수');
            const html2 = templateScript({list: list2, title: '체결'});
            $('#fulfill-table-area2').html(html2);

            
        }).catch(error=> {
            console.error(error.message);
        });

    };        
    
    $( document ).ready(function() {
        console.log('ready.... ');
        //매수 버튼
        $('#jango2-area').on('click', '.btnShowBuyCanvas', function(e) {
            e.preventDefault();
            console.log('btnBuySellCanvas click.... ');
            const stk_code = $(this).data('stk-code');
            const stk_name = $(this).data('stk-name');
            const qty = $(this).data('qty');
            showBuySellCanvas('LS',stk_code, stk_name, "매수", qty, 0);
        });
        //매도 버튼
        $('#jango2-area').on('click', '.btnShowSellCanvas', function(e) {
            e.preventDefault();
            console.log('btnShowSellCanvas click.... ');
            const stk_code = $(this).data('stk-code');
            const stk_name = $(this).data('stk-name');
            const qty = $(this).data('qty');
            showBuySellCanvas('LS',stk_code, stk_name, "매도", qty, 0);
        });

        $('#fulfill-table-area').on("click", ".btnOrderCancel", function() {
            const confirmCancel = confirm("미체결 주문을 취소하시겠습니까?");
            if (!confirmCancel) {
                return;
            } 
            debugger;
            const url = '/api/v1/ls/cancel-order';
            const org_ord_no = $(this).data('org-ord-no');
            const stk_code = $(this).data('stk-code');
            const qty = $(this).data('qty');

            const data = { 
                org_ord_no: String(org_ord_no),
                stk_code : String(stk_code),
                qty: parseInt(qty,10)
            };
            postFetch(url, data).then(data => {
                console.log(data);
                alert(data.rsp_msg);
                location.reload();
            }).catch(error=> {
                console.error(error.message);
                showToastError(error.message);
                
            });
        });

        initalize();

    });
    </script>	    
{% endraw %}
{% endblock %}