{% extends 'common/base_ls.html' %}
{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<section id="list-section" class="container">
    <h3>LS증권 계좌조회</h3>
    <div id="message-area"></div> 
    <div id="jango2"></div>
    <div>
        <h5>오늘의 미체결</h5>
        <div id="ccld-result-area" class="mt-3"></div>
    </div>
</section>

{% raw %} 
<script id="jango2-table-template" type="text/x-handlebars-template">
    <h4>잔고</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                
                <th>종목명</th>
                <th>종목번호</th>
                <th>매도가능수량</th>
                <th>평균단가</th>
                <th>매입금액</th>
                <th>평가금액</th>
                <th>평가손익</th>
                <th>수익율</th>
                <th>수수료</th>
                <th>제세금</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {{#each list}}
            <tr>
                <td>{{hname}}</td>
                <td>{{expcode}}</td>
                <td>{{mdposqt}}</td>
                <td>{{pamt}}</td>
                <td>{{mamt}}</td>
                <td>{{appamt}}</td>
                <td>{{dtsunik}}</td>
                <td>{{sunikrt}}</td>
                <td>{{fee}}</td>
                <td>{{tax}}</td>
            </tr>
            {{/each}}                
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}

{% block script %}
{% raw %}
<script>
    function initalize() {
        //계좌조회
        $('#jango2').click(function() {
            const url = '/api/v1/ls/jango2'
            getFetch(url).then(data => {
                console.log(data)
                const template = $('#jango2-table-template').html();
                const templateScript = Handlebars.compile(template);
                const html = templateScript({list: data.t0424OutBlock});
                $('#jango2').html(html);
            }).catch(error => {
                console.error(error)
            });
            }).catch(error => {
                console.error(error)
            });
        });        
    }
    $( document ).ready(function() {
        console.log('ready.... ');


        initalize();

    });
    </script>	    
{% endraw %}
{% endblock %}