{% extends 'common/base.html' %}
{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<section id="list-section" class="container">
    <h1>KIS(한국투자증권) TEST</h1>
    <button id="btnTesTToken">Test-AccessToken</button>
    <button id="btnPsearchTitle">조건식리스트</button>
    <button id="btnInquireDailyCcld">주식일별주문체결조회</button>
    <div id="message-area"></div> 
    <div id="inquire-balance-area"></div>
</section>

{% raw %} 
<script id="inquire-balance-table-template" type="text/x-handlebars-template">
    <h2>예수금총액 : {{displayWon output2.dnca_tot_amt}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>상품번호</th>
                <th>상품명</th>
                <th class="text-end">매입평균가격</th>
                <th class="text-end">현재가</th>
                <th class="text-end">보유수량</th>
                <th class="text-end">매입금액</th>
                <th class="text-end">평가금액</th>
                <th class="text-end">평가손익율</th>
                <th class="text-center">동작</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            {{#test "hldg_qty > 0"}}
            <tr class="align-middle">
                <td><a href="#" class="btnSetSellBuy" data-stk-code="{{pdno}}" data-stk-name="{{prdt_name}}">{{pdno}}</a></td>
                <td><a href="#" class="btnStockInfo" data-stk-code="{{pdno}}">{{prdt_name}}</a></td>
                <td class="text-end">{{displayWon pchs_avg_pric}}</td>
                <td class="text-end">{{displayWon prpr}}</td>
                <td class="text-end">{{hldg_qty}}</td>
                <td class="text-end">{{displayWon pchs_amt}}</td>
                <td class="text-end">{{displayWon evlu_amt}}</td>
                <td class="text-end">{{displayWon evlu_pfls_amt}}</td>
                <td class="text-center">
                    <button class="btn btn-sm btn-danger btnShowBuyCanvas" data-stk-code="{{pdno}}" data-stk-name="{{prdt_name}}">매수</button>
                    <button class="btn btn-sm btn-primary btnShowSellCanvas"  data-stk-code="{{pdno}}" data-stk-name="{{prdt_name}}" data-qty="{{hldg_qty}}">매도</button>
                </td>
            </tr>
            {{/test}}
            {{/each}}
        </tbody>
    </table>
</script>
{% endraw %}
{% endblock %}

{% block script %}
{% raw %}
<script>
    function initalize() {
        fetchData('/api/v1/kis')
        .then(data => { 
            if(data.rt_cd == "1"){
                console.log(data); 
                $('#message-area').html(data.msg1)
                return;
            }
            let output1 = data.output1;
            let output2 = data.output2[0];
            let template = Handlebars.compile(document.getElementById('inquire-balance-table-template').innerHTML);
            let html = template({list : output1, output2: output2});
            $('#inquire-balance-area').html(html)
            console.log(data); 
        })
        .catch(error=> { 
            console.error(error); 
            $('#message-area').html(error)
        });
    }
    $( document ).ready(function() {
        console.log('ready.... ');
        //조건식 목록 조회
        $('#btnPsearchTitle').on('click', function() {
            window.location.href = '/page?id=mytest_kis-psearch';            
        });
        //계좌정보 조회
        $('#inquire-balance-area').on("click", ".btnStockInfo", function(e) {
            e.preventDefault();
            const stk_code = $(this).data('stk-code');
            setCookie('stk_code', stk_code, 5);
            window.location.href = '/page?id=mytest_kis-stock-info';
            
        });

        $('#inquire-balance-area').on('click', '.btnShowSellCanvas', function(e) {
            e.preventDefault();
            console.log('btnShowSellCanvas click.... ');
            const stk_code = $(this).data('stk-code');
            const stk_name = $(this).data('stk-name');
            const qty = $(this).data('qty');
            showBuySellCanvas(stk_code, stk_name, "매도", qty, 0);
        });
        
        //
        $('#btnTesTToken').on('click', function() {
            console.log('btnTesTToken click.... ');

            fetchData('/api/v1/kis/token')
            .then(data => {
                console.log(data);
                $('#message-area').html(data.detail)
            }).catch(error => {
                console.error(error);
                $('#message-area').html(error)
            });
        });

        //주식일별주문체결조회
        $('#btnInquireDailyCcld').on('click', function() {
            console.log('주식일별주문체결조회 click.... ');
            window.location.href = '/page?id=mytest_kis-inquire-daily-ccld';

        });

        initalize();

    });
    </script>	    
{% endraw %}
{% endblock %}