<!-- loading layer -->
<!-- <div class="container-fluid mt-5 d-none" id="julia-loading-div">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center vh-100">
        <div class="spinner-border text-secondary" role="status">
        </div>
        <span class="m-2"> Please Wait... </span>
        </div>
    </div>
</div> -->
<div>
    <input type="hidden" name="page_path" id="page_path" value="{{page_path}}">
</div>
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center d-none" id="julia-loading-div">
    <div class="text-center">
        <div class="spinner-border text-secondary" role="status">
        </div>
        <span class="m-2"> Please Wait... </span>
    </div>
</div>