{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}

<div>
    <h1>LS-Restful API Test</h1>
    <div id="basic-info-area" class="border m-2 p-2">
        user_id: <input type="text" name="user_id" id="user_id" value="kdy987">
        acct_no: <input type="text" name="acctno" id="acctno" value="00501716387">
    </div>
    <div id="current-cost-area" class="m-2 p-2">
        stk_code: <input type="text" name="stk_code" id="stk_code" value="295310"> 
        <button id="btnCurrentCost">현재가</button>
        <input type="text" name="current_cost" id="current_cost" readonly>
    </div>
    <div id="buy-sell-area" class="m-2 p-2">
        stk_code: <input type="text" name="stk_code" id="stk_code1" value="295310"> 
        qty:<input type="number" name="qty" id="qty" value="1">
        cost:<input type="number" name="cost" id="cost" value="0">
        <button id="btnBuy">매수</button>
        <button id="btnSell">매도</button>
    </div>    
</div>
<div id="error-area"></div>
{% raw %}
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>

$( document ).ready(function() {
    function orderProcess(buySellType) {
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const stk_code = $('#stk_code1').val();
        const qty = $('#qty').val();
        const cost = $('#cost').val();
        const url = `/api/v1/ls/order/${user_id}/${acctno}`;
        const data = {
            "buy_sell_gb": buySellType,
            "user_id": user_id,
            "acctno": acctno,
            "stk_code": stk_code,
            "qty": qty,
            "cost": cost
        };
        postFetch(url, data)
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
    }    
    //현재가
    $('#btnCurrentCost').on('click', function(){
        var user_id = $('#user_id').val();
        var acctno = $('#acctno').val();
        var stk_code = $('#stk_code').val();
        var url = `/api/v1/ls/current-cost/${user_id}/${acctno}/${stk_code}`;
        getFetch(url)
        .then(data => {
            console.log(data);
            if(data.rsp_cd == "00000"){
                $('#current_cost').val(data.t1102OutBlock.price)
            }

        }).catch(error => {
            console.error('Error:', error)
            $('#error-area').html(error.message);
        });
    });
    //매수
    $('#btnBuy').on('click', function(){
        orderProcess('매수');
    });
//매도
    $('#btnSell').on('click', function(){
        orderProcess('매도');
    })    
}); //doc ready
</script>
{% endraw %}
{% endblock %}