{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}

<div>
    <h1>LS-Restful API Test</h1>
    <div id="basic-info-area" class="border m-2 p-2 bg-secondary">
        user_id: <input type="text" name="user_id" id="user_id" value="kdy987">
        acct_no: <input type="text" name="acctno" id="acctno" value="00501716387">
    </div>
    <div id="current-cost-area" class="m-2 p-2">
        stk_code: <input type="text" name="stk_code" id="stk_code" value="295310"> 
        <button id="btnCurrentCost">현재가</button>
        <input type="text" name="current_cost" id="current_cost" readonly>
    </div>
    <div id="buy-sell-area" class="m-2 p-2">
        stk_code: <input type="text" name="stk_code" id="stk_code1" value="295310"> 
        qty:<input type="number" name="qty" id="qty" value="1">
        cost:<input type="number" name="cost" id="cost" value="0">
        <button id="btnBuy">매수</button>
        <button id="btnSell">매도</button>
    </div>    
    <div id="modify-area" class="m-2 p-2">
        ordno: <input type="text" name="ordno" id="ordno" value=""> 
        stk_code: <input type="text" name="stk_code" id="stk_code2" value="295310"> 
        qty:<input type="number" name="qty" id="qty2" value="1">
        cost:<input type="number" name="cost" id="cost2" value="0">
        <button id="btnModifyOrder">정정주문</button>
        <button id="btnCancelOrder">주문취소</button>
    </div>  
    <div id="acct-history-area" class="m-2 p-2">
        날짜범위: <input type="text" id="from_date" value="20210701"> ~ <input type="text" id="to_date" value="20240730">
        stk_code: <input type="text" name="stk_code" id="stk_code3" value="295310"> 
        <button id="btnAcctHistory">거래내역조회</button>
    </div>        
    <div id="fulfill-list-area" class="m-2 p-2">
        stk code : <input type="text" id="stk_code3" value="295310">
        체결/미체결 : <select name="fullfill_type" id="fullfill_type">
            <option value="전체">전체</option>
            <option value="미체결">미체결</option>
            <option value="체결">체결</option>
        </select>
        매수/매도: <select name="buy_sell_gb" id="buy_sell_gb">
            <option value="전체">전체</option>
            <option value="매수">매수</option>
            <option value="매도">매도</option>
        </select>
        <button id="btnFulfill">체결/미체결 조회</button>
    </div>        
    <div id="fulfill-api-list-area" class="m-2 p-2">
        stk code : <input type="text" id="stk_code4" value="295310">
        order date: <input type="text" id="order_dt4" value="20240710">
        시장구분 : <select  id="market_gb4">
            <option value="전체">전체</option>
            <option value="거래소">거래소</option>
            <option value="코스닥">코스닥</option>
            <option value="프리보드">프리보드</option>
            </select>
        체결/미체결 : <select  id="fullfill_type4">
            <option value="전체">전체</option>
            <option value="미체결">미체결</option>
            <option value="체결">체결</option>
        </select>
        매수/매도: <select  id="buy_sell_gb4">
            <option value="전체">전체</option>
            <option value="매수">매수</option>
            <option value="매도">매도</option>
        </select>
        주문형태: <select  id="ord_ptn_code4">
            <option value="전체">전체</option>
            <option value="매도전체">매도전체</option>
            <option value="매수전체">매수전체</option>
            <option value="현금매도">현금매도</option>
            <option value="현금매수">현금매수</option>
        </select>
        <button id="btnFulfillApi">체결/미체결 Api 조회</button>
    </div>        
</div>
<div id="error-area"></div>
{% raw %}
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>

$( document ).ready(function() {
    function orderProcess(buySellType) {
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const stk_code = $('#stk_code1').val();
        const qty = $('#qty').val();
        const cost = $('#cost').val();
        const url = `/api/v1/ls/order/${user_id}/${acctno}`;
        const data = {
            "buy_sell_gb": buySellType,
            "user_id": user_id,
            "acctno": acctno,
            "stk_code": stk_code,
            "qty": qty,
            "cost": cost
        };
        postFetch(url, data)
            .then(data => {
                console.log(data);
                const stk_nm = data.CSPAT00601OutBlock2.IsuNm
                const qty = data.CSPAT00601OutBlock1.OrdQty
                const cost = data.CSPAT00601OutBlock1.OrdPrc == 0 ? "시장가" : data.CSPAT00601OutBlock1.OrdPrc
                const ordno = data.CSPAT00601OutBlock2.OrdNo
                const msg = `주문번호:${ordno} : ${stk_nm} ${buySellType} 주문이 완료되었습니다. 주문수량: ${qty}, 주문금액: ${cost}`;
                $('#error-area').html(msg);
            })
            .catch(error => {
                console.error(error);
            });
    }    
    //현재가
    $('#btnCurrentCost').on('click', function(){
        var user_id = $('#user_id').val();
        var acctno = $('#acctno').val();
        var stk_code = $('#stk_code').val();
        var url = `/api/v1/ls/current-cost/${user_id}/${acctno}/${stk_code}`;
        getFetch(url)
        .then(data => {
            console.log(data);
            if(data.rsp_cd == "00000"){
                $('#current_cost').val(data.t1102OutBlock.price)
            }

        }).catch(error => {
            console.error('Error:', error)
            $('#error-area').html(error.message);
        });
    });
    //매수
    $('#btnBuy').on('click', function(){
        orderProcess('매수');
    });
    //매도
    $('#btnSell').on('click', function(){
        orderProcess('매도');
    })    
    $('#btnModifyOrder').on('click', function(){
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const ordno = $('#ordno').val();
        const stk_code = $('#stk_code2').val();
        const qty = $('#qty2').val();
        const cost = $('#cost2').val();
        const url = `/api/v1/ls/modify-order/${user_id}/${acctno}`;
        const data = {
            "org_ord_no": ordno,
            "stk_code": stk_code,
            "qty": qty,
            "cost": cost
        };
        postFetch(url, data)
            .then(data => {
                console.log(data);
                const stk_nm = data.CSPAT00700OutBlock2.IsuNm
                const qty = data.CSPAT00700OutBlock1.OrdQty
                const cost = data.CSPAT00700OutBlock1.OrdPrc == 0 ? "시장가" : data.CSPAT00700OutBlock1.OrdPrc
                const ordno = data.CSPAT00700OutBlock2.OrdNo
                const msg = `주문번호:${ordno} : ${stk_nm} 정정주문이 완료되었습니다. 주문수량: ${qty}, 주문금액: ${cost}`;
                $('#error-area').html(msg);
            })
            .catch(error => {
                $('#error-area').html(error.message);
            });
    })
    $('#btnCancelOrder').on('click', function(){
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const ordno = $('#ordno').val();
        const stk_code = $('#stk_code2').val();
        const qty = $('#qty2').val();
        const cost = $('#cost2').val();
        const url = `/api/v1/ls/cancel-order/${user_id}/${acctno}`;
        const data = {
            "org_ord_no": ordno,
            "stk_code": stk_code,
            "qty": qty
        };
        postFetch(url, data)
            .then(data => {
                console.log(data);
                const stk_nm = data.CSPAT00801OutBlock2.IsuNm
                const qty = data.CSPAT00801OutBlock1.OrdQty
                const orgOrdNo = data.CSPAT00801OutBlock1.OrgOrdNo
                const msg = `주문번호:${orgOrdNo} : ${stk_nm} 주문이 취소되었습니다. 주문수량: ${qty}`;
                $('#error-area').html(msg);
            })
            .catch(error => {
                $('#error-area').html(error.message);
            });
    })
    $('#btnAcctHistory').on('click', function(){
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const from_date = $('#from_date').val();
        const to_date = $('#to_date').val();
        const stk_code = $('#stk_code3').val();
        const url = `/api/v1/ls/acct-history/${user_id}/${acctno}`;
        const data = {
            "acctno" : acctno,
            "from_ymd": from_date,
            "to_ymd": to_date,
            "stk_code": stk_code
        };
        postFetch(url, data)
            .then(data => {
                console.log(data);
                $('#error-area').html(data.rsp_msg);
            })
            .catch(error => {
                $('#error-area').html(error.message);
            });
    });
    $('#btnFulfill').on('click', function(){
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const stk_code = $('#stk_code3').val();
        const fullfill_type = $('#fullfill_type').val();
        const buy_sell_gb = $('#buy_sell_gb').val();
        const url = `/api/v1/ls/fulfill-list/${user_id}/${acctno}`;
        const data = {
            "acctno" : acctno,
            "stk_code": stk_code,
            "fullfill_type": fullfill_type,
            "buy_sell_gb": buy_sell_gb
        };
        postFetch(url, data)
            .then(data => {
                console.log(data);
                $('#error-area').html(data.rsp_msg);
            })
            .catch(error => {
                $('#error-area').html(error.message);
            });
    });
    $('#btnFulfillApi').on('click', function(){
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const stk_code = $('#stk_code4').val();
        const order_dt = $('#order_dt4').val();
        const market_gb = $('#market_gb4').val();
        const fullfill_type = $('#fullfill_type4').val();
        const buy_sell_gb = $('#buy_sell_gb4').val();
        const ord_ptn_code = $('#ord_ptn_code4').val();
        const url = `/api/v1/ls/fulfill-api-list/${user_id}/${acctno}`;
        const data = {
            "market_gb": market_gb,
            "buy_sell_gb": buy_sell_gb,
            "stk_code": stk_code,
            "fullfill_type": fullfill_type,
            "order_dt": order_dt,
            "ord_ptn_code": ord_ptn_code
        };
        postFetch(url, data)
            .then(data => {
                console.log(data);

                $('#error-area').html(data.rsp_msg);
            })
            .catch(error => {
                $('#error-area').html(error.message);
            });
    })  
}); //doc ready
</script>
{% endraw %}
{% endblock %}