{% extends 'common/base.html' %}
{% block style %}
<style>
.log {
    width: 100%;
    height: 300px;
    overflow: auto;
    border: 1px solid #000;
    padding: 10px;
}
</style>
{% endblock %}
{% block content %}
    <h1>LS Websocket</h1>
    <div id="basic-info-area" class="border m-2 p-2 bg-secondary">
        user_id: <input type="text" name="user_id" id="user_id" value="kdy987">
        acct_no: <input type="text" name="acctno" id="acctno" value="00501716387">
    </div>
    <div>
        <button id="btnNoticeWsStart">LS웹소켓연결</button> 
        <button id="btnNoticeWsStop">LS웹소켓해제</button> 
        <button id="btnNewsStart">뉴스시작</button>
        <button id="btnNewsStop">뉴스종료</button>

    </div>
    <div class="log" id="log">
    </div>
    <div>
        stk_code: <input type="text" name="stk_code" id="stk_code" value="005930">

    </div>
{% raw %}
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
var ws;

function startWebSocket(user_id) {
    if (ws) {
        ws.close();
        ws = null;
    }
    ws = new WebSocket("ws://localhost:8000/api/v1/ws?user_id=" + user_id);

    ws.onmessage = function(event) {
        var logsDiv = $('#log');
        //debugger;
        // var jsonData = JSON.parse(event.data);
        s = event.data;
        var newLog = $('<div>').text('from WS:'+s);
        logsDiv.append(newLog);

        // 자동 스크롤
        logsDiv.scrollTop(logsDiv[0].scrollHeight);
    };

    ws.onerror = function(event) {
        console.error("WebSocket error observed:", event);
        ws.close();
        ws = null;
    };

    ws.onclose = function(event) {
        console.log("WebSocket connection closed:", event);
        ws = null;
    };
}

function stopWebSocket() {
    if (ws) {
        ws.close();
    }
    ws = null;
}    
$( document ).ready(function() {
    console.log( "ready!")
    const user_id = $('#user_id').val();
    startWebSocket(user_id);
    $('#btnNoticeWsStart').click(function() {
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const url = `/api/v1/ls/notice/start/${user_id}/${acctno}`;
        getFetch(url)
        .then((data) => {
            console.log(data);
            $('#log').append(`<div>from Restful: ${data.code}: ${data.detail}</div>`)
        });
    });
    $('#btnNoticeWsStop').click(function() {
        const user_id = $('#user_id').val();
        const acctno = $('#acctno').val();
        const url = `/api/v1/ls/notice/stop/${user_id}/${acctno}`;
        getFetch(url)
        .then((data) => {
            console.log(data);
            $('#log').append(`<div>from Restful: ${data.code}: ${data.detail}</div>`)
        });
    });
});
</script>
{% endraw %}
{% endblock %}