{% extends 'common/base.html' %}
{% block style %}
<style>
.log {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}
.buysell input {
    width:100px;
}
</style>

{% endblock %}
{% block content %}
<div class="row">
    <div class="col buysell">
        user id: <input type="text" id="user_id" value="kdy987">
        stock abbr: <input type="text" id="stk_abbr" value="KIS">
        account no : <input type="text" id="acct_no" value="6577792801">
        stock code : <input type="text" id="stk_code" value="005930">
        qty : <input type="number" name="qty" id="qty" value="1">
        cost(0:시장가): <input type="number" name="cost" id="cost" value="0">
        <br>
        <button id="btnStartWs">WS시작</button>
        <button id="btnStopWs">WS종료</button>
        <button id="btnStartNotice">체결통보시작</button>
        <button id="btnStopNotice">체결통보종료</button>
        <button id="btnBuy">매수</button>
        <button id="btnSell">매도</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>Websocket</h3>
        <div class="log" id="ws-log"></div>
    </div>
    <div class="col">
        <h3>Restful</h3>
        <div class="log" id="restful-log"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="error-area"></div>
    </div>
</div>
{% raw %} 
<!--handlebar scripts-->
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
var ws;

function startWebSocket(user_id) {
    if (ws) {
        ws.close();
        ws = null;
    }
    ws = new WebSocket("ws://localhost:8000/api/v1/ws?user_id=" + user_id);

    ws.onmessage = function(event) {
        var logsDiv = $('#ws-log');
        //debugger;
        // var jsonData = JSON.parse(event.data);
        s = event.data;
        var newLog = $('<div>').text(s);
        logsDiv.append(newLog);

        // 자동 스크롤
        logsDiv.scrollTop(logsDiv[0].scrollHeight);
    };

    ws.onerror = function(event) {
        console.error("WebSocket error observed:", event);
        ws.close();
        ws = null;
    };

    ws.onclose = function(event) {
        console.log("WebSocket connection closed:", event);
        ws = null;
    };
}

function stopWebSocket() {
    if (ws) {
        ws.close();
    }
    ws = null;
}
function dispError(errormsg){
    $('#error-area').text(nowtime + ":" + errormsg);
} 
function addRestfulLog(log) {
    var logsDiv = $('#restful-log');
    var newLog = $('<div>').text(log);
    logsDiv.append(newLog);
    logsDiv.scrollTop(logsDiv[0].scrollHeight);
}   
$( document ).ready(function() {
    console.log( "ready!")
    //웹소켓 시작 종료
    $('#btnStartWs').on('click', function(){
        const user_id = $('#user_id').val();
        startWebSocket(user_id);
    })
    $('#btnStopWs').on('click', function(){
        stopWebSocket();
    });
    //체결통보 시작 종료
    $('#btnStartNotice').on('click', function(){
        const user_id = $('#user_id').val();
        const acct_no = $('#acct_no').val();
        const stk_abbr = $('#stk_abbr').val();
        const url = `/api/v1/${stk_abbr.toLowerCase()}/notice/start/${user_id}/${acct_no}`
        console.log(url);
        getFetch(url)
        .then(response => {
            console.log(response);
            addRestfulLog(JSON.stringify(response));
        })
        .catch(error => {
            console.error(error.message);
            addRestfulLog(error.toString());
        });
    });
    $('#btnStartNotice').on('click', function(){
        const user_id = $('#user_id').val();
        const acct_no = $('#acct_no').val();
        const stk_abbr = $('#stk_abbr').val();
        const url = `/api/v1/${stk_abbr.toLowerCase()}/notice/stop/${user_id}/${acct_no}`
        console.log(url);
        getFetch(url)
        .then(response => {
            console.log(response);
            addRestfulLog(JSON.stringify(response));
        })
        .catch(error => {
            console.error(error.message);
            addRestfulLog(error.toString());
        });
    });
    $('#btnBuy').on('click', function(){
        const user_id = $('#user_id').val();
        const stk_abbr = $('#stk_abbr').val();
        const acct_no = $('#acct_no').val();
        const stk_code = $('#stk_code').val();
        const qty = $('#qty').val();
        const cost = $('#cost').val();
        const data = {
            "buy_sell_gb": "매수",
            "user_id": user_id,
            "acctno": acct_no,
            "stk_code": stk_code,
            "qty": qty,
            "cost": cost
        }
        const url = `/api/v1/${stk_abbr.toLowerCase()}/order-cash/${user_id}/${acct_no}`
        postFetch(url, data)
        .then(response => {
            console.log(response);
            addRestfulLog(JSON.stringify(response));
        })
        .catch(error => {
            console.error(error.message);
            addRestfulLog(error.toString());
        });
    });
    $('#btnSell').on('click', function(){
        const user_id = $('#user_id').val();
        const stk_abbr = $('#stk_abbr').val();
        const acct_no = $('#acct_no').val();
        const stk_code = $('#stk_code').val();
        const qty = $('#qty').val();
        const cost = $('#cost').val();
        const data = {
            "buy_sell_gb": "매도",
            "user_id": user_id,
            "acctno": acct_no,
            "stk_code": stk_code,
            "qty": qty,
            "cost": cost
        }
        const url = `/api/v1/${stk_abbr.toLowerCase()}/order-cash/${user_id}/${acct_no}`
        postFetch(url, data)
        .then(response => {
            console.log(response);
            addRestfulLog(JSON.stringify(response));
        })
        .catch(error => {
            console.error(error.message);
            addRestfulLog(error.toString());
        });
    });
    
});
</script>
{% endraw %}
{% endblock %}