#
# export STOCK_API_MODE=local 
# 이 경우 .env.local을 읽어서 처리한다.
#
#----------------------------------------------------
# DATABASE
#----------------------------------------------------
DB_URL=mongodb://xxx:xxx@localhost:27017/
DB_NAME=stock-api-db

#----------------------------------------------------
# LOG
#----------------------------------------------------
LOG_LEVEL=DEBUG
LOG_FILE=c:\\tmp\\logs\\stock-api\\stock_api.log


