{% raw %}
<table class="table">
    <thead>
        <tr>
            <th>종목코드</th>
            <th>한글명</th>
            <th class="text-end">현재가</th>
            <th>전일대비구분</th>
            <th class="text-end">전일대비</th>
            <th class="text-end">등락율</th>
            <th class="text-end">예상거래량</th>
            <th class="text-end">매도호가</th>
            <th class="text-end">매수호가</th>
            <th class="text-end">전일거래량</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{shcode}}</td>
            <td>{{hname}}</td>
            <td class="text-end">{{price}}</td>
            <td>{{sign}}</td>
            <td class="text-end">{{change}}</td>
            <td class="text-end">{{diff}}</td>
            <td class="text-end">{{volume}}</td>
            <td class="text-end">{{offerho}}</td>
            <td class="text-end">{{bidho}}</td>
            <td class="text-end">{{jnilvolume}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{% endraw %}
