#-------------------------------------------------
# 데이터베이스 설정
#-------------------------------------------------
DB_HOST=localhost
DB_USERNAME=kdy987
DB_PASSWORD=kalpa987!
DB_PORT=5432
DB_NAME=assetapi

#-------------------------------------------------
# DART-api-key
#-------------------------------------------------
DART_API_KEY=123