{% extends 'common/base.html' %}
{% block style %}
<style>
    /* container의 기본 너비를 커스터마이징 */
    @media (min-width: 1200px) {
      .container {
        max-width: 1600px; /* 원하는 너비로 변경 */
      }
    }
  </style>
{% endblock %}
{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="judal-search-tab" data-bs-toggle="tab"
            data-bs-target="#judal-search-area" type="button" role="tab" aria-controls="userinfo"
            aria-selected="true">주달검색</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="judal-theme-tab" data-bs-toggle="tab"
            data-bs-target="#judal-detail-theme-area" type="button" role="tab"
            aria-controls="myreview" aria-selected="false">테마리스트</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- 검색탭 -->
    <div id="judal-search-area"  class="tab-pane fade show active">
        <div id="search-area" class="m-2">
            <!-- Themes Area -->
            <div id="themes-area" class="d-flex flex-wrap mb-3"></div>
            
            <!-- Market Radio Buttons Area -->
            <div id="market-area" class="mb-3">
                <div id="market-radio" class="btn-group" role="group" aria-label="Market Radio Buttons">
                    <input type="radio" class="btn-check" name="market" id="radio-all" autocomplete="off" checked value="all">
                    <label class="btn btn-outline-primary" for="radio-all">전체</label>
        
                    <input type="radio" class="btn-check" name="market" id="radio-kosdaq" autocomplete="off" value="KOSDAQ">
                    <label class="btn btn-outline-primary" for="radio-kosdaq">코스닥</label>
        
                    <input type="radio" class="btn-check" name="market" id="radio-kospi" autocomplete="off" value="KOSPI">
                    <label class="btn btn-outline-primary" for="radio-kospi">코스피</label>
                </div>
            </div>
        
            <!-- Cost Area -->
            <div id="cost-area" class="d-flex flex-wrap gap-3 mb-3">
                <div class="flex-grow-1">
                    <label for="total-cost">시가총액:</label>
                    <input type="number" id="total-cost" class="form-control" value="5000" required>
                </div>
                <div class="flex-grow-1">
                    <label for="current-cost-start">현재가:</label>
                    <div class="input-group">
                        <input type="number" id="current-cost-start" class="form-control" value="1000" required>
                        <input type="number" id="current-cost-end" class="form-control" value="250000" required>
                    </div>
                </div>
            </div>
        
            <!-- Search Button Area -->
            <div id="search-button-area" class="d-flex justify-content-start gap-2">
                <button id="search-button" class="btn btn-primary">검색</button>
                <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">
                    <i class="bi bi-question-circle"></i>
                </button>                
            </div>
        </div>
        <div class="collapse" id="collapseHelp">
            <div class="card card-body">
                <ul>
                    <li>52주 소외지수 : 52주 저점과 52주 고점 사이에서의 현재 주가의 위치를 백분율로 표시한 지수로 낮을 수록 많이 소외된 종목입니다</li>
                    <li>PBR(주가 / 주당 순자산가치) : 낮을 수록 저평가된 회사입니다. 낮은 것을 선택하십시오</li>
                    <li>PER(주가 / 주당 순이익) : 낮을 수록 좋습니다. 하지만 마이너스 종목은 적자회사를 의미합니다. 마이너스 종목은 가급적 배제하십시오</li>
                    <li>EPS(당기순이익 / 주식수) : 높을 수록 좋습니다. 마이너스 종목은 적자회사를 의미합니다. 마이너스 종목은 가급적 배제하십시오</li>
                    <li>당일 거래량지수 : 시가총액대비 당일 거래금액을 지수화한 수치입니다.</li>
                    <li>7일 거래량지수 : 최근7일 거래량평균값을 최근90일거래량평균과 비교한 수치입니다.</li>
                </ul>
            </div>
        </div>        
        <div id="result-area"></div>
    </div>
    <!-- 테마리스트탭 -->
    <div id="judal-detail-theme-area" class="tab-pane fade m-2">
        <div class="row">
            <div class="col-2">
                <div class="">
                    Filter: <input type="text" id="detail-theme-filter-keyword" style="width:100px"> <button id="theme-filter-clear-button" class="btn btn-primary"><i class="bi bi-x-circle"></i></button>
                </div>
                <div id="detail-theme-list-area"></div>
            </div>
            <div class="col-10">
                <div id="csv-result-area"></div>
            </div>
        </div>
    </div>
    <!-- <div id="naver-info" class="naver-info-box"></div> -->
</div>
{% raw %}
<!--handlebar scripts-->
<script id="themes-template" type="text/x-handlebars-template">
    {{#each themes}}
    <div class="form-check me-2">
        <input class="form-check-input theme" type="checkbox" value="{{name}}" id="theme-{{@index}}">
        <label class="form-check-label" for="theme-{{@index}}">
            {{name}}
        </label>
    </div>
    {{/each}}
</script>    
<script id="themes-result-template" type="text/x-handlebars-template">
<table class="table table-sm table-hover">
    <thead class="table-secondary">
        <th>종목명</th>
        <th>코드</th>
        <th class="text-end"><a href="#" data-field="시가총액" class="sort-title">시가총액<i class="bi"></i></a></th>
        <th class="text-end">52최저<br>차이</th>
        <th class="text-end"><a href="#" data-field="현재가" class="sort-title">현재가<i class="bi"></i></a></th>
        <th class="text-end">52최고<br>차이</th>
        <th class="text-center"><a href="#" data-field="52주 소외지수" class="sort-title">소외지수<br>52주<i class="bi"></i></a></th>
        <th class="text-end">PBR</th>
        <th class="text-end">PER</th>
        <th class="text-end">EPS</th>
        <th class="text-end"><a href="#" data-field="전일비" class="sort-title">전일비<i class="bi"></i></a></th>
        <th class="text-end"><a href="#" data-field="3일합산" class="sort-title">3일합산<i class="bi"></i></a></th>
        <th class="text-end"><a href="#" data-field="당일 거래량지수" class="sort-title">당일거래량<br>지수<i class="bi"></i></a></th>
        <th class="text-end"><a href="#" data-field="최근7일 거래량지수" class="sort-title">7일거래량<br>지수<i class="bi"></i></a></th>
        <th class="text-center">동작</th>
    </thead>
    <tbody>
        {{#each stocks}}
        <tr>
            <!-- <td><span class="naver-hover" data-stk-code="{{종목코드}}">{{종목명}}</span></td> -->
            <td>{{toggleCompanyCanvas 종목코드 종목명}}</td>
            <td>{{goNaver 종목코드}}</td>
            <td class="text-end">{{formatKoreanWon 시가총액}}</td>
            <td class="text-end table-success">{{displayCha 현재가 52주최저}}</td>
            <td class="text-end table-success fw-bold">{{displayWon 현재가}}</td>
            <td class="text-end  table-success">{{displayCha 52주최고 현재가}}</td>
            <td class="text-center table-success">{{'52주 소외지수'}}</td>
            <td class="text-end table-secondary">{{numberFmt PBR '0.00' '-'}}</td>
            <td class="text-end table-secondary">{{numberFmt PER '0.00' '-'}}</td>
            <td class="text-end table-secondary">{{numberFmt EPS '0,000' '-'}}</td>
            <td class="text-end table-warning">{{numberFmt 전일비 '0.00' '-'}}%</td>
            <td class="text-end table-warning">{{numberFmt 3일합산 '0.00' '-'}}%</td>
            <td class="text-end table-danger">{{'당일 거래량지수'}}</td>
            <td class="text-end table-danger">{{'최근7일 거래량지수'}}%</td>
            <td class="text-center">
                <button class="btnAddDanta btn btn-warning btn-sm me-1" title="나의 주식 관심 추가" data-stk-code="{{종목코드}}" data-stk-name="{{종목명}}"><i class="bi bi-plus-circle"></i></button>
                <a href="/page?path=mystock/stock_detail&stk_code={{this.stk_code}}" class="btn btn-primary btn-sm" title="상세보기" target="_blank"><i class="bi bi-eye"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</script>
<script id="detail-themes-template" type="text/x-handlebars-template">
    <ul class="list-group">
        {{#each list}}
        <li class="list-group-item"><a href="#" class="theme-view" data-csv-name="{{name}}">{{name}}</a></li>
        {{/each}}
    </ul>
</script>
{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
let theme_list = [];
let current_list = []; //1번째 탭 결과
let currentSort = { field: null, direction: 'asc' };

let current_csv_list = []; //2번째 탭 csv에서 읽어서 받은 리스트
let currentCsvSort = { field: null, direction: 'asc' };
let current_csv_name = '';

Handlebars.registerHelper('formatKoreanWon', function(number) {
    if (number >= 10000) {
        // 조 단위로 변환
        const trillionPart = Math.floor(number / 10000);
        const billionPart = number % 10000;
        return trillionPart + '조 ' + billionPart + '억';
    } else if (number >= 10000) {
        // 억 단위로 변환
        return number + '억';
    } else {
        // 1억 미만 숫자도 억 단위로 변환
        return number + '억';
    }
});    
function create_theme_list(keyword){
    if(keyword == '') {
        const source = document.getElementById("detail-themes-template").innerHTML;
        const template = Handlebars.compile(source);
        const html = template({list:theme_list});
        $('#detail-theme-list-area').html(html);
    } else {
        const source = document.getElementById("detail-themes-template").innerHTML;
        const template = Handlebars.compile(source);
        const html = template({list:theme_list.filter(theme => theme.name.includes(keyword))});
        $('#detail-theme-list-area').html(html);
    }
}
function initialize(){
    getFetch('/api/v1/judal/themes').then(data => {
        console.log(data); 
        //테마 체크박스 만들기
        const source = document.getElementById("themes-template").innerHTML;
        const template = Handlebars.compile(source);
        const html = template({themes:data});
        $('#themes-area').html(html);
    }).catch(error=> {
        console.error(error.message); 
    });
    getFetch('/api/v1/judal/detail-themes').then(data => {
        console.log(data); 
        theme_list = data;
        create_theme_list('');
    }).catch(error=> {
        console.error(error.message); 
    });
}
function makeTable(list, targetArea){
    const $targetArea =$('#' + targetArea);
    if(!list || list.length == 0){
        $targetArea.html('데이터가 없습니다.');
        return;
    }
    let fieldName = currentSort.field;
    if(fieldName){
        list.sort(function(a, b) {
            let x = parseFloat(a[fieldName]);
            let y = parseFloat(b[fieldName]);
            if (x < y) return currentSort.direction === 'asc' ? -1 : 1;
            if (x > y) return currentSort.direction === 'asc' ? 1 : -1;
            return 0;
        });
    }
    const source = document.getElementById("themes-result-template").innerHTML;
    const template = Handlebars.compile(source);
    const html = template({stocks:list});
    $targetArea.html(html);
    // 아이콘 설정
    const $resultArea = $targetArea.find('table thead tr');
    $resultArea.find('.sort-title i').removeClass('bi-arrow-up bi-arrow-down');  // 모든 아이콘 제거
    var currentIcon = currentSort.direction === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down';
    $resultArea.find('a[data-field="' + currentSort.field + '"] i').addClass(currentIcon);
}
//csv파일을 읽어서 테이블을 만든다.
function makeTableCsv(list,csvName){
    //정렬
    let fieldName = currentCsvSort.field;
    if(fieldName){
        list.sort(function(a, b) {
            let x = parseFloat(a[fieldName]);
            let y = parseFloat(b[fieldName]);

            if (x < y) return currentCsvSort.direction === 'asc' ? -1 : 1;
            if (x > y) return currentCsvSort.direction === 'asc' ? 1 : -1;
            return 0;
        });
    }
    //html 만들기
    const source = document.getElementById("themes-result-template").innerHTML;
    const template = Handlebars.compile(source);
    let html = template({stocks:list});
    html = '<h3>' + csvName + '</h3>' + html;
    $('#csv-result-area').html(html);

    // 아이콘 설정
    const $resultArea = $('#csv-result-area').find('table thead tr');
    $resultArea.find('.sort-title i').removeClass('bi-arrow-up bi-arrow-down');  // 모든 아이콘 제거
    var currentIcon = currentCsvSort.direction === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down';
    $resultArea.find('a[data-field="' + currentCsvSort.field + '"] i').addClass(currentIcon);

}
$(document).ready(function() {
    console.log("Document is ready!");

    $('#csv-result-area').on('click', '.sort-title', function() {
        const fieldName = $(this).data('field');
        console.log('sort:', fieldName);
        var isAscending = currentCsvSort.field === fieldName && currentCsvSort.direction === 'asc';
        currentCsvSort.direction = isAscending ? 'desc' : 'asc';
        currentCsvSort.field = fieldName;
        makeTableCsv(current_csv_list, current_csv_name);
    });
    $('#result-area').on('click', '.sort-title', function() {
        const fieldName = $(this).data('field');
        console.log('sort:', fieldName);
        var isAscending = currentSort.field === fieldName && currentSort.direction === 'asc';
        currentSort.direction = isAscending ? 'desc' : 'asc';
        currentSort.field = fieldName;
        makeTable(current_list, 'result-area');
    });


    $('#theme-filter-clear-button').on('click', function(){
        console.log('click');
        $('#detail-theme-filter-keyword').val('');
        create_theme_list('');
    })
    $('body').on('click', function() {
        $('#naver-info').css('display', 'none');
    });

    $('#detail-theme-filter-keyword').on('input', function() {
        var keyword = $(this).val().toLowerCase();
        create_theme_list(keyword);
    });
    //테마를 클릭하면 csv파일을 읽어서 리턴받는다.
    $('#judal-detail-theme-area').on("click", ".theme-view", function(e) {
        e.preventDefault();
        var csvName = $(this).data('csv-name');
        var url = '/api/v1/judal/csv/' + csvName;
        getFetch(url).then(data => {
            console.log(data);
            current_csv_list = data;
            current_csv_name = csvName;
            makeTableCsv(data, csvName);
            $('html, body').animate({ scrollTop: 0 }, 'slow'); //스크롤을 위로 올림
        }).catch(error=> {
            console.error(error.message); 
            $('#csv-result-area').html(error.message);
        });

    });
    //관심추가
    $('#myTabContent').on("click", ".btnAddDanta", function() {
        const stkCode = $(this).data('stk-code');
        const stkName = $(this).data('stk-name');
        console.log(stkCode, stkName);
        const url = '/api/v1/mystock/add';
        const data = { stk_code: String(stkCode), stk_name: stkName, stk_types:['관심'] };
        postFetch(url, data).then(data => {
            console.log(data);
        }).catch(error=> {
            console.error(error.message);
            alert(error.message);
        });
    });
    //네이버 정보
    // $('#myTabContent').on("mouseenter", ".naver-hover", function() {
    //     const stkCode = $(this).data('stk-code');
    //     const url = '/api/v1/mystock/naver-info/' + stkCode;
    //     getFetch(url).then(data => {
    //         console.log(data);
    //         var offset = $(this).offset();
    //         var html = "<h3>" + data.stk_name + "</h3>";
    //             html += "<p>" + data.company_summary.replace(/\n/g, "<br>") + "</p>";
    //         $('#naver-info').html(html)
    //                         .css({
    //                             display: 'block',
    //                             top: offset.top + $(this).outerHeight() + 5,
    //                             left: offset.left
    //                         });             
    //     }).catch(error=> {
    //         console.error(error.message); 
    //     });        
    // }); 
    // $('#result-area').on("mouseleave", ".naver-hover", function() {
    //     $('#naver-info').css('display', 'none');
    // });

    //검색버튼
    $('#search-button').on('click', function(){
        const url = '/api/v1/judal/search';
        const themes = $('#search-area').find('.theme:checked').map(function(){
            return $(this).val();
        }).get();
        if(themes.length == 0){
            alert("테마를 선택해주세요.");
            return;
        }
        let market = $('#search-area').find('.btn-check:checked').val();
        let totalCost = $('#total-cost').val();
        let currentCostStart = $('#current-cost-start').val();
        let currentCostEnd = $('#current-cost-end').val();
        
        totalCost = parseInt(totalCost, 10);
        currentCostStart = parseInt(currentCostStart, 10);
        currentCostEnd = parseInt(currentCostEnd, 10);
        const data = {
            "테마목록": themes,
            "시장종류": market,
            "시가총액": totalCost,
            "현재가": [currentCostStart, currentCostEnd]
        };
        //debugger;
        postFetch(url, data).then(data => {
            console.log(data);
            const uniqueData = Array.from(
                new Map(data.map(item => [item.종목코드, item])).values()
            );
            current_list = uniqueData;
            makeTable(uniqueData, 'result-area');            
        }).catch(error=> {
            console.error(error.message);
            $('#result-area').html(error.message);
        });
    })
    initialize();

});
</script>
{% endraw %}
{% endblock %}