<!DOCTYPE html>
<html lang="en">
<head>
<!-- =================================================== -->
{% include 'common/meta-css.html' %}
<!-- =================================================== -->    
<title>{{title}}</title>
</head>
<body>
    <div class="container mt-5">
        <h2>차트 샘플 입력 폼</h2>
        <form action="/sample/insert" method="post">
            <div class="mb-3">
                <label for="chartType" class="form-label">차트 종류</label>
                <input type="text" class="form-control" id="chartType" name="chart_type" required>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">차트 제목</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="jsonInput" class="form-label">입력 JSON</label>
                <textarea class="form-control" id="jsonInput" name="json" rows="10" required></textarea>
            </div>
            <div class="mb-3">
                <label for="note" class="form-label">차트 설명</label>
                <textarea class="form-control" id="note" name="note" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">제출</button>
            </div>
        </form>
    </div>    

<!-- =================================================== -->
{% include 'common/footer.html' %}
<!-- -================================================== -->
<script>
    $( document ).ready(function() {
    });
</script>
</body>
</html>