<div class="max-w-4xl mx-auto p-5">
    <h1 class="text-center text-lg font-bold">샘플 챠트 데이터 수정</h1>
    <form id="sampleEditForm" class="flex flex-col gap-4" >
        <div>
            챠트 종류 : <b>((chartTypeName))</b>
            <input type="hidden" id="chartType" value="((sample.chart_type))" />
            <input type="hidden" id="chartId" value="((sample.id))" />
        </div>

        <div>
            <label for="chartTitle" class="block text-sm font-medium text-gray-700">차트 제목</label>
            <input type="text" id="title" name="chartTitle" required value="((sample.title))" class="mt-1 block w-full p-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
        </div>

        <div>
            <label for="jsonData" class="block text-sm font-medium text-gray-700">JSON</label>
            <textarea id="jsonData" name="json_data" required rows="7"  class="mt-1 block w-full p-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">((sample.json_data))</textarea>
        </div>

        <div>
            <label for="chartDescription" class="block text-sm font-medium text-gray-700">차트 설명</label>
            <textarea id="chartDescription" name="note" required rows="4"  class="mt-1 block w-full p-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">((sample.note))</textarea>
        </div>


        <div class="flex justify-center">
            <button type="submit" id="btnSubmit" class="inline-flex w-32 justify-center py-2 px-1 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                수정
            </button>
            <button id="btnCancel" class="inline-flex ml-5 w-32 justify-center py-2 px-1 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-300 hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                취소
            </button>
        </div>        
    </form>

    <div id="messageArea" class="hidden mt-5 p-4 bg-gray-50 border border-gray-200 rounded-md text-red-500">

    </div>
</div>