{% extends 'common/base.html' %}
{% block style %}
<style>
    /* 사용자 정의 CSS 스타일 */
    .calendar-border-day {
        border: 1px solid #dee2e6; /* 테두리 스타일 및 색상 지정 */
        padding: 10px; /* 선택적으로 패딩 추가 */
        height : 150px;
    }
    .calendar-border-week {
        border: 1px solid #dee2e6; /* 테두리 스타일 및 색상 지정 */
        padding: 10px; /* 선택적으로 패딩 추가 */
    }    
    .bg-today {
        background-color: #ffffe0;
    }
    .circle {
        display: inline-block;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid red;
    }

    .event {
        font-size: 0.8em;
        color: black;
        background-color: #f5c592;
        padding: 2px;
        border-radius: 5px;
        margin-bottom: 1px;
    }
    .event-nap, .event-whan {
        font-size: 0.8em;
        color: black;
        background-color: #eae6e3;
        padding: 2px;
        border-radius: 5px;
        margin-bottom: 1px;
    }
    .event-sang {
        font-size: 0.8em;
        color: black;
        background-color: #f2b1b1;
        padding: 2px;
        border-radius: 5px;
        margin-bottom: 1px;
    }

    .event-cheong {
        font-size: 0.8em;
        color: black;
        background-color: #9bd7ec;
        padding: 2px;
        border-radius: 5px;
        margin-bottom: 1px;
    }

    .day-data1 {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }   
  
    .border-icon {
    border: 1px solid #007bff; /* 보더 색상 */
    padding: 8px 12px; /* 보더 주변의 여백을 조절할 수 있습니다 */
    border-radius: 5px; /* 보더의 모서리를 둥글게 만들기 위해 사용 */
    }

    .not-this-month {
        color: rgba(128, 128, 128, 0.5); /* 흐릿한 회색 (rgba 사용) */
        font-style: italic; /* 기울기 */
    }

    .not-this-month-holiday {
        color: rgba(220, 53, 69, 0.5); /* #dc3545 색상에 투명도 0.5 */
        font-style: italic; /* 기울기 */
    }
    .not-this-month-saterday {
        color: rgba(13, 110, 253, 0.5); /* #0d6efd 색상에 투명도 0.5 */
        font-style: italic; /* 기울기 */
    }

    .text-holiday {
        color: #dc3545; /* Bootstrap 5의 text-danger 색상 값 */
    }
    .text-saterday {
        color: #0d6efd; /* Bootstrap 5의 text-primary 색상 값 */
    }

    .holiday {
        font-size: 0.8em;
        color:#dc3545;
        /* background-color: #f5c592; */
        padding: 2px;
        border-radius: 5px;
        margin-bottom: 1px;
    }    
    .ipo_event > a {
        text-decoration: none;
        color: black;
    }
</style>
{% endblock %}

{% block content %}
<section id="calendar-area" class="container">
    <div id="headerCalendar" class="mt-5 text-center d-flex align-items-center">
        <!-- <a href="#" id="prevYear" class="text-decoration-none border-icon"  title="prev year"><i class="bi bi-caret-left-fill"></i></a> -->
        <a href="#" id="prevMonth"  class="text-decoration-none  border-icon mx-2" title="prev month"><i class="bi bi-caret-left"></i></a>
        <h3 class="d-inline"><span id="currentYyyy"></span>년 <span id="currentMm"></span>월</h3>
        <a href="#" id="nextMonth" class="text-decoration-none  border-icon mx-2"  title="next month"><i class="bi bi-caret-right"></i></a>
        <!-- <a href="#" id="nextYear" class="text-decoration-none  border-icon me-2" title="next year"><i class="bi bi-caret-right-fill"></i></a> -->
        <a href="#" id="todayYearMonth" class="text-decoration-none  border-icon me-2" title="today"><i class="bi bi-calendar-check today-icon" title="오늘"></i></a>
        <a href="#" id="printToImage" class="text-decoration-none  border-icon me-2" title="save as image"><i class="bi bi-file-earmark-image"></i></a>
    </div>
    <div id="mainCalendar" class="mt-2 vh-100"></div>
</section>
{% endblock %}

{% block script %}
{% raw %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="/public/js/calendar-utility.js"></script>
<script>

    async function fetchDataAndDrawCalendar(yyyy, mm) {
        try {
            // 두 개의 fetchData 호출을 동시에 실행하고, 모두 완료될 때까지 기다림
            let yyyymm = yyyy + '' + (mm < 10 ? '0' + mm : mm);
            const [startYmd, endYmd] = CalendarMaker.startEndYmd(yyyy, mm);

            const [holidays,ipoDays] = await Promise.all([
                // fetchData('/eventdays/' + yyyymm ),
                // fetchData('/ipo/days/' + yyyymm),
                fetchData('/api/v1/eventdays/calendar/' + startYmd + '/' + endYmd),
                fetchData('/api/v1/ipo/calendar/' + startYmd + '/' + endYmd)
            ]);
            
            console.log(holidays);
            console.log(ipoDays);
            const holidaysY = holidays
                .filter(item => item.isHoliday === "Y")
                .map(item => ({
                    name: item.dateName,
                    ymd: item.locdate
                }));
            // 두 개의 데이터가 모두 준비되면 drawCalendar를 호출
            drawCalendar(yyyy, mm, holidaysY, ipoDays);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    } 
    function drawCalendar(yyyy,mm, holidays,eventDays){
            $('#currentYyyy').text(yyyy);
            $('#currentMm').text(mm);
            CalendarMaker.setHolidays(holidays);
            CalendarMaker.setEventDays(eventDays);
            var html = CalendarMaker.calendarHtml(yyyy, mm);
            $('#mainCalendar').html(html);
            $('#mainCalendar').find('.week').addClass('calendar-border-week');
            $('#mainCalendar').find('.day').addClass('calendar-border-day');
       
            $('#mainCalendar').on('click', '.day', function(e) {
                // 클릭 이벤트 핸들러 로직
                e.stopPropagation();
                console.log($(this).data('ymd'));
            });
    }       
    $( document ).ready(function() {
        console.log('calendar.... ');

        
        $("#prevMonth").on('click', function(){
            let ym = CalendarMaker.currentYearMonth();
            ym  = CalendarMaker.prevYearMonth(ym[0], ym[1]);
            fetchDataAndDrawCalendar(ym[0], ym[1]);
        });
        $("#prevYear").on('click', function(){
            let ym = CalendarMaker.currentYearMonth();
            fetchDataAndDrawCalendar(ym[0]-1, ym[1]);		
        });
        $("#nextMonth").on('click', function(){
            let ym = CalendarMaker.currentYearMonth();
            ym  = CalendarMaker.nextYearMonth(ym[0], ym[1]);
            fetchDataAndDrawCalendar(ym[0], ym[1]);
        });
        $("#nextYear").on('click', function(){
            let ym = CalendarMaker.currentYearMonth();
            fetchDataAndDrawCalendar(ym[0]+1, ym[1]);					
        });
        $('#todayYearMonth').on('click', function(){
            let today = new Date();
            let y = today.getFullYear();
            let m= today.getMonth() + 1;
            fetchDataAndDrawCalendar(y,m);
        });
        // 달력을 이미지로 저장함.
        $('#printToImage').on('click', function(){
            const yyyy = $('#currentYyyy').text();
            const mm = $('#currentMm').text();
            $('#mainCalendar').prepend(`<h1 id="tempHeader" class="text-center">${yyyy}.${mm}</h1>`);
            html2canvas(document.querySelector("#mainCalendar")).then(canvas => {
                // 캡처된 이미지 데이터를 URL로 변환
                var imgData = canvas.toDataURL("image/png");

                // 가상의 링크를 생성하여 이미지 다운로드
                var link = document.createElement('a');
                link.href = imgData;
                link.download = 'calendar.png';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);           
            });
            $('#tempHeader').remove();
        });
        // 달력 호출 
        var date = new Date();
        var yyyy = date.getFullYear();
        var mm = date.getMonth() + 1; 
        fetchDataAndDrawCalendar(yyyy, mm);

    });
    </script>	
    
{% endraw %}
{% endblock %}