<!DOCTYPE html>
<html>
<head>
<!-- =================================================== -->
(% include 'common/meta-css.html' %)
<!-- =================================================== -->
<title>Eliana-chart maker</title>
</head>
<body>
    <nav class="nav-custom h-8 flex items-center px-4" style="height: 1cm;">
        <span class="font-bold">Eliana-Chart Server</span>
        <a href="#" data-url="chart" class="menu-main mx-2">챠트</a>
        <a href="#" data-url="sample" class="menu-main mx-2">샘플</a>
    </nav>    
    <section id="page">
    </section>
<!-- =================================================== -->
(% include 'common/footer.html' %)
<!-- -================================================== -->
<script src="/assets/js/test-data.js"></script>
<script src="/assets/js/eliana.js"></script>
<script>
$( document ).ready(function() {
    $('.menu-main').on('click', function(e){
        e.stopPropagation();
        var url = $(this).data('url');
        JuliaUtil.ajax("/" + url,{}, {
            success : function(response){
                var html = response.template;
                $('#page').html(html);
                if(url == 'chart') {init_chart_html();}
                else if(url == 'sample'){init_sample_list_html();}
            }
        })
    });
});//end document ready
</script>	
</body>
</html>