<!DOCTYPE html>
<html>
<head>
<!-- =================================================== -->
{% include 'common/meta-css.html' %}
<!-- =================================================== -->
<title>Eliana-chart maker</title>
</head>
<body>
<!-- =================================================== -->
{% include 'common/top-menu.html' %}
<!-- =================================================== -->
{% include 'common/left-menu.html' %}
<!-- =================================================== -->
<main class="container text-center">
<h1>Main</h1>

</main>
<!-- =================================================== -->
{% include 'common/footer.html' %}
<!-- -================================================== -->
<script>
$( document ).ready(function() {
    console.log('ready...');
});
</script>	
</body>
</html>