{% extends 'common/base.html' %}
{% block style %}
<style>
    #logs {
        height: 400px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: rgb(104, 100, 100);
        color: white;
    }    
</style>
{% endblock %}

{% block content %}
<section id="list" class="container">
    <h2>단타머신</h2>
    <div id="button-area">
        <button id="btnDantaStartStop" class="btn btn-primary">Danta Start</button>
    </div>
    <div id="status-area">
        <div id="status-danta"></div>
    </div>
    <div id="logs">
    </div>
</section>
{% raw %} 
<script id="table1-area" type="text/x-handlebars-template">
</script>
{% endraw %}
{% endblock %}

{% block script %}
{% raw %}
<script>
    const DANTA_START = 'Danta Start';
    const DANTA_STOP = 'Danta Stop';
    function initialize() {
        fetchData('/api/v1/danta/status')
        .then(data => {
            const status = data.status;
            const message = data.message;
            $('#status-danta').text(message);
            if(status === 'running') {
                $('#btnDantaStartStop').text(DANTA_STOP);
                $('#btnDantaStartStop').removeClass('btn-primary').addClass('btn-secondary');
            } else {
                $('#btnDantaStartStop').text(DANTA_START);
                $('#btnDantaStartStop').removeClass('btn-secondary').addClass('btn-primary');
            }
        })
        .catch(error=> {
            console.error(error); 
        });
    }
    $( document ).ready(function() {
        console.log('단타머신 ready.... ');
        var ws = new WebSocket("ws://localhost:8000/ws");

        ws.onmessage = function(event) {
            var logsDiv = $('#logs');
            var newLog = $('<div>').text(event.data);
            logsDiv.append(newLog);
            // 자동 스크롤
            logsDiv.scrollTop(logsDiv[0].scrollHeight);
        };

        ws.onerror = function(event) {
            console.error("WebSocket error observed:", event);
        };

        ws.onclose = function(event) {
            console.log("WebSocket connection closed:", event);
        };

        $('#btnDantaStartStop').on('click', function(){
            const text = $('#btnDantaStartStop').text();
            debugger;
            if(text == DANTA_STOP){
                fetchData('/api/v1/danta/stop')
                .then(data => {
                    $('#status-danta').text(data.message);
                    $('#btnDantaStartStop').text(DANTA_START);
                    $('#btnDantaStartStop').removeClass('btn-secondary').addClass('btn-primary');
                })
                .catch(error=> {
                    console.error(error); 
                });
            } else {
                fetchData('/api/v1/danta/start')
                .then(data => {
                    $('#status-danta').text(data.message);
                    $('#btnDantaStartStop').text(DANTA_STOP);
                    $('#btnDantaStartStop').removeClass('btn-primary').addClass('btn-secondary');
                })
                .catch(error=> {
                    console.error(error); 
                });
            }
            
        })
        initialize();
    });
    </script>	    
{% endraw %}
{% endblock %}