
#데이터베이스
DATABASE_URI=postgresql://kdy987:kalpa987!@localhost:5432/stock

#한국투자증권
KOREA_INVESTMENT_APP_KEY=
KOREA_INVESTMENT_APP_SECRET=
KOREA_INVESTMENT_URL_BASE=https://openapivts.koreainvestment.com:29443