{% extends 'common/base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<h1>LS-Restful API Test</h1>
<div id="basic-info-area" class="border m-2 p-2 bg-secondary">
    user_id: <input type="text" name="user_id" id="user_id" value="kdy987">
    acct_no: <input type="text" name="acctno" id="acctno" value="00501716387">
</div>
<div>
        <div class="row">
            <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Market</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="market_gb" id="market_all" value="전체" checked>
                    <label class="form-check-label" for="market_all">
                        전체
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="market_gb" id="market_kospi" value="코스피">
                    <label class="form-check-label" for="market_kospi">
                        코스피
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="market_gb" id="market_kosdaq" value="코스닥">
                    <label class="form-check-label" for="market_kosdaq">
                        코스닥
                    </label>
                </div>
            </div>
            </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Up/Down</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="updown_gb" id="up" value="상승" checked>
                    <label class="form-check-label" for="up">
                        상승
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="updown_gb" id="down" value="하락">
                    <label class="form-check-label" for="down">
                        하락
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="updown_gb" id="steady" value="보합">
                    <label class="form-check-label" for="steady">
                        보합
                    </label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Yesterday/Today</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="yester_or_today" id="yesterday" value="전일" checked>
                    <label class="form-check-label" for="yesterday">
                        전일
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="yester_or_today" id="today" value="금일">
                    <label class="form-check-label" for="today">
                        금일
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="btnRange">1.등락률</button>
    <button id="btnVolumn">2.거래량</button>
    <button id="btnRapidUp">3.전일동시간대비거래급증</button>
    <button id="btnTimeoutRange">4.시간외등락율</button>
    <button id="btnTimeoutVolume">5.시간외거래량</button>
    <button id="btnExpectFilfull">6.예상체결량</button>
    <button id="btnExpectDanilgaRange">7.단일가예상등락율</button>
    <button id="btnPurchaseCost">8.거래대금</button>
</div>
<div id="list-area"></div>
{% raw %}
<!--handlebar scripts-->

{% endraw %}
{% endblock %}
{% block script %}
{% raw %}
<script>
async function fetch_handlebar(hbs_file_path) {
    const response = await fetch(`/template?path=${hbs_file_path}`);
    if (!response.ok) {
        throw new Error('Network response was not ok ' + response.statusText);
    }
    const data = await response.json();
    return data.template;
}
async function fetch_handlebar_and_compile(path) {
    const data = await fetch_handlebar(path);
    return Handlebars.compile(data);
}

$( document ).ready(function() {
    console.log( "ready!")
    //등락률
    $('#btnRange').click(async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/range/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('range.html')
        postFetch(url, data)
            .then(data => {
                //TODO 코드에 따라서 처리해야함. 왜냐하면 잘못된 데이터가 올수 있음
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1441OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });
    });
    //거래량
    $('#btnVolumn').on('click', async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/volumn/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('volumn.html')
        postFetch(url, data)
            .then(data => {
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1452OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });
    })
    //3.전일대비거래급증
    $('#btnRapidUp').on('click', async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/rapidup/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('rapid_up.html')
        postFetch(url, data)
            .then(data => {
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1466OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });
    });
    //4.시간외등락율
    $('#btnTimeoutRange').on('click', async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/timeout-range/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('timeout_range.html')
        postFetch(url, data)
            .then(data => {
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1481OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });
    });
    //5.시간외거래량
    $('#btnTimeoutVolume').on('click', async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/timeout-volume/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('timeout_volume.html')
        postFetch(url, data)
            .then(data => {
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1482OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });
    });
    //6.예상체결량
    $('#btnExpectFilfull').on('click', async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/expect-fulfill/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('expect_fulfill.html')
        postFetch(url, data)
            .then(data => {
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1489OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });
    });
    //7.단일가예상등락율
    $('#btnExpectDanilgaRange').on('click', async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/expect-danilga-range/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('expect_danilga_range.html')
        postFetch(url, data)
            .then(data => {
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1492OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });
    });
    
    //8.거래대금
    $('#btnPurchaseCost').on('click', async function(){
        const user_id = $('#user_id').val()
        const acct_no = $('#acctno').val()
        const url = `/api/v1/ls/rank/purchase-cost/${user_id}/${acct_no}`
        const market_gb = $('input[name=market_gb]:checked').val()
        const updown_gb = $('input[name=updown_gb]:checked').val()
        const yester_or_today = $('input[name=yester_or_today]:checked').val()

        const data = {
            market_gb : market_gb,
            updown_gb: updown_gb,
            yester_or_today : yester_or_today,
        }
        // debugger;
        JuliaUtil.displayLoading(true)
        const template = await fetch_handlebar_and_compile('purchase_cost.html')
        postFetch(url, data)
            .then(data => {
                JuliaUtil.displayLoading(false)
                console.log(data);
                const html = template({list: data.t1463OutBlock1});
                $('#list-area').html(html);
            })
            .catch(error => {
                JuliaUtil.displayLoading(false)
                $('#list-area').html(error.message);
            });        
    })
});
</script>
{% endraw %}
{% endblock %}