<!DOCTYPE html>
<html lang="ko">
<head>
<!-- =================================================== -->
{% include 'common/meta-css.html' %}
<!-- =================================================== -->    
    <title>에러 페이지</title>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">오류:</span> 페이지를 찾을 수 없습니다.</p>
        <p class="lead">
            요청하신 페이지는 존재하지 않거나 이동되었습니다.
        </p>
        <a href="/" class="btn btn-primary">홈페이지로 돌아가기</a>
    </div>

<!-- =================================================== -->
{% include 'common/footer.html' %}
<!-- -================================================== -->
</body>
</html>
